
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>成功</title>

</head>

<body>
    <div style="width:900px;height:600px;">
        @Html.Raw(ViewBag.EditorHtml22)
        </div>
    
    <script>
        function OnWordDataRegionClick(Name, Value, Left, Bottom) {

            if (Name == "PO_dept") {
                //连接Views/Home/Contact.cshtml
                var strRet = document.getElementById("PageOfficeCtrl11").ShowHtmlModalDialog("/Home/Contact", Value, "left=" + Left + "px;top=" + Bottom + "px;width=400px;height=300px;frame=no;");
                //if (strRet != "") {
                // return (strRet);
                //}
                // else {
                // if ((Value == undefined) || (Value == ""))
                // return " ";
                //else
                //return Value;
                //}
            }
        }


    </script>
</body>
</html>
