
@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using (Html.BeginForm("", "api/PREPARE_SCHEMEApi/Put"))
{
    <fieldset>
        <div></div>
        <div>
            <div class="input_search">
                <div class="input_search-label">
                    填写审核意见：
                </div>
                <div class="input_search-field">
                    <textarea name="AUDITOPINION" style="width:200px;height:80px;">这里写内容</textarea>
                </div>
            </div><br />
            <input type="hidden" name="ID" value="@ViewBag.Id" />
            <input type="hidden" name="ISAGGREY" value="" id="ISAGGREY" />
            <input type="submit" value="同意送批准" onclick="patongyi(this)" />
            <input type="submit" value="不同意" onclick="patongyi(this)" />
        </div>
    </fieldset>
}
<script type="text/javascript">
    function patongyi(arr) {
        var zhi = $(arr).val();
        if (zhi == "同意送批准") {
            $("#ISAGGREY").val("同意");
        }
        else if (zhi=="不同意") {
            $("#ISAGGREY").val("不同意");
        }
    }
</script>