
@{
    Layout = "~/Views/Shared/AppCreate.cshtml";
}

<fieldset>
    <legend>
        证书编号:<label>123</label>
        <input class="a2 f2" type="button" onclick="BackList('VJIANDINGRENWU/Xuanzhefangan')" value="返回" />
    </legend>
    <div>
        <div class="input_search">
            <label>试验方案制定</label><br style="clear:both;" />
            <div class="input_search-label">
                选择方案模板：
            </div>
            <div class="input_search-field">
                <label>指示仪表-xxx1</label>
                <input type="button" value="选择" />
            </div>
        </div><br />
        <label>被检器具主要参数</label><br style="clear:both;" />
        <div class="input_search">
            <div class="input_search-label">
                *器具名称：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                *型      号：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                规      格：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                出厂编号：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                制造单位：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                *准确度等级：
            </div>
            <div class="input_search-field">
                <input type="text" name="ACCURACY_GRADE" id="ACCURACY_GRADE" />
            </div>
        </div><br />
        <div class="input_search" id="diannengmaicong">
            <div class="input_search-label">
                脉冲常数：
            </div>
            <div class="input_search-field">
                <input type="text" name="PULSE_CONSTANT" id="PULSE_CONSTANT" />
            </div>
        </div><br />
        <div class="input_search" id="diannengeding">
            <div class="input_search-label">
                额定频率：
            </div>
            <div class="input_search-field">
                <input type="text" name="RATED_FREQUENCY" id="RATED_FREQUENCY" />
            </div>
        </div><br />
        <div class="input_search" id="huganqiwaijie">
            <div class="input_search-label">
                外接电阻值：
            </div>
            <div class="input_search-field">
                <input type="text" name="EXTERNAL_RESITANCE_VALUE" id="EXTERNAL_RESITANCE_VALUE" />
            </div>
        </div><br />
        <label>其他信息</label><br style="clear:both;" />
        <div class="input_search">
            <div class="input_search-label">
                环境温度：
            </div>
            <div class="input_search-field">
                <input type="text" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                相对湿度：
            </div>
            <div class="input_search-field">
                <input type="text" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label" id="pandundidian">

            </div>
            <div class="input_search-field">
                <input type="text" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label" id="panduanrqi">

            </div>
            <div class="input_search-field">
                <input type="text" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                *核验员：
            </div>
            <div class="input_search-field">
                <input type="text" />
            </div>
        </div><br style="clear:both;" />
        <table id="biaozhuizhuangzi"></table><br style="clear:both;" />
        <table id="biaozhuiqi"></table><br style="clear:both;" />
        @*弹窗*@
        <div id="w" class="easyui-window" title="Window Layout" data-options="iconCls:'icon-save'" style="width:700px;height:400px;padding:5px;">
            <div class="easyui-layout" data-options="fit:true">
                @*<div data-options="region:'east',split:true" style="width:100%;" id="tanchuandivzhuangzi">
                    <table id="zhuangzitianjia" style="display:none"></table><br style="clear:both;" />
                    <table id="qitianjia" style="display:none"></table><br style="clear:both;" />
                </div>*@
                <div style="width:100%;display:none" id="tanchuandivzhuangzi">
                    <table id="zhuangzitianjia" ></table>
                </div>
                <div style="width:100%;display:none" id="tanchuandivqi">
                    <table id="qitianjia" ></table>
                </div>
                @*<div data-options="region:'center'" style="padding:10px;display:none;width:100%" id="tanchuandivqi">
                    <table id="qitianjia"></table><br style="clear:both;" />
                </div>*@               
                <div data-options="region:'south',border:false" style="text-align:right;padding:5px 0 0;">
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" href="javascript:void(0)" onclick="javascript:alert('ok')" style="width:80px">Ok</a>
                    <a class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" href="javascript:void(0)" onclick="javascript:alert('cancel')" style="width:80px">Cancel</a>
                </div>
            </div>
        </div>
        @*************************@
        <input type="button" value="下一步" />
        <input type="button" value="保存下一步" />
    </div>
</fieldset>
<script type="text/javascript">
    $(function () {
        $('#w').window('close')
        var shiyanshi = "电能实验室";
        switch (shiyanshi) {
            case "电能实验室":
                $("#diannengmaicong").show();
                $("#diannengeding").show();
                $("#huganqiwaijie").hide();
                break;
            case "直流实验室":
                $("#diannengmaicong").hide();
                $("#diannengeding").hide();
                $("#huganqiwaijie").hide();
                break;
            case "指示仪表实验室":
                $("#diannengmaicong").hide();
                $("#diannengeding").hide();
                $("#huganqiwaijie").hide();
                break;
            case "互感器实验室":
                $("#diannengmaicong").hide();
                $("#diannengeding").show();
                $("#huganqiwaijie").show();
                break;
            case "数表三相实验室":
                $("#diannengmaicong").hide();
                $("#diannengeding").hide();
                $("#huganqiwaijie").hide();
                break;
            case "数表单相实验室":
                $("#diannengmaicong").hide();
                $("#diannengeding").hide();
                $("#huganqiwaijie").hide();
                break;
            default:

        }

        //根据证书的不同展示不同的页面
        var zhengshuleibei = "检定";
        if (zhengshuleibei = "检定") {
            $("#pandundidian").html("检定地点：");
            $("#panduanrqi").html(" *检定日期：");
        }
        else if (zhengshuleibei = "校准") {
            $("#pandundidian").html("校准地点：");
            $("#panduanrqi").html(" *校准日期：");
        }
        //标准器绑定
        $('#biaozhuiqi').datagrid({
            title: '标准器', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            //url: '../VJIANDINGRENWU/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            toolbar: [
                 {
                     text: '+',
                     iconCls: 'icon-search',
                     handler: function () {
                         return biaozhunqi();
                     }
                 },
                  {
                      text: '删除',
                      iconCls: 'icon-search',
                      handler: function () {
                          return lingqu();
                      }
                  }
            ],
            columns: [[

                    { field: 'ID', title: '名称', width: 64 }
					, { field: 'ORDER_NUMBER', title: '测量范围', width: 64 }
            ]],
        })
        //标准装置绑定
        $('#biaozhuizhuangzi').datagrid({
            title: '标准装置', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            //url: '../VJIANDINGRENWU/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            toolbar: [
                 {
                     text: '+',
                     iconCls: 'icon-search',
                     handler: function () {
                         return biaozhunzhuangzi();
                     }
                 },
                  {
                      text: '删除',
                      iconCls: 'icon-search',
                      handler: function () {
                          return lingqu();
                      }
                  }
            ],
            columns: [[

                    { field: 'ID', title: '名称', width: 64 }
					, { field: 'ORDER_NUMBER', title: '测量范围', width: 64 }
            ]],
        })
    });
    //标准器的选择
    function biaozhunqi() {
        $('#w').window('close')     
        //标准器弹窗页面添加
        $('#qitianjia').datagrid({
            title: '计量标准器列表', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            //url: '../VJIANDINGRENWU/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            columns: [[
                { field: 'ID', title: '类别', width: 64 }
                , { field: 'ID', title: '名称', width: 64 }
				, { field: 'ORDER_NUMBER', title: '出厂编号', width: 64 }
                , { field: 'ORDER_NUMBER', title: '测量范围', width: 64 }
                , { field: 'ORDER_NUMBER', title: '不确定度/准确度等级/最大允许误差', width: 64 }
                , { field: 'ORDER_NUMBER', title: '检定/校准证书编号', width: 64 }
                , { field: 'ORDER_NUMBER', title: '有效期至', width: 64 }
            ]],
        })
        $("#tanchuandivqi").show();
        $('#w').window('open');
        $("#tanchuandivzhuangzi").hide();
    }
    //标准装置选择
    function biaozhunzhuangzi() {
        $('#w').window('close')  
        //标准器弹窗页面添加
        $('#zhuangzitianjia').datagrid({
            title: '计量标准装置列表', //列表的标题
            iconCls: 'icon-site',
            width: 'auto',
            height: 'auto',
            //nowrap: false,
            striped: true,
            collapsible: true,
            //url: '../VJIANDINGRENWU/GetData', //获取数据的url
            sortName: 'ID',
            sortOrder: 'desc',
            idField: 'ID',
            columns: [[
                 { field: 'ID', title: '名称', width: 64 }
                , { field: 'ORDER_NUMBER', title: '测量范围', width: 64 }
                , { field: 'ORDER_NUMBER', title: '不确定度/准确度等级/最大允许误差', width: 64 }
                , { field: 'ORDER_NUMBER', title: '计量标准证书编号', width: 64 }
                , { field: 'ORDER_NUMBER', title: '有效期至', width: 64 }
            ]],
        })    
        $("#tanchuandivzhuangzi").show();
        $('#w').window('open', {
            collapsible: false,
            minimizable: false,
            maximizable: false
        });
        $("#tanchuandivqi").hide();
    }
</script>
