
@{
    Layout = "~/Views/Shared/AppCreate.cshtml";
}

<fieldset>
    <legend>
        证书编号:<label>123</label>
        <input class="a2 f2" type="button" onclick="BackList('VJIANDINGRENWU/Xuanzhefangan')" value="返回" />
    </legend>
    <div>
        <div class="input_search">
            <label>试验方案制定</label><br />
            <div class="input_search-label">
                选择方案模板：
            </div>
            <div class="input_search-field">
                <label>指示仪表-xxx1</label>
                <input type="button" value="选择" />
            </div>
        </div><br />
        <label>被检器具主要参数</label><br />
        <div class="input_search">
            <div class="input_search-label">
                *器具名称：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                *型      号：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                规      格：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                出厂编号：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                制造单位：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                *准确度等级：
            </div>
            <div class="input_search-field">
                <input type="text" readonly="readonly" />
            </div>
        </div><br />
        <label>其他信息</label><br />
        <div class="input_search">
            <div class="input_search-label">
                环境温度：
            </div>
            <div class="input_search-field">
                <input type="text"  />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                相对湿度：
            </div>
            <div class="input_search-field">
                <input type="text"  />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                检定地点：
            </div>
            <div class="input_search-field">
                <input type="text"/>
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                *检定日期：
            </div>
            <div class="input_search-field">
                <input type="text" />
            </div>
        </div><br />
        <div class="input_search">
            <div class="input_search-label">
                *核验员：
            </div>
            <div class="input_search-field">
                <input type="text" />
            </div>
        </div><br />
        <label>检定使用的标准器</label><br />
        <input type="button" value="+" />
    </div>
</fieldset>
