
@{
    Layout = "~/Views/Shared/AppCreate.cshtml";
}

@using (Html.BeginForm("", "api/PREPARE_SCHEMEApi/Post"))
{
    <fieldset>
        <legend>
            <label>报告证书类别</label>
            <input class="a2 f2" type="button" onclick="BackList('VJIANDINGRENWU')" value="返回" />
        </legend>
        <div>
            <div class="input_search">
                <div class="input_search-label">
                    报告类别:
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("ORDER_STATUSDDL_String", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "REPORT_CATEGORY"), "请选择", new { id = "REPORT_CATEGORY_String" })
                </div>
                <div class="input_search-label">
                    证书类别:
                </div>
                <div class="input_search-field">
                    <select id="aa" onchange="zhengshuxuanzhe()">
                        <option value="">请选择</option>
                        <option value="检定">检定</option>
                        <option value="校准">校准</option>
                    </select>
                    @*@Html.DropDownList("ORDER_STATUSDDL_String", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "CERTIFICATE_CATEGORY"), "请选择", new { id = "CERTIFICATE_CATEGORY_String" })*@
                </div>
            </div>

            <div class="input_search" id="cnas" style="display:none">
                <div class="input_search-label">
                    CNAS:
                </div>
                <div class="input_search-field">
                    Yes: <input type="radio" id="cnasyes" name="cnas" />
                    No: <input type="radio" id="cnasno" name="cnas" />
                </div>

            </div>
            <div class="input_search" id="jianding" style="display:none">
                <div class="input_search-label">
                    检定授权:
                </div>
                <div class="input_search-field">
                    Yes: <input type="radio" id="jiandingyes" name="jianding" />
                    No: <input type="radio" id="jiandingno" name="jianding" />
                </div>
            </div>
            <div class="input_search">
                <div class="input_search-label">
                    资质:
                </div>
                <div class="input_search-field">
                    @Html.DropDownList("ORDER_STATUSDDL_String", Models.SysFieldModels.GetSysField("VJIANDINGRENWU", "QUALIFICATIONS"), "请选择", new { id = "QUALIFICATIONS_String" })
                </div>
            </div><br />
            <div class="input_search">
                <input type="button"  value="报告上传" onclick="shangchuan()"/>
                <input type="submit" value="建立方案" />
            </div>
        </div>

    </fieldset>
}
<script type="text/javascript">
    //选择证书
    function zhengshuxuanzhe() {
        var option = $("#aa option:selected");
        var b = option.text();
        if (b == "检定") {
            $("#cnas").hide();
            $("#jianding").show();
        }
        else if (b == "校准") {
            $("#cnas").show();
            $("#jianding").hide();
        }
        else {
            $("#cnas").hide();
            $("#jianding").hide();
        }
    }
    //报告上传
    function shangchuan() {
        var id="@ViewBag.Id";
        window.location.href = "/VJIANDINGRENWU/Baogaoshangchuan/" + id;
    }
</script>
<script type='text/javascript'>
        function ajaxFrom(form, url) {

            $.ajax({
                url: url,
                type: "Post",
                data: $(form).serialize(),
                dataType: "json",

                success: function (data) {
                    if (data.Code == 0) { $.messager.alert('操作提示', data.Message, 'info'); }
                    else if (data.Code == 1) {
                        var id = "@ViewBag.Id";
                        window.location.href = "/VJIANDINGRENWU/Jianlifangan/" + id;
                        return false;
                    }
                    else {
                        if ($.messager) {
                            $.messager.defaults.ok = '继续';
                            $.messager.defaults.cancel = '返回';

                            $.messager.confirm('操作提示', data.Message, function (r) {
                                if (!r) {
                                    window.location.href = 'javascript:history.go(-1)';
                                }
                            });
                        }
                    }


                }
            });

        }

        $(function () {
            $('.easyui-combobox').combobox({
                width: 243,
                onSelect: function (record) {
                    var strs = record.text.split("—");
                    $(this).combobox('setValue', strs[0]);
                }
            });
            $("form").submit(function (form) {
                if (form.result) {
                    ajaxFrom(this, this.action);
                }
                return false;
            });
            //按钮样式
            $('.a2').mouseover(function () { this.style.color = "#ae1121"; }).mouseout(function () { this.style.color = "#333"; });

        });
</script>