@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "24h变差改变量";
}
@using Common
@using Models
<thead  id="tbody_moban">
    <!--表头-->
    <tr>
        <th>Δymax= <input id="RANGE_t_1_1" name="RANGE" type="text" class="my-textbox tc" value="" ></th>
        <th colspan="5" style="text-align:left">
            <input id="RANGE1_t_1_1" name="RANGE1" type="text" class="my-textbox tc" size="50" value="">
        </th>
    </tr>
    <tr>
        <th align="center">量限：</th>
        <th >cosφ</th>
        <th>Ib(%)</th>
        <th >初始值y1(%)</th>
        <th>24h后y2(%)</th>
        <th >|y1-y2|(%)</th>
    </tr>
  
</thead>
<tbody>
    <!--表体-->
    <tr    rowindex="1">
        <td rowspan="2">
            <!--量限-->
            <select class="my-combobox" name="READVALUE" id="READVALUE_t_1_1">
                <option value="单相">单相</option>
                <option value="三相三线">三相三线</option>
                <option value="三相四线">三相四线</option>
            </select>
        </td>
        <!--<td>cosφ1.0</td>-->
        <td><input id="COS_t_1_1" name="COS" type="text" class="my-textbox tc" value="1.0" readonly="readonly"></td>
<td>
            <!--Ib(%)-->
            <select class="my-combobox" name="ACTUALVALUE" id="ACTUALVALUE_t_1_1">
                <option value="100">100</option>
                <option value="50">50</option>
                <option value="20">20</option>
                <option value="10">10</option>
                <option value="5">5</option>
            </select>
        </td>
        <td>
            <!--初始值y1(%)-->
            <input id="CHUSHIZHIYA_t_1_1" name="CHUSHIZHIYA" type="text" class="my-textbox tc" value="" onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
        <td>
            <!--24h后y2(%)-->
            <input id="ERSIHHOUA_t_1_1" name="ERSIHHOUA" type="text" class="my-textbox tc" value="" onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
        <td>
            <!--|y1-y2|(%)-->
            <input id="ABSYANDY_t_1_1" name="ABSYANDY" type="text" class="my-textbox tc" value="" onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
    </tr>
    <tr rowindex="2">
        <!--<td>cosφ0.5L</td>-->
        <td><input id="COS_t_1_2" name="COS" type="text" class="my-textbox tc" value="0.5L" readonly="readonly"></td>
        <td>
            <!--Ib(%)-->
            <select class="my-combobox" name="ACTUALVALUE" id="ACTUALVALUE_t_1_2">
                <option value="100">100</option>
                <option value="50">50</option>
                <option value="20">20</option>
                <option value="10">10</option>
                <option value="5">5</option>
            </select>
        </td>
        <td>
            <!--初始值y1(%)-->
            <input id="CHUSHIZHIYA_t_1_2" name="CHUSHIZHIYA" type="text" class="my-textbox tc" value="" onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
        <td>
            <!--24h后y2(%)-->
            <input id="ERSIHHOUA_t_1_2" name="ERSIHHOUA" type="text" class="my-textbox tc" value="" onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
        <td>
            <!--|y1-y2|(%)-->
            <input id="ABSYANDY_t_1_2" name="ABSYANDY" type="text" class="my-textbox tc" value="" onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
    </tr>
</tbody>
<tfoot>
    <!--表尾-->

</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        //tbodyIndex通道
        //thi 当前位置
        function set(tbodyIndex, thi) {
            // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框
            $("#hideDangQianTongDao").val(tbodyIndex); CreateRow();

        }
        function blurShuChuFanWeiZuiXiao(obj) {
           
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            var liangCheng = id.split('_')[2];
            //T1 = "CHUSHIZHIYA" + "_" + tongdao + "_1_1";            //改动的地方，参与计算的列的name值
            //T2 = T2 + "_" + tongdao + "_1_1";//改动的地方，参与计算的列的name值
            T1= "CHUSHIZHIYA" +id;                            //改动的地方，误差的列的name值
            T2 = "ERSIHHOUA" + id;//有功分量 相对误差(%
            T3 = "ABSYANDY" + id;//改动的地方，参与计算的列的name值
           
            var T1Data = $("#" + T1).val();//T1 相线及测量模式
            var T2Data = $("#" + T2).val();//T1 量程(Un、Ib)

           // var T3Data = $("#" + T3).val();//T1 量程(Un、Ib)
            //|y1-y2|是y1和y2差值的绝对值，小数点后四位，四舍六入，逢五奇进偶不进。
            if (T1Data != "" && T2Data != "") {
                T1Data = parseFloat(T1Data);
                T2Data = parseFloat(T2Data);
                var jianfa =  Math.abs(accSub(T1Data, T2Data));
                var data = zeroFloat(fomatFloat(jianfa, 4), 4);
                $(obj).parent().parent().find("#" + T3).val(data);
            }
            //是绝对值中最大值
            var els = $("#tongdao_" + tongdao + " input[name='ABSYANDY']"); //document.getElementsByName("ABSYANDY");
            var max = els[0].value;
            
            if (max != "") { max = Math.abs(max); }
            for (var i = 0, j = els.length; i < j; i++) {
                var val = els[i].value;
                if (val != "") {
                    val = Math.abs(val);
                    if (max == "") {
                        max = val;
                       
                    } else if (max < val) {
                        max = val;
                      
                    }
                }

            }
            var data = zeroFloat(fomatFloat(max, 4), 4);
            $("#RANGE" + "_" + tongdao + "_1_1").val(data);
     
        }



    </script>
<script language="javascript" type="text/javascript">

    //方向键控制页面控件焦点移动
    function keyDown(event) {
        var inputs = $(".my-textbox")                              //通过class属性值获取控件组合
        var focus = document.activeElement;                 //得到处于激活状态的控件
       // if (!document.getElementById("tongdao_1").contains(focus)) return;     //判断是否包含激活控件在指定的Table下
        //if (!$(".tbl").contains(focus)) return;
        var event = window.event || event;                              //获取事件
        var key = event.keyCode;                                        //得到按下的键盘Ascii码
        var flag = -1;

        //得到激活控件在组合中的具体位置
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i] === focus) {
                // alert(i);
                break;
            }
        }

        switch (key) {

            case 37: //向左键
                if (i > 0) inputs[i - 1].focus();
                break;
            case 38:                //向上键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                var tr_up = $(inputs[i]).parents("tr").prev();      //当前所在的行数的下一行
                if ($(inputs[i]).parents("tr").prev().length >= 1) {
                    var tr_down = $(inputs[i]).parents("tr").prev();      //当前所在的行数的下一行
                    if ($(tr).attr("rowindex") == 2)
                        $(tr_down).find("td").eq(td + 1).find('input').focus();
                    else
                        $(tr_down).find("td").eq(td).find('input').focus();
                }
                else {
                    var prevtable = $(inputs[i]).parents("table").prev()[0];

                    var tr_up = $(prevtable).find("tr:eq(" + ($('tr', $(prevtable)).length - 2) + ")");
                    if ($(tr_up).attr("rowindex") == 1)
                        $(tr_up).find('td').eq(td).find('input').focus();
                    else
                        $(tr_up).find('td').eq(td - 1).find('input').focus();
                }
                break;
            case 39: //向右键
                if (i < inputs.length - 1) inputs[i + 1].focus();
                break;
            case 40: //向下键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                if ($(inputs[i]).parents("tr").next().length >= 1) {
                    var tr_down = $(inputs[i]).parents("tr").next();      //当前所在的行数的下一行
                    if ($(tr).attr("rowindex") != 1)
                        $(tr_down).find("td").eq(td).find('input').focus();
                    else
                        $(tr_down).find("td").eq(td - 1).find('input').focus();
                }
                else {
                    var table = $(inputs[i]).parents("table").next();
                    var tr = $(table).find('tr:eq(0)');
                    if ($(tr).attr("rowindex") != 1)
                        $(tr).find('td').eq(td).find('input').focus();
                    else
                        $(tr).find('td').eq(td + 1).find('input').focus();
                }
                break;
            case 13:                //回车键
                event.returnValue = false;                          //阻止自动提交
                var j = i + 2;
                var flag = false;
                if (inputs.get(j).disabled == false) {
                    flag = true;
                } else {
                    for (j = i + 4; j <= inputs.length - 1; j = j + 2) {
                        if (inputs.get(j).disabled == false) {
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
        }
    }
    //-->
</script>
}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->
}