@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "24h变差改变量";
}
@using Common
@using Models
<thead  id="tbody_moban">
    <!--表头-->
    <tr>
        <th>Δymax= <input id="RANGE_t_1_1" name="RANGE" type="text" class="my-textbox tc" value="" ></th>
        <th colspan="5" style="text-align:left">
            <input id="RANGE1_t_1_1" name="RANGE1" type="text" class="my-textbox tc" size="50" value="">
        </th>
    </tr>
    <tr>
        <th align="center">量限：</th>
        <th >cosφ</th>
        <th>Ib(%)</th>
        <th >初始值y1(%)</th>
        <th>24h后y2(%)</th>
        <th >|y1-y2|(%)</th>
    </tr>
    <tr>
        <td rowspan="2" >
            <!--量限-->
            <select class="my-combobox" name="READVALUE" id="READVALUE_t_1_1">
                <option value="单相">单相</option>
                <option value="三相三线">三相三线</option>
                <option value="三相四线">三相四线</option>
            </select>
        </td>
        <td><!--cosφ-->1.0</td>
        <td>
            <!--Ib(%)-->
            <select class="my-combobox" name="ACTUALVALUE" id="ACTUALVALUE_t_1_1">
                <option value="100">100</option>
                <option value="50">50</option>
                <option value="20">20</option>
                <option value="10">10</option>
                <option value="5">5</option>
            </select>
        </td>
        <td>
            <!--初始值y1(%)-->
            <input id="CHUSHIZHIYA_t_1_1" name="CHUSHIZHIYA" type="text" class="my-textbox tc" value=""onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
        <td>
            <!--24h后y2(%)-->
            <input id="ERSIHHOUA_t_1_1" name="ERSIHHOUA" type="text" class="my-textbox tc" value="" onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
        <td>
            <!--|y1-y2|(%)-->
            <input id="ABSYANDY_t_1_1" name="ABSYANDY" type="text" class="my-textbox tc" value="" onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
    </tr>
    <tr>
        <td><!--cosφ-->0.5L</td>
        <td>
            <!--Ib(%)-->
            <select class="my-combobox" name="BUQUEDINGDU" id="BUQUEDINGDU_t_2_1">
                <option value="100">100</option>
                <option value="50">50</option>
                <option value="20">20</option>
                <option value="10">10</option>
                <option value="5">5</option>
            </select>
        </td>
        <td>
            <!--初始值y1(%)-->
            <input id="CHUSHIZHIYA_t_2_1" name="CHUSHIZHIYA" type="text" class="my-textbox tc" value="" onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
        <td>
            <!--24h后y2(%)-->
            <input id="ERSIHHOUA_t_2_1" name="ERSIHHOUA" type="text" class="my-textbox tc" value=""  onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
        <td>
            <!--|y1-y2|(%)-->
            <input id="ABSYANDY_t_2_1" name="ABSYANDY" type="text" class="my-textbox tc" value=""  onblur="blurShuChuFanWeiZuiXiao(this)">
        </td>
    </tr>
</thead>
<tbody>
    <!--表体-->

</tbody>
<tfoot>
    <!--表尾-->

</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        //tbodyIndex通道
        //thi 当前位置
        function set(tbodyIndex, thi) {
            // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框
            $("#hideDangQianTongDao").val(tbodyIndex); CreateRow();

        }
        function blurShuChuFanWeiZuiXiao(obj) {
           
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            var liangCheng = id.split('_')[2];
            //T1 = "CHUSHIZHIYA" + "_" + tongdao + "_1_1";            //改动的地方，参与计算的列的name值
            //T2 = T2 + "_" + tongdao + "_1_1";//改动的地方，参与计算的列的name值
            T1= "CHUSHIZHIYA" +id;                            //改动的地方，误差的列的name值
            T2 = "ERSIHHOUA" + id;//有功分量 相对误差(%
            T3 = "ABSYANDY" + id;//改动的地方，参与计算的列的name值
           
            var T1Data = $("#" + T1).val();//T1 相线及测量模式
            var T2Data = $("#" + T2).val();//T1 量程(Un、Ib)

           // var T3Data = $("#" + T3).val();//T1 量程(Un、Ib)
            //|y1-y2|是y1和y2差值的绝对值，小数点后四位，四舍六入，逢五奇进偶不进。
            if (T1Data != "" && T2Data != "") {
                T1Data = parseFloat(T1Data);
                T2Data = parseFloat(T2Data);
                var jianfa =  Math.abs(accSub(T1Data, T2Data));
                var data = zeroFloat(fomatFloat(jianfa, 4), 4);
                $(obj).parent().parent().find("#" + T3).val(data);
            }
            //是绝对值中最大值
            var els = $("#tongdao_" + tongdao + " input[name='ABSYANDY']"); //document.getElementsByName("ABSYANDY");
            var max = els[0].value;
            
            if (max != "") { max = Math.abs(max); }
            for (var i = 0, j = els.length; i < j; i++) {
                var val = els[i].value;
                if (val != "") {
                    val = Math.abs(val);
                    if (max == "") {
                        max = val;
                       
                    } else if (max < val) {
                        max = val;
                      
                    }
                }

            }
            var data = zeroFloat(fomatFloat(max, 4), 4);
            $("#RANGE" + "_" + tongdao + "_1_1").val(data);
     
        }



    </script>
}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->
}