@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "变送器-功率-引用误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="9">
            通道：
            <select class="my-combobox" name="" id="BianSongQiTongDao">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;<span>功率因数</span>
        </td>
    </tr>
    <tr>
        <td colspan="9">
            <div class="fl" style="margin-right:20px">
                输入范围：(
                <input name="" type="text" class="my-textbox tc" value="0" style="width:30px">
                -
                <input name="" type="text" class="my-textbox tc" value="5" style="width:30px">
                )
                @if (ViewBag.DianLiuDianYa == "电流")
                {
                    <select class="my-combobox" name="dianliu" id="dianliu">
                        <option value="A">A</option>
                        <option value="KA">KA</option>
                        <option value="mA">mA</option>
                        <option value="μA">μA</option>
                        <option value="nA">nA</option>
                        <option value="pA">pA</option>
                    </select>
                }
                else if (ViewBag.DianLiuDianYa == "电压")
                {
                    <select class="my-combobox" name="dianya" id="dianya">
                        <option value="V">V</option>
                        <option value="MV">MV</option>
                        <option value="KV">KV</option>
                        <option value="mV">mV</option>
                        <option value="μV">μV</option>
                    </select>
                }

            </div>

            <div class="fl" style="margin-right:20px">
                输出范围：(
                <input name="" type="text" class="my-textbox tc" value="4" style="width:30px">
                -
                <input name="" type="text" class="my-textbox tc" value="20" style="width:30px">
                )
                @if (ViewBag.DianLiuDianYa == "电流")
                {
                    <select class="my-combobox" name="dianliu" id="dianliu">
                        <option value="A">A</option>
                        <option value="KA">KA</option>
                        <option value="mA">mA</option>
                        <option value="μA">μA</option>
                        <option value="nA">nA</option>
                        <option value="pA">pA</option>
                    </select>
                }
                else if (ViewBag.DianLiuDianYa == "电压")
                {
                    <select class="my-combobox" name="dianya" id="dianya">
                        <option value="V">V</option>
                        <option value="MV">MV</option>
                        <option value="KV">KV</option>
                        <option value="mV">mV</option>
                        <option value="μV">μV</option>
                    </select>
                }
            </div>
            <div class="fl" style="margin-right:20px;display:none">
                @((ViewBag.DianLiuDianYa == "电流") ? "I" : "U")<sub>n</sub> =
                <input name="" type="text" class="my-textbox tc" value="100" style="width:40px">
                @if (ViewBag.DianLiuDianYa == "电流")
                {
                    <select class="my-combobox" name="dianliu" id="dianliu">
                        <option value="A">A</option>
                        <option value="KA">KA</option>
                        <option value="mA">mA</option>
                        <option value="μA">μA</option>
                        <option value="nA">nA</option>
                        <option value="pA">pA</option>
                    </select>
                }
                else if (ViewBag.DianLiuDianYa == "电压")
                {
                    <select class="my-combobox" name="dianya" id="dianya">
                        <option value="V">V</option>
                        <option value="MV">MV</option>
                        <option value="KV">KV</option>
                        <option value="mV">mV</option>
                        <option value="μV">μV</option>
                    </select>
                }
            </div>
            <div class="fl" style="margin-right:20px; ">
                @((ViewBag.DianLiuDianYa == "电流") ? "I" : "U")<sub>n</sub> =
                <input name="" type="text" class="my-textbox tc" value="5" style="width:40px">
                @if (ViewBag.DianLiuDianYa == "电流")
                {
                    <select class="my-combobox" name="dianliu" id="dianliu">
                        <option value="A">A</option>
                        <option value="KA">KA</option>
                        <option value="mA">mA</option>
                        <option value="μA">μA</option>
                        <option value="nA">nA</option>
                        <option value="pA">pA</option>
                    </select>
                }
                else if (ViewBag.DianLiuDianYa == "电压")
                {
                    <select class="my-combobox" name="dianya" id="dianya">
                        <option value="V">V</option>
                        <option value="MV">MV</option>
                        <option value="KV">KV</option>
                        <option value="mV">mV</option>
                        <option value="μV">μV</option>
                    </select>
                }
            </div>
        </td>
    </tr>
    <tr>
        <th align="center" width="100">测试量</th>
        <th align="center" width="100"> 等级</th>
        <th align="center" width="120"> 测量点</th>

        <th align="center" width="100">
            二次输入标准值<br>
            (<span>A</span>)
        </th>
        <th align="center" width="100">
            标准输出值<br>
            <select class="my-combobox" name="" id="">
                <option value="MA">MA</option>
                <option value="pA">V</option>
            </select>
        </th>
        <th align="center" width="100">
            实际输出值<br>
            <select class="my-combobox" name="" id="">
                <option value="MA">MA</option>
                <option value="pA">V</option>
            </select>
        </th>
        <th align="center" width="100">
            引用误差<br>
            (%)
        </th>
        <th align="center">
            校准结果的不确定度<br>
            U(K =
            <select class="my-combobox" name="state">
                <option value="">2 </option>
                <option value="">3</option>
                <option value="">√3</option>
            </select>
            )
        </th>
    </tr>

</thead>

<tbody>
    <!--表体-->
    <tr>
        <td align="center" width="100">
            @((ViewBag.DianLiuDianYa == "电流") ? "I" : "U")
        </td>
        <td align="center" width="100">
            <input name="DengJi" type="text" class="my-textbox tr" value="0.0" style="width:70px" onblur="JS1(this)" tableid="tongdao_1">
            级
        </td>
        <td colspan="7" style="padding:0">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody id="tbody_moban">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td rowspan="1" align="right" width="120"> <input class="my-textbox input-width" value="100%" id="OUTPUT_VALUE_1_1_0" name="OUTPUT_VALUE" onblur="blurValue(this)" type="text"><span>I<sub>n</sub></span></td>
                        <td rowspan="1" align="right" width="100"> <input class="my-textbox input-width" value="5.000" id="READ_VALUE_1_1_0" name="READ_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right" width="100"> <input class="my-textbox input-width" value="20.000" id="ACTUAL_OUTPUT_VALUE_1_1_0" name="ACTUAL_OUTPUT_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right" width="100"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_1_1_0" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right" width="100"> <input class="my-textbox input-width" value="" id="RELATIVE_ERROR_1_1_0" name="RELATIVE_ERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="UNCERTAINTY_DEGREE_1_1_0" name="UNCERTAINTY_DEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="2">
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="80%" id="OUTPUT_VALUE_1_2_0" name="OUTPUT_VALUE" onblur="blurValue(this)" type="text"><span>I<sub>n</sub></span></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="4.000" id="READ_VALUE_1_2_0" name="READ_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="16.800" id="ACTUAL_OUTPUT_VALUE_1_2_0" name="ACTUAL_OUTPUT_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_1_2_0" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="RELATIVE_ERROR_1_2_0" name="RELATIVE_ERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="UNCERTAINTY_DEGREE_1_2_0" name="UNCERTAINTY_DEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="3">
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="60%" id="OUTPUT_VALUE_1_3_0" name="OUTPUT_VALUE" onblur="blurValue(this)" type="text"><span>I<sub>n</sub></span></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="3.000" id="READ_VALUE_1_3_0" name="READ_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="13.600" id="ACTUAL_OUTPUT_VALUE_1_3_0" name="ACTUAL_OUTPUT_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_1_3_0" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="RELATIVE_ERROR_1_3_0" name="RELATIVE_ERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="UNCERTAINTY_DEGREE_1_3_0" name="UNCERTAINTY_DEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="4">
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="40%" id="OUTPUT_VALUE_1_4_0" name="OUTPUT_VALUE" onblur="blurValue(this)" type="text"><span>I<sub>n</sub></span></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="2.000" id="READ_VALUE_1_4_0" name="READ_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="10.400" id="ACTUAL_OUTPUT_VALUE_1_4_0" name="ACTUAL_OUTPUT_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_1_4_0" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="RELATIVE_ERROR_1_4_0" name="RELATIVE_ERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="UNCERTAINTY_DEGREE_1_4_0" name="UNCERTAINTY_DEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="5">
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="20%" id="OUTPUT_VALUE_1_5_0" name="OUTPUT_VALUE" onblur="blurValue(this)" type="text"><span>I<sub>n</sub></span></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="1.000" id="READ_VALUE_1_5_0" name="READ_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="7.200" id="ACTUAL_OUTPUT_VALUE_1_5_0" name="ACTUAL_OUTPUT_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_1_5_0" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="RELATIVE_ERROR_1_5_0" name="RELATIVE_ERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="UNCERTAINTY_DEGREE_1_5_0" name="UNCERTAINTY_DEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                    <tr rowindex="6">
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="0%" id="OUTPUT_VALUE_1_6_0" name="OUTPUT_VALUE" onblur="blurValue(this)" type="text"><span>I<sub>n</sub></span></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="0.000" id="READ_VALUE_1_6_0" name="READ_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="4.000" id="ACTUAL_OUTPUT_VALUE_1_6_0" name="ACTUAL_OUTPUT_VALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_1_6_0" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="RELATIVE_ERROR_1_6_0" name="RELATIVE_ERROR" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="right"> <input class="my-textbox input-width" value="" id="UNCERTAINTY_DEGREE_1_6_0" name="UNCERTAINTY_DEGREE" onblur="blurValue(this)" type="text"></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>

</tbody>
<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="7">
            <input type="hidden" id="hideLiangChengShuLiang" value="6" /> <!--默认已经有几行-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>
        </td>
    </tr>
</tfoot>
@section TanKuang {
    <!--弹框的位置-->

}

<script type="text/javascript" language="javascript">
    //一个量程的需要这个方法
    //重写set方法，只准对增加空白行
    function set(tbodyIndex) {
        CreateRow();
        $("#hideDangQianTongDao").val(tbodyIndex);

    }
    //增加量程
    function CreateRow() {
        var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
        var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
        LiangChengShuLiang++;
        var rowspanIdx = $("#txtPoint").val();     //检测点数
        txtNumber = $("#txtNumber").val(); //量程
        var standardValue = "";
        var htmlString = [];
        var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;

        var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//（量程ID）第几个通道_第几个量程
        for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
            rowLength++;
            htmlString.push("<tr rowindex='" + rowLength + "'>");

            var rowspan = 1; //合并单元格行数

            var txtVal = "";//(文本框值)，如果有值并且行号为null直接赋值，否则走自动计算
            var unit = "<span>@((ViewBag.DianLiuDianYa == "电流") ? "I" : "U")<sub>n</sub></span>";//在输入框后面的单位


            var HangHaoID = lianChengID + "_" + rowidx;//（行号ID)量程ID_第几行
            if (rowidx == 0) {
                //需要合并的列
            }
            //需要合并的列
            var changerHTML = "onblur=''";
            //测量点 需要下拉框
            htmlString.push(SetTDHtml(rowspan, "OUTPUT_VALUE", HangHaoID, rowidx, txtVal, unit));
            //二次输入标准值
            htmlString.push(SetTDHtml(rowspan, "READ_VALUE", HangHaoID, rowidx, txtVal));
            //标准输出值
            htmlString.push(SetTDHtml(rowspan, "ACTUAL_OUTPUT_VALUE", HangHaoID, rowidx, txtVal));
            //实际输出值
            htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, txtVal));
            //引用误差
            htmlString.push(SetTDHtml(rowspan, "RELATIVE_ERROR", HangHaoID, rowidx, txtVal));
            //校准结果的不确定度
            htmlString.push(SetTDHtml(rowspan, "UNCERTAINTY_DEGREE", HangHaoID, rowidx, txtVal));
            htmlString.push("</tr>");
        }
        htmlString = htmlString.join("");

        var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
        $.parser.parse(tagRow);//渲染easyui组建
        //$('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
        $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang)
    }

    //离开事件，用于计算
    function blurValue(obj) {
        LianDongShiJiZhi(obj);
    }
    //联动标准值
    //输出实际值计算：【选用电阻阻值】有数值时，输出实际值= 读数值 / 选用电阻阻值；【选用电阻阻值】没有数值时，输出实际值=读数值
    function LianDongShiJiZhi(obj) {

        if (obj.name == "RESISTANCE" && obj.value.trim() != "")//选用电阻阻值变更
        {

            id = obj.id.replace(obj.name, "") + "_";
            $("input[name=READ_VALUE]").each(function (a, b) {//读数值
                if (b.id.indexOf(id) >= 0 && b.value.trim() != "") {
                    var hhID = b.id.replace(b.name, "");//行号
                    var shijizhiID = "#ACTUAL_OUTPUT_VALUE" + hhID;//输出实际值ID
                    $(shijizhiID).val(CalculateShiJiZhi(obj.value.trim(), b.value.trim()));
                }
            });
        }
        else if (obj.name == "READ_VALUE")//读数值
        {
            var DZID = obj.id.replace(obj.name, "");
            DZID = DZID.substr(0, DZID.lastIndexOf("_"));
            var hhID = obj.id.replace(obj.name, "");//行号
            var shijizhiID = "#ACTUAL_OUTPUT_VALUE" + hhID;//输出实际值ID
            var DianZuID = "#RESISTANCE" + DZID;//电阻ID
            $(shijizhiID).val(CalculateShiJiZhi($(DianZuID).val(), obj.value.trim()));
        }
    }
    //计算输出实际值
    function CalculateShiJiZhi(DianZu, DuShuZhi) {
        if (DianZu == "" || DuShuZhi == "") {//【选用电阻阻值】没有数值时，输出实际值=读数值
            return DuShuZhi;
        }
        else if (DianZu.trim() == "0") {
            return "";
        }
        else//【选用电阻阻值】有数值时，输出实际值= 读数值 / 选用电阻阻值
        {
            var value = parseFloat(DuShuZhi.trim()) / parseFloat(DianZu.trim());
            return value;
        }
    }


</script>


