@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "标准偏差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td>
            <div class="mt10">
                <span>标准偏差：</span>
            </div>

        </td>
        <td>
            <div class="mt10">
                <span>(标准值k=<input class="my-textbox input-width" value="" type="text" name="biaozhunzhi" id="biaozhunzhi_t_1_1">）</span>
            </div>

        </td>
        <td colspan="4">
            <div class="mt10">

            </div>

        </td>
    </tr>
    <tr>
        <th width="80" align="center">检定次数</th>
        <th align="center">
            1
        </th>
        <th align="center">
            2
        </th>
        <th align="center">
            3
        </th>
        <th align="center">
            4
        </th>
        <th align="center">
            5
        </th>

    </tr>
    <tr rowindex ="1">
        <td width="140" align="center">
            测得值（xi）
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="celiangzhi1" id="celiangzhi1_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="celiangzhi2" id="celiangzhi2_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="celiangzhi3" id="celiangzhi3_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="celiangzhi4" id="celiangzhi4_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="celiangzhi5" id="celiangzhi5_t_1_1" onblur="blurValue(this)">
        </td>
    </tr>
    <tr rowindex ="2">
        <td width="140" align="center">
            平均值(x)
        </td>
        <td align="left" colspan="5">
            <input class="my-textbox input-width" value="" type="text" name="pingjunzhi" id="pingjunzhi_t_1_1" style="height:25px; width:95%">
        </td>

    </tr>
    <tr rowindex ="3">
        <td width="140" align="center">
            标准偏差
        </td>
        <td align="left" colspan="5">
            <input class="my-textbox input-width" value="" type="text" name="bzpc" id="bzpc_t_1_1" style="height:25px; width:95%">
        </td>

    </tr>
</thead>

<tbody id="tbody_moban">

    <!--表体-->
    <!--插入行的位置-->
</tbody>

@section JS {
    <script type="text/javascript" language="javascript">
        //离开事件，用于计算
        function blurValue(obj) {
            biaoZhunPianCha(obj, "celiangzhi1", "celiangzhi2", "celiangzhi3", "celiangzhi4", "celiangzhi5", "pingjunzhi", "bzpc");
        }
        //标准偏差
        //obj 自身对象
        //first 第一列的值
        //second 第二列的值
        //Average 平均值列
        //Bzpc 标准偏差列
        function biaoZhunPianCha(obj, first, second, third, fourth, fifth, Average,Bzpc) {


            //重新计算当前行
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];

            first = first + "_" + tongdao + "_1_1";;//改动的地方，参与计算的列的name值
            second = second + "_" + tongdao + "_1_1";;//改动的地方，参与计算的列的name值
            third = third + "_" + tongdao + "_1_1";
            fourth = fourth + "_" + tongdao + "_1_1";
            fifth = fifth + "_" + tongdao + "_1_1";

            Average = Average + "_" + tongdao + "_1_1";//改动的地方，误差的列的name值
            Bzpc = Bzpc + "_" + tongdao + "_1_1";//改动的地方，误差的列的name值
            var firstData = $("#" + first).val();
            var secondData = $("#" + second).val();
            var thirdData = $("#" + third).val();
            var fourthData = $("#" + fourth).val();
            var fifthData = $("#" + fifth).val();
            if (firstData != "undefined" && secondData != "undefined" && thirdData != "undefined" && fourthData != "undefined" && fifthData != "undefined"
                && firstData != "" && secondData != "" && thirdData != "" && fourthData != "" && fifthData != "") {
              
                firstData = toPoint(firstData);
                secondData = toPoint(secondData);
                thirdData = toPoint(thirdData);
                fourthData = toPoint(fourthData);
                fifthData = toPoint(fifthData);
                var AVERAGE = accDiv(firstData.add(secondData).add(thirdData).add(fourthData).add(fifthData), 5);
                $("#" + Average).val(percentages(AVERAGE,3));
                var strData = firstData + "," + secondData + "," + thirdData + "," + fourthData + "," + fifthData;
                var bzpc = calculate(strData);
                $("#" + Bzpc).val(percentages(bzpc, 2));
             //   $(obj).parent().parent().find("#" + gold).val(data);
            }


        }

    </script>
<script>
    //方向键控制页面控件焦点移动
    function keyDown(event) {
        var colunmIdx = "";
        var inputs = $(".my-textbox")                              //通过class属性值获取控件组合
        var focus = document.activeElement;                 //得到处于激活状态的控件
        if (!document.getElementById("tongdao").contains(focus)) return;     //判断是否包含激活控件在指定的Table下
        //if (!$(".tbl").contains(focus)) return;
        var event = window.event || event;                              //获取事件
        var key = event.keyCode;                                        //得到按下的键盘Ascii码
        var flag = -1;

        //得到激活控件在组合中的具体位置
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i] === focus) {
                // alert(i);
                break;
            }
        }

        switch (key) {

            case 37: //向左键
                if (i > 0) inputs[i - 1].focus();
                break;
            case 38:                //向上键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                var tr_up = $(inputs[i]).parents("tr").prev();      //当前所在的行数的上一行
                if ($(inputs[i]).parents("tr").prev().length >= 1) {   //判断上一行是否还有行
                    var tr_up = $("[rowindex=" + ($(tr).attr("rowindex") - 1) + "]", $(inputs[i]).parents("table")[0])[0];      //当前所在的行数的上一行

                    if ($(tr_up).attr("rowindex") == 1)  //如果是第一行
                        $(tr_up).find("td").eq(td).find('input').focus();    //此模板没有有rowspan合并行等,所以如果向上到第一行,td不增减;
                    else {
                        if ($(tr).find("td").length < $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length == $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td).find('input').focus();
                    }
                }
                else {
                    //没有则找上一个table
                    var prevtable = $(inputs[i]).parents("table").prev()[0];

                    var tr_up = $(prevtable).find("tr:eq(" + ($('tr', $(prevtable)).length - 2) + ")");
                    if ($(tr_up).attr("rowindex") == 1)
                        $(tr_up).find('td').eq(td).find('input').focus();
                    else
                        $(tr_up).find('td').eq(td).find('input').focus();
                }
                break;
            case 39: //向右键
                if (i < inputs.length - 1) inputs[i + 1].focus();
                break;
            case 40: //向下键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                if ($(inputs[i]).parents("tr").next().length >= 1) {
                    var tr_down = $(inputs[i]).parents("tr").next();      //当前所在的行数的下一行
                    if ($(tr).attr("rowindex") != 1) {
                        if ($(tr).find("td").length < $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td + 1).find('input').focus();
                        if ($(tr).find("td").length == $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td).find('input').focus();
                    }
                    else
                        $(tr_down).find("td").eq(td).find('input').focus();//第一列没有合并行，td数量不变
                }
                else {
                    var table = $(inputs[i]).parents("table").next();
                    var tr = $('[rowindex]', table).eq(0);
                    if ($(tr).attr("rowindex") != 1)
                        $(tr).find('td').eq(td - 1).find('input').focus();
                    else
                        $(tr).find('td').eq(td + 1).find('input').focus();
                }
                break;
            case 13:                //回车键
                event.returnValue = false;                          //阻止自动提交
                var j = i + 2;
                var flag = false;
                if (inputs.get(j).disabled == false) {
                    flag = true;
                } else {
                    for (j = i + 4; j <= inputs.length - 1; j = j + 2) {
                        if (inputs.get(j).disabled == false) {
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
        }
    }
</script>
}

@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->
}

