@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "不平衡负载时有功电能误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th colspan="4">
            <span>准确度等级:</span>
            <input name="zhidingwucha" id="zhidingwucha_t_1_1" type="text" class="my-textbox tc" value="" style="width:140px">
        </th>
    </tr>
    <tr>
        <th align="center" width="100">相线及测量模式</th>
        <th align="center" colspan="2">量程(Un、Ib)</th>
        <th align="center" width="100">相别</th>
        <th align="center" width="100">cosθ</th>
        <th align="center" width="100">Ib(%)</th>
        <th align="center" width="100">y1(%)</th>
        <th align="center" width="100">y2(%)</th>
        <th align="center" width="100">y平均(%)</th>
        <th align="center" width="100">γ化整(%)</th>
        <th align="center">
            校准结果的不确定度<br>
            U(k =
            <select class="my-combobox" name="K" id="K_t_1_1">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="√3">√3</option>
            </select>
            )
        </th>
    </tr>
</thead>

<tbody>
    <tr class="firstRow">
        <td rowspan="6" colspan="1" width="119" align="center">
            <select class="my-combobox" name="RANGE" onchange="blurValue(this)" id="RANGE_t_1_1">
                <option value="单相">单相</option>
                <option value="三相三线">三相三线</option>
                <option value="三相四线" selected="selected">三相四线</option>
            </select>
        </td>
        <td rowspan="6" colspan="1" width="119" align="center">
            <input type="text" class="my-textbox input-width" value="12" id="OUTPUTVALUE_t_1_1" name="OUTPUTVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">
            <select class="my-combobox" name="OUTPUTVALUE_UNIT" id="OUTPUTVALUE_UNIT_t_1_1">
                <option value="V">V</option>
                <option value="MV">MV</option>
                <option value="kV">kV</option>
                <option value="mV">mV</option>
                <option value="μV">μV</option>
            </select>
        </td>
        <td rowspan="6" colspan="1" width="119" align="center">
            <input type="text" class="my-textbox input-width" value="" id="OUTPUTVAL1_t_1_1" name="OUTPUTVAL1" onblur="blurValue(this);LianDongBuQueDingDu(this);">
            <select class="my-combobox" name="OUTPUTVAL1_UNIT" style="width:50px; " id="OUTPUTVAL1_UNIT_t_3_1">
                <option value="A">A</option>
                <option value="kA">kA</option>
                <option value="mA">mA</option>
                <option value="μA">μA</option>
                <option value="nA">nA</option>
                <option value="pA">pA</option>
            </select>
        </td>
        <td rowspan="2" colspan="1" width="119" align="center">
            <input type="text" class="my-textbox input-width" value="A相" id="READVALUE_t_1_1" name="READVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">

        </td>
        <td width="119" align="center" rowspan="1" >
            <input type="text" class="my-textbox input-width" value="1.0" id="ACTUALVALUE_t_1_1" name="ACTUALVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">
        </td>
        <td colspan="6" rowspan="1" align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_1">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td class="classstyle" rowspan="1" align="center"> <select class="my-combobox" name="SHIJISHUCHUZHI" onchange="blurValue(this)" id="SHIJISHUCHUZHI_t_1_1"><option value="100">100</option> <option value="50">50</option><option value="20">20</option>  <option value="10">10</option>  <option value="5">5</option>  </select></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_1" name="RELATIVEERROR" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_1" name="UNCERTAINTYDEGREE" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="BUQUEDINGDU_t_1_1" name="BUQUEDINGDU" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA_t_1_1" name="JISUANWUCHA" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center">
                            <input type="text" class="my-textbox input-width" value="" id="YINYONGXIANGDUI_t_1_1" name="YINYONGXIANGDUI" onblur="LianDongBuQueDingDu(this);"><input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_YINYONGXIANGDUI_t_1_1" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_YINYONGXIANGDUI_t_1_1" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_YINYONGXIANGDUI_t_1_1&amp;BuQueDingDuLuJing_YINYONGXIANGDUI_t_1_1^BuQueDingDuLuJing_YINYONGXIANGDUI_t_1_1^YINYONGXIANGDUI_t_1_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=YINYONGXIANGDUI_t_1_1&amp;RuleID=1085-2013_6_2');">计算</a>
                        </td>

                    </tr>

                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="6">
                            <input type="hidden" id="hideLiangChengShuLiang" value="1" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>

        </td>
    </tr>
    <tr>
        <td width="119" align="center" rowspan="1" >
            <input type="text" class="my-textbox input-width" value="0.5L" id="ACTUALVALUE_t_2_1" name="ACTUALVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">

        </td>
        <td colspan="6" rowspan="1" width="119" align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_2">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td class="classstyle" rowspan="1" align="center"> <select class="my-combobox" name="SHIJISHUCHUZHI" onchange="blurValue(this)" id="SHIJISHUCHUZHI_t_2_1"><option value="100">100</option> <option value="50">50</option><option value="20">20</option>  <option value="10">10</option>  <option value="5">5</option>  </select></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="RELATIVEERROR_t_2_1" name="RELATIVEERROR" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_2_1" name="UNCERTAINTYDEGREE" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="BUQUEDINGDU_t_2_1" name="BUQUEDINGDU" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA_t_2_1" name="JISUANWUCHA" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center">
                            <input type="text" class="my-textbox input-width" value="" id="YINYONGXIANGDUI_t_2_1" name="YINYONGXIANGDUI" onblur="LianDongBuQueDingDu(this);"><input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_YINYONGXIANGDUI_t_2_1" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_YINYONGXIANGDUI_t_2_1" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_YINYONGXIANGDUI_t_2_1&amp;BuQueDingDuLuJing_YINYONGXIANGDUI_t_2_1^BuQueDingDuLuJing_YINYONGXIANGDUI_t_2_1^YINYONGXIANGDUI_t_2_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=YINYONGXIANGDUI_t_2_1&amp;RuleID=1085-2013_6_2');">计算</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="6">
                            <input type="hidden" id="hideLiangChengShuLiang" value="2" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>


        </td>
    </tr>
    <tr>
        <td rowspan="2" colspan="1" width="119" align="center">
            <input type="text" class="my-textbox input-width" value="B相" id="READVALUE_t_3_1" name="READVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">

        </td>
        <td width="119" align="center" rowspan="1" >
            <input type="text" class="my-textbox input-width" value="1.0" id="ACTUALVALUE_t_3_1" name="ACTUALVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">


        </td>
        <td colspan="6" rowspan="1" width="119" align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_3">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td class="classstyle" rowspan="1" align="center"> <select class="my-combobox" name="SHIJISHUCHUZHI" onchange="blurValue(this)" id="SHIJISHUCHUZHI_t_3_1"><option value="100">100</option> <option value="50">50</option><option value="20">20</option>  <option value="10">10</option>  <option value="5">5</option>  </select></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="RELATIVEERROR_t_3_1" name="RELATIVEERROR" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_3_1" name="UNCERTAINTYDEGREE" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="BUQUEDINGDU_t_3_1" name="BUQUEDINGDU" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA_t_3_1" name="JISUANWUCHA" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center">
                            <input type="text" class="my-textbox input-width" value="" id="YINYONGXIANGDUI_t_3_1" name="YINYONGXIANGDUI" onblur="LianDongBuQueDingDu(this);">
                            <input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_YINYONGXIANGDUI_t_3_1" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_YINYONGXIANGDUI_t_3_1" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_YINYONGXIANGDUI_t_3_1&amp;BuQueDingDuLuJing_YINYONGXIANGDUI_t_3_1^BuQueDingDuLuJing_YINYONGXIANGDUI_t_3_1^YINYONGXIANGDUI_t_3_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=YINYONGXIANGDUI_t_3_1&amp;RuleID=1085-2013_6_2');">计算</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="6">
                            <input type="hidden" id="hideLiangChengShuLiang" value="3" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>

        </td>
    </tr>
    <tr>
        <td width="119" align="center" rowspan="1" >
            <input type="text" class="my-textbox input-width" value="0.5L" id="ACTUALVALUE_t_4_1" name="ACTUALVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">
        </td>
        <td colspan="6" rowspan="1" width="119" align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_4">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td class="classstyle" rowspan="1" align="center"> <select class="my-combobox" name="SHIJISHUCHUZHI" onchange="blurValue(this)" id="SHIJISHUCHUZHI_t_4_1"><option value="100">100</option> <option value="50">50</option><option value="20">20</option>  <option value="10">10</option>  <option value="5">5</option>  </select></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="RELATIVEERROR_t_4_1" name="RELATIVEERROR" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_4_1" name="UNCERTAINTYDEGREE" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="BUQUEDINGDU_t_4_1" name="BUQUEDINGDU" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA_t_4_1" name="JISUANWUCHA" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center">
                            <input type="text" class="my-textbox input-width" value="" id="YINYONGXIANGDUI_t_4_1" name="YINYONGXIANGDUI" onblur="LianDongBuQueDingDu(this);">
                            <input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_YINYONGXIANGDUI_t_4_1" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_YINYONGXIANGDUI_t_4_1" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_YINYONGXIANGDUI_t_4_1&amp;BuQueDingDuLuJing_YINYONGXIANGDUI_t_4_1^BuQueDingDuLuJing_YINYONGXIANGDUI_t_4_1^YINYONGXIANGDUI_t_4_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=YINYONGXIANGDUI_t_4_1&amp;RuleID=1085-2013_6_2');">计算</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="6">
                            <input type="hidden" id="hideLiangChengShuLiang" value="4" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>

        </td>
    </tr>
    <tr>
        <td rowspan="2" colspan="1" width="119" align="center">
            <input type="text" class="my-textbox input-width" value="C相" id="READVALUE_t_5_1" name="READVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">

        </td>
        <td width="119" align="center" rowspan="1" >
            <input type="text" class="my-textbox input-width" value="1.0" id="ACTUALVALUE_t_5_1" name="ACTUALVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">

        </td>
        <td colspan="6" rowspan="1" width="119" align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_5">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td class="classstyle" rowspan="1" align="center">
                            <select class="my-combobox" name="SHIJISHUCHUZHI" onchange="blurValue(this)" id="SHIJISHUCHUZHI_t_5_1"><option value="100">100</option> <option value="50">50</option><option value="20">20</option>  <option value="10">10</option>  <option value="5">5</option>  </select>
                        </td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="RELATIVEERROR_t_5_1" name="RELATIVEERROR" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_5_1" name="UNCERTAINTYDEGREE" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="BUQUEDINGDU_t_5_1" name="BUQUEDINGDU" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA_t_5_1" name="JISUANWUCHA" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center">
                            <input type="text" class="my-textbox input-width" value="" id="YINYONGXIANGDUI_t_5_1" name="YINYONGXIANGDUI" onblur="LianDongBuQueDingDu(this);">
                            <input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_YINYONGXIANGDUI_t_5_1" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_YINYONGXIANGDUI_t_5_1" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_YINYONGXIANGDUI_t_5_1&amp;BuQueDingDuLuJing_YINYONGXIANGDUI_t_5_1^BuQueDingDuLuJing_YINYONGXIANGDUI_t_5_1^YINYONGXIANGDUI_t_5_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=YINYONGXIANGDUI_t_5_1&amp;RuleID=1085-2013_6_2');">计算</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="6">
                            <input type="hidden" id="hideLiangChengShuLiang" value="5" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>

        </td>
    </tr>
    <tr>
        <td width="119" align="center" rowspan="1" >
            <input type="text" class="my-textbox input-width" value="0.5L" id="ACTUALVALUE_t_6_1" name="ACTUALVALUE" onblur="blurValue(this);LianDongBuQueDingDu(this);">

        </td>
        <td colspan="6" rowspan="1" width="119" align="center">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_6">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td class="classstyle" rowspan="1" align="center"> <select class="my-combobox" name="SHIJISHUCHUZHI" onchange="blurValue(this)" id="SHIJISHUCHUZHI_t_6_1"><option value="100">100</option> <option value="50">50</option><option value="20">20</option>  <option value="10">10</option>  <option value="5">5</option>  </select></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="RELATIVEERROR_t_6_1" name="RELATIVEERROR" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_6_1" name="UNCERTAINTYDEGREE" onblur="changeValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="BUQUEDINGDU_t_6_1" name="BUQUEDINGDU" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center"> <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA_t_6_1" name="JISUANWUCHA" onblur="blurValue(this);LianDongBuQueDingDu(this);"></td>
                        <td class="classstyle" rowspan="1" align="center">
                            <input type="text" class="my-textbox input-width" value="" id="YINYONGXIANGDUI_t_6_1" name="YINYONGXIANGDUI" onblur="LianDongBuQueDingDu(this);">
                            <input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_YINYONGXIANGDUI_t_6_1" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_YINYONGXIANGDUI_t_6_1" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_YINYONGXIANGDUI_t_6_1&amp;BuQueDingDuLuJing_YINYONGXIANGDUI_t_6_1^BuQueDingDuLuJing_YINYONGXIANGDUI_t_6_1^YINYONGXIANGDUI_t_6_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=YINYONGXIANGDUI_t_6_1&amp;RuleID=1085-2013_6_2');">计算</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="6">
                            <input type="hidden" id="hideLiangChengShuLiang" value="6" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>
    <!--表体 默认行-->
    <!--插入行的位置-->
</tbody>

<tfoot tag="tag">
    <!--表尾-->

</tfoot>

@section JS {
    <script type="text/javascript" language="javascript">

        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex, thi) {

            // $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);
            CreateRow(thi);
        }
        //增加行
        function CreateRow(thi) {


            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $(thi).prev().val();// $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            //  LiangChengShuLiang++;
            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            // var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号
            var rowLength =
         $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find(".myliangcheng_" + LiangChengShuLiang + " tr").length+1;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程

            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值
                if (rowidx == 0) {
                    //需要合并的列
                    // 相线及测量模式
                    //htmlString.push(SetTDHtml(txtPoint, "RANGE", lianChengID, rowidx, "三相四线", "", "", "", "XiangXianJiCeLiangMoShi"));
                    ////量程(Un、Ib)
                    //htmlString.push(SetTDHtml(txtPoint, "OUTPUTVALUE", lianChengID, rowidx, txtNumber, "", "", ""));
                    //htmlString.push(SetTDHtml(txtPoint, "OUTPUTVAL1", lianChengID, rowidx, "", "", "", ""));
                }
                //if (rowidx % 2 == 0)  //取模 求余数
                //{
                //    //相别
                //    htmlString.push(SetTDHtml(2, "READVALUE", HangHaoID, rowidx, "", "", "", "", "XiangBie"));
                //}

                ////cosθ
                //htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, "", "", "", "", "Cos"));
                //Ib(%)
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, "", "", "", "", "Ib"));
                //y1(%)
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, "", "", "", "changeValue"));
                //y2(%)
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, "", "", "", "changeValue"));
                //y平均(%)
                htmlString.push(SetTDHtml(rowspan, "BUQUEDINGDU", HangHaoID, rowidx, "", "", "", ""));
                //y化整(%)
                htmlString.push(SetTDHtml(rowspan, "JISUANWUCHA", HangHaoID, rowidx, "", "", "", ""));
                //校准结果的不确定度U(k={0})
                htmlString.push(SetTDHtml(rowspan, "YINYONGXIANGDUI", HangHaoID, rowidx, "", "", "", ""));

                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find(".myliangcheng_" + LiangChengShuLiang).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            //$('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find(".myliangcheng_" + LiangChengShuLiang).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
        //计算标准值
        function changeValue(obj) {

            jiSuanWuCha(obj, "RANGE", "OUTPUTVALUE", "READVALUE", "ACTUALVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR", "UNCERTAINTYDEGREE", "BUQUEDINGDU", "JISUANWUCHA");

        }

        //误差
        //obj 自身对象
        //T1 相线及测量模式
        //T2 量程(Un、Ib)
        //T3 相别
        //T4 cosθ
        //T5 Ib(%)
        //T6 y1(%)
        //T7 y2(%)
        //T8 y平均(%)
        //T9 y化整(%)
        //10 校准结果的不确定度
        function jiSuanWuCha(obj, T1, T2, T3, T4, T5, T6, T7, T8, T9) {
            //重新计算当前行
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            var liangCheng = id.split('_')[2];
            T1 = T1 + "_" + tongdao + "_1";            //改动的地方，参与计算的列的name值
            T2 = T2 + "_" + tongdao + "_1";//改动的地方，参与计算的列的name值
            T3 = T3 + id;                            //改动的地方，误差的列的name值
            T4 = T4 + id;//有功分量 相对误差(%
            T5 = T5 + id;//改动的地方，参与计算的列的name值
            T6 = T6 + id;//无功分量 相对误差(%
            T7 = T7 + id; //T7 cosφ
            T8 = T8 + id; //  y平均(%)
            T9 = T9 + id; // y化整(%)
            //  var T1Data = $("#" + T1).val();//T1 相线及测量模式
            //   var T2Data = $("#" + T2).val();//T1 量程(Un、Ib)

            //   var T3Data = $(obj).parent().parent().find("#" + T3).val(); //T3 功率因数cosφ
            //  var T4Data = $(obj).parent().parent().find("#" + T4).val(); //T4 Ib(%)
            //  var T5Data = $(obj).parent().parent().find("#" + T5).val(); //T5
            var T6Data = $(obj).parent().parent().find("#" + T6).val(); //T6 y1(%)
            var T7Data = $(obj).parent().parent().find("#" + T7).val(); //T7 y2(%)

            var zhidingwuchaData = $("#zhidingwucha" + "_" + tongdao + "_1_1").val();//等级
            var txtPointLen = 4; //小数点位数
            //    【相线及测量模式】默认三相四线
            //【量程Un】单位：V,MV,KV,mV,μV
            //【量程Ib】单位：A,KA,mA,μA,nA,pA
            //【相别】默认A相,B相,C相
            //【cosθ】默认1.0,0.5L
            //【Ib(%)】下拉选择：100,50,20,10
            //y平均(%)=（y1(%)+y2(%)）/2,小数点后保留四位，四舍六入，逢五奇进偶不进。
            if (T6Data != "" && T7Data != "") {
                T7Data = parseFloat(T7Data);
                T6Data = parseFloat(T6Data);
                var jianfa = (T6Data + T7Data) / 2;
                var data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);
                $(obj).parent().parent().find("#" + T8).val(data);
            }
            var T8Data = $(obj).parent().parent().find("#" + T8).val(); //T8 y平均(%)
            var txtPointLen1 = 0; //小数点位数
            try { txtPointLen1 = zhidingwuchaData.toString().split(".")[1].length } catch (e) {
                txtPointLen1 = 0;
            }
            txtPointLen1 = parseFloat(txtPointLen1)+1;
            //y化整(%)=Round(横杠y/等级,1)*等级,比准确度等级多一位。
            if (T8Data != "" && zhidingwuchaData != "") {
                T8Data = parseFloat(T8Data);
                zhidingwuchaData = parseFloat(zhidingwuchaData);
                //var jianfa = Math.round(T8Data / zhidingwuchaData, 1) * zhidingwuchaData;
                var jianfa = accMul(accDiv(T8Data, zhidingwuchaData).toFixed(1), zhidingwuchaData);
                var data = zeroFloat(fomatFloat(jianfa, txtPointLen1), txtPointLen1);
                $(obj).parent().parent().find("#" + T9).val(data);
            }
        }

    </script>
<script language="javascript" type="text/javascript">

    //方向键控制页面控件焦点移动
    function keyDown(event) {
        var inputs = $(".my-textbox")                              //通过class属性值获取控件组合
        var focus = document.activeElement;                 //得到处于激活状态的控件
        if (!document.getElementById("tongdao_1").contains(focus)) return;     //判断是否包含激活控件在指定的Table下
        //if (!$(".tbl").contains(focus)) return;
        var event = window.event || event;                              //获取事件
        var key = event.keyCode;                                        //得到按下的键盘Ascii码
        var flag = -1;

        //得到激活控件在组合中的具体位置
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i] === focus) {
                // alert(i);
                break;
            }
        }

        switch (key) {

            case 37: //向左键
                if (i > 0) inputs[i - 1].focus();
                break;
            case 38:                //向上键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                var tr_up = $(inputs[i]).parents("tr").prev();      //当前所在的行数的下一行
                if ($(inputs[i]).parents("tr").prev().length >= 1) {
                    var tr_down = $(inputs[i]).parents("tr").prev();      //当前所在的行数的下一行
                    if ($(tr).attr("rowindex") == 2)
                        $(tr_down).find("td").eq(td).find('input').focus();
                    else
                        $(tr_down).find("td").eq(td).find('input').focus();
                }
                else {
                    var prevtable = $(inputs[i]).parents("table").prev()[0];

                    var tr_up = $(prevtable).find("tr:eq(" + ($('tr', $(prevtable)).length - 2) + ")");
                    if ($(tr_up).attr("rowindex") == 1)
                        $(tr_up).find('td').eq(td).find('input').focus();
                    else
                        $(tr_up).find('td').eq(td).find('input').focus();
                }
                break;
            case 39: //向右键
                if (i < inputs.length - 1) inputs[i + 1].focus();
                break;
            case 40: //向下键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                if ($(inputs[i]).parents("tr").next().length >= 1) {
                    var tr_down = $(inputs[i]).parents("tr").next();      //当前所在的行数的下一行
                    if ($(tr).attr("rowindex") != 1)
                        $(tr_down).find("td").eq(td).find('input').focus();
                    else
                        $(tr_down).find("td").eq(td).find('input').focus();
                }
                else {
                    var table = $(inputs[i]).parents("table").next();
                    var tr = $(table).find('tr:eq(0)');
                    if ($(tr).attr("rowindex") != 1)
                        $(tr).find('td').eq(td).find('input').focus();
                    else
                        $(tr).find('td').eq(td).find('input').focus();
                }
                break;
            case 13:                //回车键
                event.returnValue = false;                          //阻止自动提交
                var j = i + 1;
                var flag = false;
                if (inputs.get(j).disabled == false) {
                    flag = true;
                } else {
                    for (j = i + 4; j <= inputs.length - 1; j = j + 2) {
                        if (inputs.get(j).disabled == false) {
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
        }
    }
    //-->
</script>
}

@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
            <tr>
                <td width="80" align="right">量程值：</td>
                <td><input type="text" id="txtNumber" name="txtNumber" value="1" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" name="txtPoint" value="1" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen" name="txtPointLen" value="1" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
        </table>
    </div>
    <!--/增加量程弹层-->
}

