@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "测量误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th width="80" rowspan="2" align="center">序号</th>
    </tr>
    <tr>
        <th width="140" align="center">电压</th>
        <th width="140" align="center">检定电流</th>
        <th width="140" align="center">残余电阻</th>
        <th width="140" align="center">平均值</th>
        <th align="center">允许值</th>
    </tr>
</thead>

<tbody id="tbody_moban">

    <!--表体-->
    <tr>
        <td align="center"><input name="NUMBER" id="NUMBER_t_1_1" type="text" class="my-textbox  tc" value="1" style="width:60px"/></td>
        <td align="center">
            <input name="DIANYA" id="DIANYA_t_1_1" type="text" class="my-textbox input-width tr" value="" onblur="calculate1.canyuDianZu(this)" />
            <select class="my-combobox" name="DIANYA_UNIT" id="DIANYA_UNIT_t_1_1" onchange="changeValue(this)">
                <option value="V">V</option>
                <option value="MV">MV</option>
                <option value="KV">KV</option>
                <option selected="selected" value="mV">mV</option>
                <option value="μV">μV</option>
            </select>
        </td>
        <td align="center">
            <input name="DIANLIU" id="DIANLIU_t_1_1" type="text" class="my-textbox input-width tr" value="0.1" onblur="calculate1.canyuDianZu(this)" />
            <select class="my-combobox" name="DIANLIU_UNIT" id="DIANLIU_UNIT_t_1_1">
                <option value="A">A</option>
                <option value="KA">KA</option>
                <option selected="selected" value="mA">mA</option>
                <option value="μA">μA</option>
                <option value="nA">nA</option>
                <option value="pA">pA</option>
            </select>
        </td>
        <td align="center">
            <input name="DIANZU" id="DIANZU_t_1_1" type="text" class="my-textbox input-width tr" value="" />
            <select class="my-combobox" name="DIANZU_UNIT" id="DIANZU_UNIT_t_1_1">
                <option value="Ω">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option selected="selected" value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
        </td>
        <td rowspan="3" align="center">
            <input name="PINGJUN" id="PINGJUN_t_1_1" type="text" class="my-textbox input-width tr" value="" />
            <select class="my-combobox" name="PINGJUN_UNIT" id="PINGJUN_UNIT_t_1_1">
                <option value="Ω">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option selected="selected" value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
        </td>
        <td rowspan="3" align="center">
            <input name="input6" id="input6_t_1_1" type="text" class="my-textbox input-width tr" value="" />
            <select class="my-combobox" name="input6_UNIT" id="input6_UNIT_t_1_1" onchange="changeValue(this)">
                <option value="Ω">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option selected="selected" value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
            ~
            <input name="input7" id="input7_t_1_1" type="text" class="my-textbox input-width tr" value="" />
            <select class="my-combobox" name="input7_UNIT" id="input7_UNIT_t_1_1" onchange="changeValue(this)">
                <option value="Ω">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option selected="selected" value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
        </td>
    </tr>
    <tr>
        <td align="center"><input name="NUMBER" id="NUMBER_t_1_2" type="text" class="my-textbox  tc" value="2" style="width:60px" /></td>
        <td align="center">
            <input name="DIANYA" id="DIANYA_t_1_2" type="text" class="my-textbox input-width tr" value="" onblur="calculate1.canyuDianZu(this)" />
            <select class="my-combobox" name="DIANYA_UNIT" id="DIANYA_UNIT_t_1_2">
                <option value="V">V</option>
                <option value="MV">MV</option>
                <option value="KV">KV</option>
                <option selected="selected" value="mV">mV</option>
                <option value="μV">μV</option>
            </select>
        </td>
        <td align="center">
            <input name="DIANLIU" id="DIANLIU_t_1_2" type="text" class="my-textbox input-width tr" value="0.1" onblur="calculate1.canyuDianZu(this)" />
            <select class="my-combobox" name="DIANLIU_UNIT" id="DIANLIU_UNIT_t_1_2">
                <option value="A">A</option>
                <option value="KA">KA</option>
                <option selected="selected" value="mA">mA</option>
                <option value="μA">μA</option>
                <option value="nA">nA</option>
                <option value="pA">pA</option>
            </select>
        </td>
        <td align="center">
            <input name="DIANZU" id="DIANZU_t_1_2" type="text" class="my-textbox input-width tr" value="" onblur="calculate1.canyuDianZu(this)" />
            <select class="my-combobox" name="DIANZU_UNIT" id="DIANZU_UNIT_t_1_2">
                <option value="Ω">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option selected="selected" value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
        </td>
    </tr>
    <tr>
        <td align="center"><input name="NUMBER" id="NUMBER_t_1_3" type="text" class="my-textbox  tc" value="3" style="width:60px" /></td>
        <td align="center">
            <input name="DIANYA" id="DIANYA_t_1_3" type="text" class="my-textbox input-width tr" value="" onblur="calculate1.canyuDianZu(this)" />
            <select class="my-combobox" name="DIANYA_UNIT" id="DIANYA_UNIT_t_1_3">
                <option value="V">V</option>
                <option value="MV">MV</option>
                <option value="KV">KV</option>
                <option selected="selected" value="mV">mV</option>
                <option value="μV">μV</option>
            </select>
        </td>
        <td align="center">
            <input name="DIANLIU" id="DIANLIU_t_1_3" type="text" class="my-textbox input-width tr" value="0.1" onblur="calculate1.canyuDianZu(this)" />
            <select class="my-combobox" name="DIANLIU_UNIT" id="DIANLIU_UNIT_t_1_3">
                <option value="A">A</option>
                <option value="KA">KA</option>
                <option selected="selected" value="mA">mA</option>
                <option value="μA">μA</option>
                <option value="nA">nA</option>
                <option value="pA">pA</option>
            </select>
        </td>
        <td align="center">
            <input name="DIANZU" id="DIANZU_t_1_3" type="text" class="my-textbox input-width tr" value="" />
            <select class="my-combobox" name="DIANZU_UNIT" id="DIANZU_UNIT_t_1_3">
                <option value="Ω">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option selected="selected" value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
        </td>
    </tr>
</tbody>



@section JS {
    <script type="text/javascript" language="javascript">
        var calculate1 = {
            canyuDianZu: function (obj) {
                //【残余电阻】=【电压】/【检定电流】，小数位数后三位，四舍六入，逢五奇进偶不进
                var dianYa = $(obj).parents("tr").children().eq(1).find("input").val();
                var jianDingDianLiu = $(obj).parents("tr").children().eq(2).find("input").val();
                if (dianYa != "" && jianDingDianLiu != "") {
                    $(obj).parents("tr").children().eq(3).find('input').val(fomatFloat(dianYa / jianDingDianLiu, 3));
                    this.average();
                }

            },
            average: function () {
                var sumTotal = 0;
                var row = 0;
                $("#tbody_1 tr").each(function () {
                    if ($(this).children().eq(3).find("input").val() != "") {
                        row = row + 1;
                        sumTotal += parseFloat($(this).children().eq(3).find("input").val());
                    }
                })
                if (row > 0)
                    $("#tbody_1 tr:eq(0) td:eq(4)").find('input').val(fomatFloat(sumTotal / row, 1))
                  //  $("#PINGJUN_1_1_1").val();
            }
        }
    </script>

}

@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
            <tr>
                <td width="80" align="right">量程值：</td>
                <td><input type="text" id="txtNumber" name="txtNumber" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" name="txtPoint" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen" name="txtPointLen" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
        </table>
    </div>
    <!--/增加量程弹层-->
}

