@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "单桥-其他量程-相对误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th colspan="2" width="80" align="center">量程</th>
        <th colspan="2" width="100" align="center">
            测量盘<br>
            (
            <select class="my-combobox" name="celiangpan" id="celiangpan_t_1_1" onchange="changeValue(this)">
                <option value="Ω" selected="selected">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
            )
        </th>
        <th width="110" align="center">
            测量点
        </th>
        <th width="110" align="center">
            实际值<br>
            (
            <select class="my-combobox" name="ce2liangpan" id="ce2liangpan_t_1_1" onchange="changeValue(this)">
                <option value="Ω" selected="selected">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
            )
        </th>
        <th width="110" align="center">
            标称值<br>
            (
            <select class="my-combobox" name="ce2liangpan" id="ce2liangpan_t_1_1" onchange="changeValue(this)">
                <option value="Ω" selected="selected">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
            )
        </th>
        <th width="110" align="center">误差</th>
        <th align="center" colspan="2">允许误差</th>
    </tr>

</thead>
<tbody id="tbody_moban">
    <!--表体-->

</tbody>
<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="9">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加行数</a>

        </td>
    </tr>
</tfoot>
<script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        //tbodyIndex通道
        //thi 当前位置
        function set(tbodyIndex, thi) {



             $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框
            $("#hideDangQianTongDao").val(tbodyIndex); CreateRow();

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var rowspanIdx = $("#txtPoint").val();     //检测点数
            txtPointLen = $("#txtPointLen").val(); //小数点位数
            var standardValue = "";
            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程
            for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var txtVal = "";//(文本框值)，如果有值并且行号为null直接赋值，否则走自动计算
                

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行
                if (rowidx == 0) {
                    //需要合并的列

                }
                //需要合并的列

                //量程
                htmlString.push("<td align='center' >X</td>");
                htmlString.push(SetTDHtml(rowspan, "RANGE", HangHaoID, rowidx, txtVal, "classstyle100", '', 'blurValue1', 'ShuZi'));
                htmlString.push("<td align='center' >X</td>");
                htmlString.push(SetTDHtml(rowspan, "OUTPUTVALUE", HangHaoID, rowidx, txtVal, "", '', 'blurValue1', 'ShuZi'));
                //二次输入标准值
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, txtVal, "classstyle100", '', 'blurValue1'));
                //标准输出值
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, txtVal, "classstyle100", '', 'blurValue'));
                //实际输出值
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, txtVal, "classstyle100", '', ''));
                //引用误差
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, txtVal, "classstyle100"));
                var id="select_"+HangHaoID;
                //校准结果的不确定度 U(K =
                htmlString.push("<td align='center' >±</td>");
                htmlString.push("<td align='center' ><select class=\"my-combobox\" name=\"select\" id='" + id + "'>  <option value=\"2\">2</option><option value=\"0.5\">0.5</option><option value=\"0.2\">0.2</option><option value=\"0.1\">0.1</option></select></td>");
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            //$('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
    
        //离开事件，用于计算
        function blurValue(obj) { 
            wuCha1(obj, "ACTUALVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR", "select")
           // wuCha(obj, "RANGE", "OUTPUTVALUE", "READVALUE", "SHIJISHUCHUZHI", "ACTUALVALUE")
        }
        //离开事件，用于计算
        function blurValue1(obj) { 
            BiaoChenZhi1(obj, "RANGE", "OUTPUTVALUE", "READVALUE", "SHIJISHUCHUZHI", "ACTUALVALUE")
            wuCha1(obj, "ACTUALVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR", "select")
        }
        ///重新计算页面上标准输出值

     
  
         
   


    </script>
 
@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>

            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" name="txtPoint" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>

        </table>
    </div>
    <!--/增加量程弹层-->
}


