@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "电能标准偏差估计值";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th colspan="11" style="text-align:right">等级<input id="zhidingwucha_t_1_1" name="zhidingwucha" type="text" class="my-textbox tc" value="" style="width:120px"></th>
    </tr>
    <tr>
        <th align="center" colspan="3">量限：</th>
        <th>cosφ</th>
        <th>y1(%)</th>
        <th>y2(%)</th>
        <th>y3(%)</th>
        <th>y4(%)</th>
        <th>y5(%)</th>
        <th>s(%)</th>
        <th>s化整(%)</th>
    </tr>
    @*<tr rowindex="1">
        <td class="classstyle" rowspan="2" align="center">
            <select class="my-combobox" name="RANGE" style="width:79px; " id="RANGE_t_1">
                <option value="单相">单相</option>
                <option value="三相三线">三相三线</option>
                <option value="三相四线">三相四线</option>
            </select>
        </td>
        <td class="classstyle" rowspan="2" align="center">
            <input type="text" class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1" name="OUTPUTVALUE" onblur="LianDongBuQueDingDu(this);">
            <select class="my-combobox" name="OUTPUTVALUE_UNIT" id="OUTPUTVALUE_UNIT_t_1_1">
                <option value="V">V</option>
                <option value="MV">MV</option>
                <option value="kV">kV</option>
                <option value="mV">mV</option>
                <option value="μV">μV</option>
            </select>
        </td>
        <td class="classstyle" rowspan="2" align="center">
            <input type="text" class="my-textbox input-width" value="" id="OUTPUTVAL1_t_1" name="OUTPUTVAL1" onblur="LianDongBuQueDingDu(this);">
            <select class="my-combobox" name="OUTPUTVAL1_UNIT" style="width:50px; " id="OUTPUTVAL1_UNIT_t_1">
                <option value="A">A</option>
                <option value="kA">kA</option>
                <option value="mA">mA</option>
                <option value="μA">μA</option>
                <option value="nA">nA</option>
                <option value="pA">pA</option>
            </select>
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <select class="my-combobox" name="READVALUE" style="width:79px; " id="READVALUE_t_1_1">
                <option value="1.0">1.0</option>
                <option value="0.5L">0.5L</option>
            </select>
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_1" name="ACTUALVALUE" onblur="changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_1" name="SHIJISHUCHUZHI" onblur="changeValue(this);LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_1" name="RELATIVEERROR" onblur="changeValue(this);LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE1_t_1_1" name="UNCERTAINTYDEGREE1" onblur="changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="BUQUEDINGDU_t_1_1" name="BUQUEDINGDU" onblur=" changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA_t_1_1" name="JISUANWUCHA" onblur="changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA1_t_1_1" name="JISUANWUCHA1" onblur=" LianDongBuQueDingDu(this);">
        </td>
    </tr>
    <tr rowindex="2">
        <td class="classstyle" rowspan="1" align="center">
            <select class="my-combobox" name="READVALUE" style="width:79px; " id="READVALUE_t_1_2">
                <option value="1.0">1.0</option>
                <option value="0.5L">0.5L</option>
            </select>
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_2" name="ACTUALVALUE" onblur="changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_2" name="SHIJISHUCHUZHI" onblur=" changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_2" name="RELATIVEERROR" onblur=" changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE1_t_1_2" name="UNCERTAINTYDEGREE1" onblur="changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="BUQUEDINGDU_t_1_2" name="BUQUEDINGDU" onblur="changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA_t_1_2" name="JISUANWUCHA" onblur="changeValue(this); LianDongBuQueDingDu(this);">
        </td>
        <td class="classstyle" rowspan="1" align="center">
            <input type="text" class="my-textbox input-width" value="" id="JISUANWUCHA1_t_1_2" name="JISUANWUCHA1" onblur=" LianDongBuQueDingDu(this);">
        </td>
    </tr>*@
    
</thead>
<tbody id="tbody_moban">

    <!--表体-->
    <!--插入行的位置-->
</tbody>
<tr>
    <td colspan="11">
        <input type="hidden" id="hideLiangChengShuLiang" value="1" /> <!--默认量程是0-->
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加量程</a>
    </td>
</tr>
<tfoot>
    <!--表尾-->

</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
         //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex) {

           // $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);
            CreateRow();
        }
        //增加行
        function CreateRow() {


            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程

            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值
                if (rowidx == 0) {
                    //需要合并的列
                    // 相线及测量模式
                    htmlString.push(SetTDHtml(txtPoint, "RANGE", lianChengID, rowidx, "", "", "", "", "XiangXianJiCeLiangMoShi"));
                    //量程(Un、Ib)
                    htmlString.push(SetTDHtml(txtPoint, "OUTPUTVALUE", lianChengID, rowidx, txtNumber, "", "", ""));
                    htmlString.push(SetTDHtml(txtPoint, "OUTPUTVAL1", lianChengID, rowidx));
                }
                //cosφ	
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, "", "", "", "", "Cos"));
                //y1(%)	
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, "", "", "", "changeValue"));
                //y2(%)
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, "", "", "", "changeValue"));
                //y3(%)
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, "", "", "", "changeValue"));
                //y4(%)
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE1", HangHaoID, rowidx, "", "", "", "changeValue"));
                //y5(%)
                htmlString.push(SetTDHtml(rowspan, "BUQUEDINGDU", HangHaoID, rowidx, "", "", "", "changeValue"));
                //s(%)	
                htmlString.push(SetTDHtml(rowspan, "JISUANWUCHA", HangHaoID, rowidx, "", "", "", "changeValue"));
                //s化整(%)
                htmlString.push(SetTDHtml(rowspan, "JISUANWUCHA1", HangHaoID, rowidx, "", "", "", ""));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框

            $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
        //计算标准值
        function changeValue(obj) {

            jiSuanWuCha(obj, "READVALUE", "ACTUALVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR", "UNCERTAINTYDEGREE1", "BUQUEDINGDU", "JISUANWUCHA", "JISUANWUCHA1");

        }
        //误差
        //obj 自身对象
        //T1 相线及测量模式
        //T2 量程(Un、Ib)
        //T3 功率因数cosφ
        //T4 Ib(%)
        //T5 y1(%)
        //T6 y2(%)
        //T7 y平均(%)
        //T8 y化整(%)
        function jiSuanWuCha(obj, Cos,T1, T2, T3, T4, T5, Ts, Tsh) {
            //重新计算当前行
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            var liangCheng = id.split('_')[2];
            T1 = T1 + id;            //改动的地方，参与计算的列的name值
            T2 = T2 + id;//改动的地方，参与计算的列的name值
            T3 = T3 + id;                            //改动的地方，误差的列的name值
            T4 = T4 + id;//有功分量 相对误差(%
            T5 = T5 + id;//改动的地方，参与计算的列的name值
            Ts = Ts + id;//无功分量 相对误差(%
            Tsh = Tsh + id; //T7 cosφ
            var T1Data = $(obj).parent().parent().find("#" + T1).val(); //T3 功率因数cosφ
            var T2Data = $(obj).parent().parent().find("#" + T2).val(); //T4 Ib(%)
            var T3Data = $(obj).parent().parent().find("#" + T3).val(); //T3 功率因数cosφ
            var T4Data = $(obj).parent().parent().find("#" + T4).val(); //T4 Ib(%)
            var T5Data = $(obj).parent().parent().find("#" + T5).val(); //T5 y1(%)
           // var T6Data = $(obj).parent().parent().find("#" + T6).val(); //T6  y2(%)
           // var T7Data = $(obj).parent().parent().find("#" + T7).val(); //T7 y平均(%)
            var zhidingwuchaData = $("#zhidingwucha" + "_" + tongdao + "_1_1").val();//等级
            var txtPointLen =5; //小数点位数
      //      【s(%)】=STDEV(y1:y5)为标准偏差，即贝赛尔公式，小数点后五位，四舍六入，逢五奇进偶不进																																																									
            if (T1Data != "" && T2Data != "" && T3Data != "" && T4Data != "" && T5Data != "") {
                var strData = T1Data + "," + T2Data + "," + T3Data + "," + T4Data + "," + T5Data;
                var jianfa = calculate(strData);
                var data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);
                $(obj).parent().parent().find("#" + Ts).val(data);
            }
            var TsData = $(obj).parent().parent().find("#" + Ts).val(); //T7 y平均(%)
            //y化整(%)=Round(y平均/等级,1)*等级。
            //【s化整(%)】=Round(s(%)/(等级/10),1)*(等级/10)	
            if (TsData != "" && zhidingwuchaData != "") {
                TsData = parseFloat(TsData);
                zhidingwuchaData = parseFloat(zhidingwuchaData);
                var s=accDiv(zhidingwuchaData,10);
                var jianfa = accMul(accDiv(TsData, s).toFixed(1), s);
                var data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);
                $(obj).parent().parent().find("#" + Tsh).val(data);
            }
            //【s化整】引用电能标准偏差估计值
            //【功率因数cosφ】、【Ib(%)】同一个相线、量程下上下相等着合并。
        }

</script>



   
}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="2" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="3" /><!--小数点位数-->
}