@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "电阻示值误差-相对误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th width="240" align="center">
            测量范围<select class="my-combobox" name="state" id="state_t_1_1">
                    <option value="" ></option>
                <option value="通道1" >通道1</option>
                <option value="通道2">通道2</option>

            </select>
        </th>
        <th width="140" align="center">工作电流</th>
        <th width="140" align="center">标准值</th>
        <th width="140" align="center">显示值</th>
        <th width="120" align="center">误差(%)</th>
        <th width="120" align="center">允许限值(%)</th>
        <th width="120" align="center">
            校准结果的不确定度<br>U(k=
            <select class="my-combobox" name="K" id="K_t_1_1">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="√3">√3</option>
            </select>)
        </th>
    </tr>
</thead>

<tbody id="tbody_moban">
    <!--表体-->
    <tr>
        <td rowspan="95" align="center" width="230">
            <input name="fhzkhz" id="fhzkhz_t_1_1" type="text" class="my-textbox tc" value="57.7" style="width:50px">
            <select class="my-combobox" name="bhzkhz" id="bhzkhz_t_1_1">
                <option value="Ω" selected="selected">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select> ~ <input name="chzkhz" id="chzkhz_t_1_1" type="text" class="my-textbox tc" value="5" style="width:50px">
            <select class="my-combobox" name="dhzkhz" id="dhzkhz_t_1_1">
                <option value="Ω" selected="selected">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
        </td>

         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_1" name="OUTPUTVALUE" onblur="LianDongBuQueDingDu(this);" type="text">
             <select class="my-combobox" name="READVAL1_UNIT" style="width:50px; " onchange="LianDongDanWeiDDL(this,'')" id="READVAL1_UNIT_1_1_1"><option value="A">A</option> <option value="kA">kA</option><option value="mA">mA</option>  <option value="μA">μA</option><option value="nA">nA</option> <option value="pA">pA</option> </select>
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_1" name="READVALUE" onblur="resetXianShiZhi(this); LianDongBuQueDingDu(this);" type="text">
            <select class="my-combobox" name="READVALUE_UNIT" onchange="LianDongDanWeiDDL(this,'')" id="READVALUE_UNIT_1_1_1"><option value="Ω">Ω</option> <option value="TΩ">TΩ</option><option value="GΩ">GΩ</option>  <option value="MΩ">MΩ</option>  <option value="kΩ">kΩ</option>  <option value="mΩ">mΩ</option>  <option value="μΩ">μΩ</option>  </select>
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_1" name="ACTUALVALUE" onblur="resetXianShiZhi(this); LianDongBuQueDingDu(this);" type="text">
            <select class="my-combobox" name="ACTUALVALUE_UNIT" onchange="LianDongDanWeiDDL(this,'')" id="ACTUALVALUE_UNIT_1_1_1"><option value="Ω">Ω</option> <option value="TΩ">TΩ</option><option value="GΩ">GΩ</option>  <option value="MΩ">MΩ</option>  <option value="kΩ">kΩ</option>  <option value="mΩ">mΩ</option>  <option value="μΩ">μΩ</option>  </select>
        </td>
        <td rowspan="1" align="center">
            <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_1" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <span class="ttt">±</span><input class="my-textbox input-width" value="" id="RELATIVEERROR_t_1_1" name="RELATIVEERROR" onblur="blurValue(this)" type="text">
        </td>
        <td rowspan="1" align="center">
            <input class="my-textbox input-width" value="" id="UNCERTAINTYDEGREE_t_1_1" name="UNCERTAINTYDEGREE" onblur="blurValue(this)" type="text">
            <input name="BuQueDingDuZhi" id="BuQueDingDuZhi_UNCERTAINTYDEGREE_t_1_1" value="" type="hidden">
            <input name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_UNCERTAINTYDEGREE_t_1_1" value="" type="hidden">
            <a href="#" name="btnBuQueDing"  onclick="showModal('BuQueDingDuZhi_UNCERTAINTYDEGREE_t_1_1&amp;BuQueDingDuLuJing_UNCERTAINTYDEGREE_t_1_1^BuQueDingDuLuJing_UNCERTAINTYDEGREE_t_1_1^UNCERTAINTYDEGREE_t_1_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=UNCERTAINTYDEGREE_t_1_1&amp;RuleID=126-1995_2_6_1');" group="" id="">
                计算 
            </a>
           
        </td>
    </tr>
    <!--插入行的位置-->
</tbody>

<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="7">
            <input type="hidden" id="hideLiangChengShuLiang" value="1" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

        </td>
    </tr>
</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex, thi) {
            $("#hideDangQianTongDao").val(tbodyIndex);

            CreateRow(thi);
            // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框

            $('.ttt').remove();
            $('input[id*="RELATIVEERROR_"]').before('<span class="ttt">±</span>');

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程



            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值

                if (rowidx == 0) {
                    //需要合并的列 //量程


                }

                //需要合并的列


                //工作电流
                //需要下拉框
                htmlString.push(SetTDHtml(rowspan, "READVAL1", HangHaoID, rowidx, '', '', ''));
                //标准值
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, '', '', '', 'resetXianShiZhi'));
                //显示值
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, '', '', '', 'resetXianShiZhi'));
                //误差(%)
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx));

                //允许限值(%)
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, '', "classstyle100"));               

                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, '', "classstyle"));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

        //计算显示值
        function resetXianShiZhi(obj) {
            //重新计算当前行
            xiangDuiWuCha(obj, "ACTUALVALUE", "READVALUE", "SHIJISHUCHUZHI");
        }
        

        //离开事件，用于计算
        function blurValue(obj) {

            //   LianDongShiJiZhi(obj);
        }


    </script>


}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->

}




