@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "电能标准偏差估计值";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr >
        <th colspan="13" style="text-align:right">等级<input id="RANGE_t_1_1" name="RANGE" type="text" class="my-textbox tc" value="" style="width:120px"></th>
    </tr>
    <tr>
        <th align="center" width="100" colspan="5">量限：</th>
        <th style="width:49px">cosφ</th>
        <th style="width:49px">y1(%)</th>
        <th style="width:49px">y2(%)</th>
        <th style="width:49px">y3(%)</th>
        <th style="width:49px">y4(%)</th>
        <th style="width:49px">y5(%)</th>
        <th style="width:49px">s(%)</th>
        <th style="width:49px">s化整(%)</th>
    </tr>
    <tr rowindex="1">
        <td>
            <select class="my-combobox" name="OUTPUTVALUE" id="OUTPUTVALUE_t_1_1">
                <option value="单相">单相</option>
                <option value="三相三线">三相三线</option>
                <option value="三相四线">三相四线</option>
            </select>
        </td>
        <td><input id="READVALUE_t_1_1" name="READVALUE" type="text" class="my-textbox tc" value="100" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
        <td>
            <select class="my-combobox" name="ACTUALVALUE" id="ACTUALVALUE_t_1_1">
                <option value="V">V</option>
                <option value="MV">MV</option>
                <option value="kV">kV</option>
                <option value="mV">mV</option>
                <option value="μV">μV</option>
            </select>
        </td>
        <td><input id="SHIJISHUCHUZHI_t_1_1" name="SHIJISHUCHUZHI" type="text" class="my-textbox tc" value="50" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
        <td>
            <select class="my-combobox" name="RELATIVEERROR" id="RELATIVEERROR_t_1_1">
                <option value="A">A</option>
                <option value="kA">kA</option>
                <option value="mA">mA</option>
                <option value="μA">μA</option>
                <option value="nA">nA</option>
                <option value="pA">pA</option>
            </select>
        </td>
        <td colspan="8">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tr>
                    <td>
                        <select class="my-combobox" name="UNCERTAINTYDEGREE" id="UNCERTAINTYDEGREE_t_1_1">
                            <option value="1.0">1.0</option>
                            <option value="0.5L">0.5L</option>
                        </select>
                    </td>
                    <td><input id="BUQUEDINGDU_t_1_1" name="BUQUEDINGDU" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUYYI_t_1_1" name="SHURUYYI" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUYER_t_1_1" name="SHURUYER" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUYSAN_t_1_1" name="SHURUYSAN" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUYSI_t_1_1" name="SHURUYSI" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUSZHI_t_1_1" name="SHURUSZHI" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUSHUAZHENG_t_1_1" name="SHURUSHUAZHENG" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                </tr>
                <tr>
                    <td>
                        <select class="my-combobox" name="COSZHI" id="COSZHI_t_1_1">
                            <option value="1.0">1.0</option>
                            <option value="0.5L">0.5L</option>
                        </select>
                    </td>
                    <td><input id="SHURUA_t_1_1" name="SHURUA" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUB_t_1_1" name="SHURUB" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUC_t_1_1" name="SHURUC" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUD_t_1_1" name="SHURUD" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUF_t_1_1" name="SHURUF" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUG_t_1_1" name="SHURUG" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                    <td><input id="SHURUH_t_1_1" name="SHURUH" type="text" class="my-textbox tc" value="" style="width:49px" onblur="blurShuChuFanWeiZuiXiao(this)"></td>
                </tr>
            </table>
        </td>
    </tr>
</thead>
<tbody>
    <!--表体-->

</tbody>
<tfoot>
    <!--表尾-->

</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        //tbodyIndex通道
        //thi 当前位置
        function set(tbodyIndex, thi) {
            // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框
            $("#hideDangQianTongDao").val(tbodyIndex); CreateRow();

        }
        function blurShuChuFanWeiZuiXiao(obj) {
            //

        }



    </script>
}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->
}