@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "内附百分表-负荷仪";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th >
            <span>内附百分表试验：</span>
            <select style="width:200px" class="my-combobox" name="statestandard" id="statestandard_t_1_1">
                <option value="合格">合格</option>
                <option value="不合格">不合格</option>
            </select>
        </th>

      
    </tr>
   
</thead>

<tbody id="tbody_moban">
    <!--表体-->
    <!--插入行的位置-->

</tbody>

<tfoot>
    <!--表尾-->
    <tr>
        
    </tr>
</tfoot>
 


