@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "工作电流";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="7">
            内附百分表误差测量：
            <select class="my-combobox" name="BianSongQiTongDao" id="BianSongQiTongDaoD_t_1_1">
                <option value="合格">合格</option>
                <option value="不合格">不合格</option>

            </select>
            &nbsp;&nbsp;&nbsp;&nbsp;<span></span>
        </td>
    </tr>
    <tr>
        <th align="center" width="100">额定工作@(((ViewBag.canshu) == "电压") ? "电压(V)" : "电流(A)")</th>
        <th align="center" width="100">额定@(((ViewBag.canshu) == "电压") ? "电压" : "电流")百分比</th>
        <th align="center" width="100"> 显示值@(((ViewBag.canshu) == "电压") ? "(V)" : "(A)")</th>
        <th align="center" width="100"> 标准值@(((ViewBag.canshu) == "电压") ? "(V)" : "(A)")</th>
        <th align="center" width="100">误差(%)</th>
        <th align="center" width="100">最大基本误差(%)</th>
        <th align="center" width="100"> 结论</th>

    </tr>
</thead>
<tbody id="tbody_moban">
    <!--表体-->

</tbody>
<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="11">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加量程</a>
        </td>
    </tr>
</tfoot>


@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        //tbodyIndex通道
        //thi 当前位置
        function set(tbodyIndex, thi) {
             $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框
             $("#hideDangQianTongDao").val(tbodyIndex);
             //CreateRow();
        }
        var s = 0;
        //增加行
        function CreateRow() {
            s++;
            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var rowspanIdx = $("#txtPoint").val();     //检测点数
            var lcval = $("#txtlc").val();     //检测点数
            txtPointLen = $("#mywuchaxiaoshuweishu").val(); //小数点位数
            var standardValue = "";
            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程
            for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "' data-value='" + s + "'>");

                var rowspan = 1; //合并单元格行数

                var txtVal = "";//(文本框值)，如果有值并且行号为null直接赋值，否则走自动计算
                var unit = "";//在输入框后面的单位


                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行
                if (rowidx == 0) {
                    //需要合并的列
                     htmlString.push(SetTDHtml(rowspanIdx, "TDA", lianChengID, rowidx, lcval, "", '', 'blurbiaozhun', '@(((ViewBag.canshu) == "电压") ? "EDGZDianliu100" : "EDGZDianliu")'));
                    //二次输入标准值

                }
                //需要合并的列

                //测量点
                htmlString.push(SetTDHtml(rowspan, "AOUTPUTVALUE", HangHaoID, rowidx, '', "", '', 'blurbiaozhun', 'DianLiuBaiFenBi'));
                //二次输入标准值
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, '', "", '', 'blurYinYongWuCha'));
                //标准输出值
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, '', "", '', 'blurYinYongWuCha'));
                htmlString.push(SetTDHtml(rowspan, "BUQUEDINGDU", HangHaoID, rowidx, '', ""));
                if (rowidx == 0) {
                    //需要合并的列
                    htmlString.push(SetTDHtml(rowspanIdx, "JISUANWUCHA", HangHaoID, rowidx, '', ""));
                    htmlString.push(SetTDHtml(rowspanIdx, "YINYONGXIANGDUI", HangHaoID, rowidx, '', "", '','', 'JieLun'));
                    //二次输入标准值

                }


                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
        //离开事件，用于计算 计算后实际电流值(A)
        function blurbiaozhun(obj) {
            //注意多通道
            var sjdlval = GetDianliu(obj, "TDA", "AOUTPUTVALUE", "ACTUALVALUE");//谁知电流值
            wuCha(obj, "READVALUE", "ACTUALVALUE", "ACTUALVALUE", "BUQUEDINGDU")
            GetAbs(obj);//得到最大绝对值
            var k = $(obj).parent().parent().attr("data-value");//代表第几次
            $("#tbody_" + GetMyTongDao(obj) + " tr").each(function () {
                var trval = $(this).attr("data-value");
                if (k == trval) {
                    $(this).find("td").find(':input[name="JISUANWUCHA"]').val(oldValue)//引用误差
                }
            })
        }
        //离开事件，用于计算 计算【引用误差】=(计算后实际电流值-电流值)/量程*100，小数点后两位，四舍六入，逢五奇进偶不进
        function blurYinYongWuCha(obj) {
            //注意多通道
            wuCha(obj, "READVALUE", "ACTUALVALUE", "ACTUALVALUE", "BUQUEDINGDU")
            GetAbs(obj);//得到最大绝对值
            //获取最大误差值
            var k = $(obj).parent().parent().attr("data-value");//代表第几次
            //获取最大误差值
            $("#tbody_" + GetMyTongDao(obj) + " tr").each(function () {
                var trval = $(this).attr("data-value");
                if (k == trval) {
                    $(this).find("td").find(':input[name="JISUANWUCHA"]').val(oldValue)//引用误差
                }
            })
        }


        function blurValue(obj){

        }

        ///保留绝对值默认为0
        var oldValue =0;
        function GetAbs(obj) {
            oldValue = zeroFloat(0, $("#mywuchaxiaoshuweishu").val());
           // GetAbs(obj);//得到最大绝对值
            //获取最大误差值
            var k = $(obj).parent().parent().attr("data-value");//代表第几次
            $("#tbody_" + GetMyTongDao(obj) + " tr").each(function () {  //引用误差
                var trval = $(this).attr("data-value");
                if (k == trval) {
                    var newValue = Math.abs($(this).find("td").find(':input[name="BUQUEDINGDU"]').val());
                    var newabs = Math.abs($(this).find("td").find(':input[name="BUQUEDINGDU"]').val());
                    var oldabs = Math.abs(oldValue);
                    if (newabs > oldabs) {
                        oldValue = zeroFloat(newValue, $("#mywuchaxiaoshuweishu").val());
                    }
                }

              });
           return oldValue;
        }




        ///【计算后实际电流值(A)】
        ///obj 对象本身，first=标准电流值(A)，second=电流表显示值(A)，third=电压表显示值(V)，fourth=mv/A，gold=赋值对象
        function GetDianliu(obj, first, second, gold) {
            //重新计算当前行
            var k = $(obj).parent().parent().attr("data-value");
            var n = 0;
            var firstData;
            var txtPointLen = $("#mywuchaxiaoshuweishu").val(); //小数点位数
            $("#tbody_" + GetMyTongDao(obj) + " tr").each(function () {  //引用误差
                var trval = $(this).attr("data-value");
                if (k == trval) {
                    if (n == 0) {
                        firstData = $(this).find("td").find(':input[name="' + first + '"]').val();
                        if (firstData.indexOf("√") > 0) {
                            firstData = 100 / Math.sqrt(3);
                        }
                        n++;
                    }
                    var secondData =parseInt($(this).find("td").find(':input[name="' + second + '"]').val().replace('%',''));
                    if (firstData != "undefined" && secondData != "undefined"
                         && firstData != "" && secondData != "") {
                        var txtPointLen = $("#mywuchaxiaoshuweishu").val(); //小数点位数
                        // 【计算后实际电流值(A)】=【电压表显示值(V)】/【mv/A/】1000/【电流表显示值(A)】*【标准电流值(A)】，小数点后一位，四舍六入，逢五奇进偶不进
                        var jianfa = firstData * secondData / 100;
                        data = zeroFloat(jianfa, txtPointLen);
                        $(this).find("td").find(':input[name="' + gold + '"]').val(data);
                    }
                    wuCha($(this).find("td").find(':input[name="' + gold + '"]'), "READVALUE", "ACTUALVALUE", "ACTUALVALUE", "BUQUEDINGDU")
                }
            });


        }
        function GetMyTongDao(obj) {
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            return tongdao;
            //return $("#hideDangQianTongDao").val();//当前操作第几通道
        }



    </script>
<script>
    //方向键控制页面控件焦点移动
    function keyDown(event) {
        var rowspan =1;
        var colunmIdx = "";
        var inputs = $(".my-textbox")                              //通过class属性值获取控件组合
        var focus = document.activeElement;                 //得到处于激活状态的控件
        if (!document.getElementById("tongdao").contains(focus)) return;     //判断是否包含激活控件在指定的Table下
        //if (!$(".tbl").contains(focus)) return;
        var event = window.event || event;                              //获取事件
        var key = event.keyCode;                                        //得到按下的键盘Ascii码
        var flag = -1;

        //得到激活控件在组合中的具体位置
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i] === focus) {
                // alert(i);
                break;
            }
        }

        switch (key) {

            case 37: //向左键
                if (i > 0) inputs[i - 1].focus();
                break;
            case 38:                //向上键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                var tr_up = $(inputs[i]).parents("tr").prev();      //当前所在的行数的上一行
                if ($(inputs[i]).parents("tr").prev().length >= 1) {   //判断上一行是否还有行
                    var tr_up = $("[rowindex=" + ($(tr).attr("rowindex") - 1) + "]", $(inputs[i]).parents("table")[0])[0];      //当前所在的行数的上一行

                    if ($(tr_up).attr("rowindex") == 1)  //如果是第一行
                        $(tr_up).find("td").eq(td + rowspan).find('input').focus();    //此模板没有有rowspan合并行等,所以如果向上到第一行,td不增减;
                    else {
                        if ($(tr).find("td").length < $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td + rowspan).find('input').focus();
                        if ($(tr).find("td").length == $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td - rowspan).find('input').focus();
                    }
                }
                else {
                    //没有则找上一个table
                    var prevtable = $(inputs[i]).parents("table").prev()[0];

                    var tr_up = $(prevtable).find("tr:eq(" + ($('tr', $(prevtable)).length - 2) + ")");
                    if ($(tr_up).attr("rowindex") == 1)
                        $(tr_up).find('td').eq(td + rowspan).find('input').focus();
                    else
                        $(tr_up).find('td').eq(td).find('input').focus();
                }
                break;
            case 39: //向右键
                if (i < inputs.length - 1) inputs[i + 1].focus();
                break;
            case 40: //向下键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                if ($(inputs[i]).parents("tr").next().length >= 1) {
                    var tr_down = $(inputs[i]).parents("tr").next();      //当前所在的行数的下一行
                    if ($(tr).attr("rowindex") != 1) {
                        if ($(tr).find("td").length < $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td + rowspan).find('input').focus();
                        if ($(tr).find("td").length == $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td - rowspan).find('input').focus();
                    }
                    else
                        $(tr_down).find("td").eq(td - rowspan).find('input').focus();//第一列没有合并行，td数量不变
                }
                else {
                    var table = $(inputs[i]).parents("table").next();
                    var tr = $('[rowindex]', table).eq(0);
                    if ($(tr).attr("rowindex") != 1)
                        $(tr).find('td').eq(td).find('input').focus();
                    else
                        $(tr).find('td').eq(td + rowspan).find('input').focus();
                }
                break;
            case 13:                //回车键
                event.returnValue = false;                          //阻止自动提交
                var j = i + 1;
                var flag = false;
                if (inputs.get(j).disabled == false) {
                    flag = true;
                } else {
                    for (j = i + 4; j <= inputs.length - 1; j = j + 2) {
                        if (inputs.get(j).disabled == false) {
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
        }
    }
</script>
}
@section TanKuang {
    <!--弹框的位置-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
           <tr>
                <td align="right">量程设定：</td>
                <td><input type="text" id="txtlc" value="" name="txtlc" class="easyui-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" value="" name="txtPoint" class="easyui-textbox  required digits" style="width:200px" /></td>
            </tr>
           
            <tr style="display:none">
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen" value="" name="txtPointLen" class="easyui-textbox  required digits" value="2" style="width:200px" /></td>
            </tr>
        </table>
    </div>
}

