@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "工频单相相位输出（测量）-绝对误差-一列";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="95">
            <div class="fl" style="margin-center:20px">
                <input name="dianya" id="dianya_t_1_1" type="text" class="my-textbox tc" value="100" style="width:40px">
                <select class="my-combobox" name="dianyadanwei" id="dianyadanwei_t_1_1">
                    <option value="V">V</option>
                    <option value="MV">MV</option>
                    <option value="kV">kV</option>
                    <option value="mV">mV</option>
                    <option value="μV">μV</option>
                </select>
                /
                <input name="dianliu" id="dianliu_t_1_1" type="text" class="my-textbox tc" value="5" style="width:40px">
                <select class="my-combobox" name="dianliudanwei" id="dianliudanwei_t_1_1">
                    <option value="A">A</option>
                    <option value="kA">kA</option>
                    <option value="mA">mA</option>
                    <option value="μA">μA</option>
                    <option value="nA">nA</option>
                    <option value="pA">pA</option>
                </select>，
                <input name="dianHz" id="dianHz_t_1_1" type="text" class="my-textbox tc" value="50" style="width:50px">
                <select class="my-combobox" name="dianHzdanwei" id="dianHzdanwei_t_1_1">
                    <option value="Hz">Hz</option>
                    <option value="kHz">kHz</option>
                    <option value="mHz">MHz</option>
                    <option value="gHz">GHz</option>

                </select>

            </div>
        </td>
    </tr>
    <tr>
        <th rowspan="2" align="center" width="140">相位</th>
        <th align="center" colspan="@ViewBag.canshu"> 显示值</th>
        <th align="center" colspan="@ViewBag.canshu">标准值</th>
        <th align="center" colspan="@ViewBag.canshu">绝对误差</th>
        <th align="center">
            校准结果的不确定度

        </th>
    </tr>
    <tr>
        
        @if (ViewBag.canshu == 1)
        {
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'uonchange1_t_1_1')" class="my-combobox uonchange1_t_1_1" name="MYDIANYA1" id="MYDIANYA1_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'aonchange1_t_1_1')"  class="my-combobox aonchange1_t_1_1" name="MYDIANYA2" id="MYDIANYA2_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'uonchange1_t_1_1')"  class="my-combobox  uonchange1_t_1_1" name="MYDIANYA3" id="MYDIANYA3_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>

                </select><span>-</span>
                <select onchange="uonchange(this, 'aonchange1_t_1_1')"  class="my-combobox aonchange1_t_1_1" name="MYDIANYA4" id="MYDIANYA4_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select  onchange="uonchange(this, 'uonchange1_t_1_1')"  class="my-combobox uonchange1_t_1_1" name="MYDIANYA5" id="MYDIANYA5_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'aonchange1_t_1_1')"  class="my-combobox aonchange1_t_1_1" name="MYDIANYA6" id="MYDIANYA6_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>

        }

        @if (ViewBag.canshu == 2)
            {
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'uonchange2_t_1_1')"  class="my-combobox uonchange2_t_1_1" name="MYDIANYA1" id="MYDIANYA1_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'aonchange2_t_1_1')"  class="my-combobox aonchange2_t_1_1" name="MYDIANYA2" id="MYDIANYA2_t_1_1">
                    <option value="I1">I1</option>
                    <option selected="selected" value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'sonchange22_t_1_1')"  class="my-combobox sonchange22_t_1_1" name="MYDIANYA3" id="MYDIANYA3_t_1_1">
                    <option value="U1">U1</option>
                    <option selected="selected" value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>

                </select><span>-</span>
                <select onchange="uonchange(this, 'tonchange22_t_1_1')"  class="my-combobox tonchange22_t_1_1" name="MYDIANYA4" id="MYDIANYA4_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'uonchange2_t_1_1')"  class="my-combobox uonchange2_t_1_1" name="MYDIANYA5" id="MYDIANYA5_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'aonchange2_t_1_1')"  class="my-combobox aonchange2_t_1_1" name="MYDIANYA6" id="MYDIANYA6_t_1_1">
                    <option value="I1">I1</option>
                    <option selected="selected" value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'sonchange22_t_1_1')"  class="my-combobox sonchange22_t_1_1" name="MYDIANYA7" id="MYDIANYA7_t_1_1">
                    <option value="U1">U1</option>
                    <option selected="selected" value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'tonchange22_t_1_1')"  class="my-combobox tonchange22_t_1_1" name="MYDIANYA8" id="MYDIANYA8_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'uonchange2_t_1_1')"  class="my-combobox uonchange2_t_1_1" name="MYDIANYA9" id="MYDIANYA9_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>

                </select><span>-</span>
                <select onchange="uonchange(this, 'aonchange2_t_1_1')"  class="my-combobox aonchange2_t_1_1" name="MYDIANYA0" id="MYDIANYA0_t_1_1">
                    <option value="I1">I1</option>
                    <option selected="selected" value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'sonchange22_t_1_1')"  class="my-combobox sonchange22_t_1_1" name="MYDIANYA11" id="MYDIANYA11_t_1_1">
                    <option value="U1">U1</option>
                    <option selected="selected" value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'tonchange22_t_1_1')"  class="my-combobox tonchange22_t_1_1" name="MYDIANYA12" id="MYDIANYA12_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>

        }

        @if (ViewBag.canshu == 3)
            {
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'uonchange3_t_1_1')"  class="my-combobox uonchange3_t_1_1" name="MYDIANYA1" id="MYDIANYA1_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option selected="selected" value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'aonchange3_t_1_1')"  class="my-combobox aonchange3_t_1_1" name="MYDIANYA2" id="MYDIANYA2_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option selected="selected" value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'sonchange32_t_1_1')"  class="my-combobox sonchange32_t_1_1" name="MYDIANYA3" id="MYDIANYA3_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option selected="selected" value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>

                </select><span>-</span>
                <select onchange="uonchange(this, 'tonchange32_t_1_1')"  class="my-combobox tonchange32_t_1_1" name="MYDIANYA4" id="MYDIANYA4_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option selected="selected" value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'fonchange33_t_1_1')"  class="my-combobox fonchange33_t_1_1" name="MYDIANYA5" id="MYDIANYA5_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option selected="selected" value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'bonchange33_t_1_1')"  class="my-combobox bonchange33_t_1_1" name="MYDIANYA6" id="MYDIANYA6_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option selected="selected" value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'uonchange3_t_1_1')"  class="my-combobox uonchange3_t_1_1" name="MYDIANYA7" id="MYDIANYA7_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option selected="selected" value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'aonchange3_t_1_1')"  class="my-combobox aonchange3_t_1_1" name="MYDIANYA8" id="MYDIANYA8_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option selected="selected" value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'sonchange32_t_1_1')"  class="my-combobox sonchange32_t_1_1" name="MYDIANYA9" id="MYDIANYA9_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option selected="selected" value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>

                </select><span>-</span>
                <select onchange="uonchange(this, 'tonchange32_t_1_1')"  class="my-combobox tonchange32_t_1_1" name="MYDIANYA0" id="MYDIANYA0_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option selected="selected" value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'fonchange33_t_1_1')"  class="my-combobox fonchange33_t_1_1" name="MYDIANYA11" id="MYDIANYA11_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option selected="selected" value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'bonchange33_t_1_1')"  class="my-combobox bonchange33_t_1_1" name="MYDIANYA12" id="MYDIANYA12_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option selected="selected" value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'uonchange3_t_1_1')"  class="my-combobox uonchange3_t_1_1" name="MYDIANYA13" id="MYDIANYA13_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option selected="selected" value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>


                </select><span>-</span>
                <select onchange="uonchange(this, 'aonchange3_t_1_1')"  class="my-combobox aonchange3_t_1_1" name="MYDIANYA14" id="MYDIANYA14_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option selected="selected" value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'sonchange32_t_1_1')"  class="my-combobox sonchange32_t_1_1" name="MYDIANYA15" id="MYDIANYA15_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option selected="selected" value="UB">UB</option>
                    <option value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option> 
                </select><span>-</span>
                <select onchange="uonchange(this, 'tonchange32_t_1_1')"  class="my-combobox tonchange32_t_1_1" name="MYDIANYA16" id="MYDIANYA16_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option selected="selected" value="IB">IB</option>
                    <option value="IC">IC</option>
                </select>
            </th>
            <th align="center" class="f14">
                <select onchange="uonchange(this, 'fonchange33_t_1_1')"  class="my-combobox fonchange33_t_1_1" name="MYDIANYA17" id="MYDIANYA17_t_1_1">
                    <option value="U1">U1</option>
                    <option value="U2">U2</option>
                    <option value="UA">UA</option>
                    <option value="UB">UB</option>
                    <option selected="selected" value="UC">UC</option>
                    <option value="UAB">UAB</option>
                    <option value="UBC">UBC</option>

                </select><span>-</span>
                <select onchange="uonchange(this, 'bonchange33_t_1_1')"  class="my-combobox bonchange33_t_1_1" name="MYDIANYA18" id="MYDIANYA18_t_1_1">
                    <option value="I1">I1</option>
                    <option value="I2">I2</option>
                    <option value="IA">IA</option>
                    <option value="IB">IB</option>
                    <option selected="selected" value="IC">IC</option>
                </select>
            </th>

        }
        <th align="center">
            U(k = <select class="my-combobox" name="K" id="K_t_1_1" style="width:30px;">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="√3">√3</option>


            </select>)
        </th>
    </tr>
</thead>

<tbody id="tbody_moban">
    <!--表体-->
    <!--插入行的位置-->
</tbody>

<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="7">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加相位</a>

        </td>
    </tr>
</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex) {

            $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var rowspanIdx = $("#txtPoint").val();     //检测点数
            txtPointLen = $("#txtPointLen").val(); //小数点位数
            var standardValue = "";
            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程

            var temp = 30;
            for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var txtVal = "";//(文本框值)，如果有值并且行号为null直接赋值，否则走自动计算
                var unit = "<sup>°</sup>";//在输入框后面的单位


                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值
                if (rowspanIdx == 6)
                { temp = 60 }
                else if (rowspanIdx == 12)
                { temp = 30 }
                else
                    temp = "";
                txtVal = (rowidx * temp).toFixed(txtPointLen);
                @for (int i = 0; i < 3; i++)//一共3列
                {
                    for (int c = 0; c < ViewBag.canshu; c++)//组
                    {
                        if (i == 0)
                        {
                            ViewBag.canshu2 += @"htmlString.push(SetTDHtml(rowspan, 'XIANSHIZHIER"
 + c + "', HangHaoID, rowidx, "
+ ((ViewBag.ceLiangShuChu == "相位输出") ? "txtVal" : "''") + ", '', unit,'jueDuiwuCha1'));";

                        }
                        else if (i == 1)
                        {
                            ViewBag.canshu2 += @"htmlString.push(SetTDHtml(rowspan, 'BIAOZHUNZHIER"
             + c + "', HangHaoID, rowidx, "
            + ((ViewBag.ceLiangShuChu == "相位输出") ? "''" : "txtVal") + ", '', unit,'jueDuiwuCha2'));";

                        }
                        else if (i == 2)
                        {
                            ViewBag.canshu2 += @"htmlString.push(SetTDHtml(rowspan, 'YINYONGWUCHAER"
             + c + "', HangHaoID, rowidx, '', '', unit));";

                        }
                    }


                }


                if (rowidx == 0) {
                    //需要合并的列
                }

                //相位
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, txtVal, "", unit));

                //动态计算出的默认值列
                @Html.Raw(ViewBag.canshu2)

                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, '', ""));

                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

        //离开事件，用于计算
        function blurValue(obj) {

            //   LianDongShiJiZhi(obj);
        }
        //离开事件，用于计算
        function jueDuiwuCha1(obj) {
            //重新计算当前行
           
            var id = $(obj).attr("id");
            var idAdd = id.substring(id.indexOf('_') - 1, id.indexOf('_'));
            
            jueDuiWuCha(obj, "XIANSHIZHIER" + idAdd, "BIAOZHUNZHIER" + idAdd, "YINYONGWUCHAER" + idAdd);

           
        }
        function jueDuiwuCha2(obj) {
            //重新计算当前行
            var id = $(obj).attr("id");
            var idAdd = id.substring(id.indexOf('_') - 1, id.indexOf('_'));

            jueDuiWuCha(obj, "XIANSHIZHIER" + idAdd, "BIAOZHUNZHIER" + idAdd, "YINYONGWUCHAER" + idAdd);
        }



    </script>
    <script>
        //方向键控制页面控件焦点移动
        function keyDown(event) {
            var colunmIdx = "";
            var inputs = $(".my-textbox")                              //通过class属性值获取控件组合
            var focus = document.activeElement;                 //得到处于激活状态的控件
            if (!document.getElementById("tongdao").contains(focus)) return;     //判断是否包含激活控件在指定的Table下
            //if (!$(".tbl").contains(focus)) return;
            var event = window.event || event;                              //获取事件
            var key = event.keyCode;                                        //得到按下的键盘Ascii码
            var flag = -1;

            //得到激活控件在组合中的具体位置
            for (var i = 0; i < inputs.length; i++) {
                if (inputs[i] === focus) {
                    // alert(i);
                    break;
                }
            }

            switch (key) {

                case 37: //向左键
                    if (i > 0) inputs[i - 1].focus();
                    break;
                case 38:                //向上键
                    var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                    var tr = $(inputs[i]).parents("tr");
                    var tr_up = $(inputs[i]).parents("tr").prev();      //当前所在的行数的上一行
                    if ($(inputs[i]).parents("tr").prev().length >= 1) {   //判断上一行是否还有行
                        var tr_up = $("[rowindex=" + ($(tr).attr("rowindex") - 1) + "]", $(inputs[i]).parents("table")[0])[0];      //当前所在的行数的上一行

                        if ($(tr_up).attr("rowindex") == 1)  //如果是第一行
                            $(tr_up).find("td").eq(td ).find('input').focus();    //此模板没有有rowspan合并行等,所以如果向上到第一行,td不增减;
                        else {
                            if ($(tr).find("td").length < $(tr_up).find("td").length)
                                $(tr_up).find("td").eq(td + 1).find('input').focus();
                            if ($(tr).find("td").length == $(tr_up).find("td").length)
                                $(tr_up).find("td[rowspan='1']").eq(td).find('input').focus();
                            if ($(tr).find("td").length > $(tr_up).find("td").length)
                                $(tr_up).find("td[rowspan='1']").eq(td - 1).find('input').focus();
                        }
                    }
                    else {
                        //没有则找上一个table
                        var prevtable = $(inputs[i]).parents("table").prev()[0];

                        var tr_up = $(prevtable).find("tr:eq(" + ($('tr', $(prevtable)).length - 2) + ")");
                        if ($(tr_up).attr("rowindex") == 1)
                            $(tr_up).find('td').eq(td).find('input').focus();
                        else
                            $(tr_up).find('td').eq(td - 1).find('input').focus();
                    }
                    break;
                case 39: //向右键
                    if (i < inputs.length - 1) inputs[i + 1].focus();
                    break;
                case 40: //向下键
                    var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                    var tr = $(inputs[i]).parents("tr");
                    if ($(inputs[i]).parents("tr").next().length >= 1) {
                        var tr_down = $(inputs[i]).parents("tr").next();      //当前所在的行数的下一行
                        if ($(tr).attr("rowindex") != 1) {
                            if ($(tr).find("td").length < $(tr_down).find("td").length)
                                $(tr_down).find("td").eq(td + 1).find('input').focus();
                            if ($(tr).find("td").length == $(tr_down).find("td").length)
                                $(tr_down).find("td[rowspan='1']").eq(td).find('input').focus();
                            if ($(tr).find("td").length > $(tr_down).find("td").length)
                                $(tr_down).find("td[rowspan='1']").eq(td - 1).find('input').focus();
                        }
                        else
                            $(tr_down).find("td").eq(td ).find('input').focus();//第一列没有合并行，td数量不变
                    }
                    else {
                        var table = $(inputs[i]).parents("table").next();
                        var tr = $('[rowindex]', table).eq(0);
                        if ($(tr).attr("rowindex") != 1)
                            $(tr).find('td').eq(td - 1).find('input').focus();
                        else
                            $(tr).find('td').eq(td + 1).find('input').focus();
                    }
                    break;
                case 13:                //回车键
                    event.returnValue = false;                          //阻止自动提交
                    var j = i + 2;
                    var flag = false;
                    if (inputs.get(j).disabled == false) {
                        flag = true;
                    } else {
                        for (j = i + 4; j <= inputs.length - 1; j = j + 2) {
                            if (inputs.get(j).disabled == false) {
                                flag = true;
                                break;
                            }
                        }
                    }
                    if (flag) {
                        inputs[j].focus();
                    }
                    break;
            }
        }
    </script>

}
@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>

            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" value="" name="txtPoint" class="easyui-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen" value="" name="txtPointLen" class="easyui-textbox  required digits" value="2" style="width:200px" /></td>
            </tr>
        </table>
    </div>
    <!--/增加量程弹层-->
}


