@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "工作电流示值误差-相对误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th align="center" width="10">序号</th>
        <th align="center" width="150">标准电压示值U<sub>0</sub></th>
        <th width="150" align="center">标准电阻值R0</th>
        <th width="150" align="center">工作电流示值I</th>
        <th width="150" align="center">工作电流实际值I0</th>
        <th width="150" align="center">示值误差（%）</th>
        <th width="150" align="center">允许限值（%）</th>
        <th align="center">校准结果的不确定度U(k={0})</th>
    </tr> 

</thead>

<tbody id="tbody_moban">
    <!--表体-->
    <tr rowindex="1">
        <td class="classstyle120" rowspan="1" align="center">
            <input class="my-textbox input-width" value="1" id="STANDARDRESISTAN1_t_1_1" name="STANDARDRESISTAN1" type="text">
        </td>

        <td align="center">
            <input class="my-textbox input-width" value="" type="text" name="OUTPUTVALUE" id="OUTPUTVALUE_t_1_1" onblur="blurValue(this)"  />
            <select class="my-combobox" name="OUTPUTVALUE_UNIT" id="OUTPUTVALUE_UNIT_t_1_1">
                <option value="V">V</option>
                <option value="MV">MV</option>
                <option value="kV">kV</option>
                <option value="mV">mV</option>
                <option value="μV">μV</option>
            </select>
        </td>
        <td align="center">
            <input class="my-textbox input-width" value="" type="text" name="STANDARDRESISTANCE" id="STANDARDRESISTANCE_t_1_1"  onblur="blurValue(this)" />
            <select class="my-combobox" name="STANDARDRESISTANCE_UNIT" id="STANDARDRESISTANCE_UNIT_t_1_1">
                <option value="Ω">Ω</option>
                <option value="TΩ">TΩ</option>
                <option value="GΩ">GΩ</option>
                <option value="MΩ">MΩ</option>
                <option value="kΩ">kΩ</option>
                <option value="mΩ">mΩ</option>
                <option value="μΩ">μΩ</option>
            </select>
        </td>
        <td align="center">
            <input class="my-textbox input-width" value="" type="text" name="DIANLIUZHIZHI" id="DIANLIUZHIZHI_t_1_1" onblur="shiZhiWuCha(this)" />
            <select class="my-combobox" name="DIANLIUZHIZHI_UNIT" id="DIANLIUZHIZHI_UNIT_t_1_1">
                <option value="A">A</option>
                <option value="kA">kA</option>
                <option value="mA">mA</option>
                <option value="μA">μA</option>
                <option value="nA">nA</option>
                <option value="pA">pA</option>
            </select>
        </td>
        <td align="center">
            <input class="my-textbox input-width" value="" type="text" name="DIANLIUSHIJIZHI" id="DIANLIUSHIJIZHI_t_1_1" onblur="shiZhiWuCha(this)" />
            <select class="my-combobox" name="DIANLIUSHIJIZHI_UNIT" id="DIANLIUSHIJIZHI_UNIT_t_1_1">
                <option value="A">A</option>
                <option value="kA">kA</option>
                <option value="mA">mA</option>
                <option value="μA">μA</option>
                <option value="nA">nA</option>
                <option value="pA">pA</option>
            </select>
        </td>
        <td align="center">
            <input class="my-textbox input-width" value="" type="text" name="SHIZHIWUCHA" id="SHIZHIWUCHA_t_1_1" />
        </td>
        <td align="center">

            <span class="ttt">±</span><input class="my-textbox input-width" value="" type="text" name="YUANXUXIANZHI" id="YUANXUXIANZHI_t_1_1" />
        </td>
        <td align="center">

            <input class="my-textbox input-width" type="text" name="UNCERTAINTYDEGREE" id="UNCERTAINTYDEGREE_t_1_1" value="" />
            <input name="BuQueDingDuZhi" id="BuQueDingDuZhi_UNCERTAINTYDEGREE_t_1_1" value="" type="hidden">
            <input name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_UNCERTAINTYDEGREE_t_1_1" value="" type="hidden">
            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_UNCERTAINTYDEGREE_t_1_1&amp;BuQueDingDuLuJing_UNCERTAINTYDEGREE_t_1_1^BuQueDingDuLuJing_UNCERTAINTYDEGREE_t_1_1^UNCERTAINTYDEGREE_t_1_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=UNCERTAINTYDEGREE_t_1_1&amp;RuleID=1052-2009_6');">计算</a>
        </td>
    </tr>
    <!--插入行的位置-->
</tbody>

<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="8">
            <input type="hidden" id="hideLiangChengShuLiang" value="1" /> <!--默认量程是0-->


            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

        </td>
    </tr>
</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex) {

            $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);
           
        }
        var rowIdx = 1;
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var rowspanIdx = $("#txtPoint").val();     //检测点数
            txtPointLen = $("#txtPointLen").val(); //小数点位数
            var standardValue = "";
            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

         
            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程
            for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");
                rowIdx = rowIdx + 1;
                var rowspan = 1; //合并单元格行数

                var txtVal = "";//(文本框值)，如果有值并且行号为null直接赋值，否则走自动计算
                var unit = "";//在输入框后面的单位
                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行
                if (rowidx == 0) {
                    //需要合并的列
                }
                htmlString.push(SetTDHtml(rowspan, "STANDARDRESISTAN1", HangHaoID, rowidx, rowIdx.toString(), "classstyle120"));
                //测量点 需要下拉框
                htmlString.push(SetTDHtml(rowspan, "OUTPUTVALUE", HangHaoID, rowidx, txtVal, "classstyle120","", "blurValue", ""));
                //二次输入标准值
                htmlString.push(SetTDHtml(rowspan, "STANDARDRESISTANCE", HangHaoID, rowidx, txtVal, "classstyle100","", "blurValue", ''));
                //  //二次输入标准值
                htmlString.push(SetTDHtml(rowspan, "DIANLIUZHIZHI", HangHaoID, rowidx, txtVal, "classstyle100", '', 'shiZhiWuCha'));
                //标准输出值
                htmlString.push(SetTDHtml(rowspan, "DIANLIUSHIJIZHI", HangHaoID, rowidx, txtVal, "classstyle100", '', 'shiZhiWuCha'));
                //实际输出值
                htmlString.push(SetTDHtml(rowspan, "SHIZHIWUCHA", HangHaoID, rowidx, txtVal, "classstyle100", '', 'blurShiJiShuChuZhi'));
                //引用误差
                htmlString.push(SetTDHtml(rowspan, "YUANXUXIANZHI", HangHaoID, rowidx, txtVal, "classstyle100"));
                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, txtVal, "classstyle"));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            //增加±
            $('.ttt').remove();
            $('input[id*="YUANXUXIANZHI_"]').before('<span class="ttt">±</span>');
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

        //计算显示值
        function resetXianShiZhi(obj) {
            //重新计算当前行
             
            wuCha1(obj, "DIANLIUZHIZHI", "DIANLIUSHIJIZHI", "SHIZHIWUCHA", "UNCERTAINTYDEGREE")

        }
        //计算标准值
        function resetBiaoZhunZhi(obj, source, gold) {
            //重新计算当前行
            xiangDuiWuCha(obj, "ACTUALVALUE", "RELATIVEERROR");

        }

        //离开事件，用于计算
        function blurValue(obj) {
            //作电流实际值I0= 标准电压示值U0 /标准电阻值R0  

            var tr = $(obj).parents('tr').eq(0);
            var U0 = $(tr).children().eq(1).find('input').val();
            var R0 = $(tr).children().eq(2).find('input').val();
            //var IO = parseFloat(parseFloat(U0) / parseFloat(R0));
            if(U0!="" && R0!=""){
            var IO = parseFloat(accDiv(parseFloat(U0), parseFloat(R0)));
            $(tr).children().eq(4).find('input').val(IO.toFixed(2));
        }

        }
        ///计算实质误差
        function shiZhiWuCha(obj) {
            wuCha1(obj, "DIANLIUZHIZHI", "DIANLIUSHIJIZHI", "SHIZHIWUCHA", "UNCERTAINTYDEGREE")
        }

    </script>


}
@section TanKuang {
   <!--弹框的位置-->
<!--增加量程弹层-->
<div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
    <table>

        <tr>
            <td align="right">检测点数：</td>
            <td><input type="text" id="txtPoint" name="txtPoint" value="" class="my-textbox  required digits" style="width:200px" /></td>
        </tr>

    </table>
</div>
    }
<!--/增加量程弹层-->




