@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "交流电流输出-相对误差-单相";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="8">
            <input id="shurufanwei_1_1_1" name="shurufanwei" type="text" class="my-textbox tc" value="50" style="width:50px">
            Hz
        </td>
    </tr>
    <tr>
        <th align="center" width="140">量程</th>
        <th width="140" align="center">是否使用变换器</th>
        <th width="140" align="center"> 输出示值</th>
        <th width="140" align="center">频率</th>
        <th width="140" align="center">读数值</th>
        <th width="140" align="center">输出实际值</th>
        <th width="140" align="center">
            @ViewBag.canshu (%)
        </th>
        <th align="center">
            校准结果的不确定度<br>
            U(k =
            <select class="my-combobox" name="K" id="K_t_1_1">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="√3">√3</option>
            </select>
            )
        </th>
    </tr>

</thead>

<tbody id="tbody_moban">

    <!--表体-->
    <!--插入行的位置-->
</tbody>

<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="8">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加量程</a>

        </td>
    </tr>
</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex) {

            $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);

        }
        //增加行
        function CreateRow() {


            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程



            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值

                if (rowidx == 0) {
                    //需要合并的列 //量程

                    htmlString.push(SetTDHtml(txtPoint, "RANGE", lianChengID, rowidx, txtNumber, ""));
                    //选用电阻阻值   （Ω）
                    htmlString.push(SetTDHtml(txtPoint, "OUTPUTVALUE", lianChengID, rowidx, '', ""));

                }


                //输出示值 增加下拉框单位A
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, '', "", '', "@((ViewBag.canshu == "相对误差") ? "resetBiaoZhunZhi" : "jueDuiWuChaBiaoZhunZhi")"));

                //频率
                htmlString.push(SetTDHtml(rowspan, "HZMY", HangHaoID, rowidx));

                //读数值 增加下拉框单位V
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx));

                //输出实际值
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, '', "", '', "@((ViewBag.canshu == "相对误差") ? "resetBiaoZhunZhi" : "jueDuiWuChaBiaoZhunZhi")"));

                //相对误差
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, '', ""));
                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, '', ""));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框

            $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
        //计算标准值 绝对误差
        function jueDuiWuChaBiaoZhunZhi(obj) {
            jueDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR");

        }

        //计算显示值
        function resetBiaoZhunZhi(obj) {
            xiangDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR");

        }
   ///计算输出实际值
        function blurValue(obj)
        {
            var curidx = $(obj).parents('tr').attr("rowindex");//當前行
            var tr=$(obj).parents('tr');
            var liangchengIdx = $(obj).attr("id").toString().split("_")[2];//量程
            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var liangcheng;//量程值
            var shifoushiyongbianhuanqi;
            var shuchushijizhi;//输出实际值
            var trs = $("#tbody_" + hideDangQianTongDao + " tr");
            var arr = jQuery.makeArray(trs);
            arr.reverse();//翻轉
            $(arr).each(function (i) {
                if ($(this).attr("rowindex") <= curidx)//当遍历的行小于等于当前操作行时候进行取值
                {
                    if ($(this).children().eq(0).attr("rowspan") != "1")
                    {
                        liangcheng = $(this).children().eq(0).find('input').val();
                        shifoushiyongbianhuanqi = $(this).children().eq(1).find('input').val();
                        return false;
                    }
                }
            })
            var dushuzhi = $(obj).val();
            if (shifoushiyongbianhuanqi == "是")
                shuchushijizhi = parseFloat(dushuzhi) / 1.5 * parseFloat(liangcheng);
            else
                shuchushijizhi = parseFloat(dushuzhi);
            if ($(obj).parents('tr').children().eq(0).attr("rowspan") != "1")
            {
                $(obj).parents('tr').children().eq(5).find('input').val(shuchushijizhi)
            }
            else
                $(obj).parents('tr').children().eq(3).find('input').val(shuchushijizhi)

        }



    </script>


}
@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
            <tr>
                <td width="80" align="right">量程值：</td>
                <td><input type="text" id="txtNumber" name="txtNumber" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" name="txtPoint" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen" name="txtPointLen" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
        </table>
    </div>
    <!--/增加量程弹层-->
}


