@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "1000Ω以下-标准电阻-相对误差-无型号编号";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th align="center">被测电阻</th>
        <th colspan="3" align="center">二等标准电阻</th>
        <th width="90" rowspan="2" align="center">正向测量<br>δx1(×10-6)</th>
        <th width="90" rowspan="2" align="center">反向测量<br>	δx2(×10-6)</th>
        <th width="90" rowspan="2" align="center">测量平均值<br>δx（×10-6） </th>
        <th width="90" rowspan="2" align="center">实际值<br>(Ω)</th>
        <th width="90" rowspan="2" align="center">误差<br>(%)</th>
        <th width="90" rowspan="2" align="center">允许误差<br>(%)</th>
        <th width="90" rowspan="2" align="center">检定电流</th>
        <th rowspan="2" align="center">校准结果的不确定度<br>U(k=<select class="my-combobox" name="K" id="K_t_1_1">
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="√3">√3</option>
</select>)</th>
    </tr>
    <tr>
        <th width="90" align="center">标称值（Ω）</th>
        <th width="90" align="center">标称值（Ω）</th>
        <th width="90" align="center">编号</th>
        <th width="90" align="center">δ<sub>n</sub>(×10-6)</th>
    </tr>


 
</thead>

<tbody id="tbody_moban">
    <!--表体-->
    <!--插入行的位置-->
</tbody>

<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="12">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加行数</a>

        </td>
    </tr>
</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('#REMARK').parent('td').html('δn为标准电阻的相对修正值。 <br> δx1、δx2分别为由正向及反向测量结果所得到的被测电阻的相对修正值。 <br>δx=（δx1+δx2）/2');
            //$('#REMARK').val('δn为标准电阻的相对修正值。&#13;&#10;  δx1、δx2分别为由正向及反向测量结果所得到的被测电阻的相对修正值。 &#13;&#10;δx=（δx1+δx2）/2');
        });
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex) {

            $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
           
            var txtPoint = $("#txtPoint").val();     //检测点数
          
            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程



            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值

                if (rowidx == 0) {
                    //需要合并的列 //量程

                }

                //需要合并的列

                //htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, "", "", "", "calculate1.erdengbiaozhundianzubiaochenzhi", ""));
                var id = "READVALUE_" + HangHaoID;
                htmlString.push("<td align='center' ><select onchange='calculate1.erdengbiaozhundianzubiaochenzhi(this)' class=\"my-combobox\" name=\"select\" id='" + id + "'>   <option value=\"\"></option> <option value=\"0.0001\">0.0001</option> <option value=\"0.001\">0.001</option> <option value=\"0.01\">0.01</option><option value=\"0.1\">0.1</option><option value=\"1\">1</option><option value=\"10\">10</option><option value=\"100\">100</option><option value=\"1000\">1000</option><option value=\"10000\">10000</option><option value=\"100000\">100000</option></td>");
                htmlString.push(SetTDHtml(rowspan, "WE", HangHaoID, rowidx, "", ""));
                htmlString.push(SetTDHtml(rowspan, "TYEW", HangHaoID, rowidx, "", ""));
                htmlString.push(SetTDHtml(rowspan, "UI", HangHaoID, rowidx, "", ""));
                htmlString.push(SetTDHtml(rowspan, "OP", HangHaoID, rowidx, "", "", "", "calculate1.celiangpingjunzhi", ""));
                htmlString.push(SetTDHtml(rowspan, "ASF", HangHaoID, rowidx, "", "", "", "calculate1.celiangpingjunzhi", ""));
                htmlString.push(SetTDHtml(rowspan, "GHJ", HangHaoID, rowidx, "", ""));


                //标准值 增加下拉框单位V
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, '', "classstyle100", "", ""));

                //赫兹 增加下拉框单位赫兹
                htmlString.push(SetTDHtml(rowspan, "HZMY", HangHaoID, rowidx, '', "classstyle100"));

                //显示值 增加下拉框单位V
                //htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, '', "classstyle100", '', ""));
                var sid = "SHIJISHUCHUZHI_" + HangHaoID;
                htmlString.push("<td align='center' >±<select class=\"my-combobox\" name=\"select\" id='" + sid + "'>   <option value=\"\"></option> <option value=\"0.01\">0.01</option><option value=\"0.05\">0.05</option><option value=\"0.02\">0.02</option><option value=\"0.1\">0.1</option></td>");

                //相对误差
                //htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, '', "classstyle100"));
                var rid = "RELATIVEERROR_" + HangHaoID;
                htmlString.push("<td align='center' ><select class=\"my-combobox\" name=\"select\" id='" + rid + "'> <option value=\"\"></option><option value=\"5\">5</option><option value=\"2\">2</option><option value=\"0.3\">0.3</option><option value=\"0.1\">0.1</option><option value=\"0.03\">0.03</option><option value=\"0.01\">0.01</option><option value=\"0.003\">0.003</option><option value=\"0.0001\">0.0001</option></td>");

                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, '', "classstyle"));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

       
        var calculate1 = {
            erdengbiaozhundianzubiaochenzhi: function (obj) {
                //【二等标准电阻-标称值（Ω）】计算方式如下：
                //【第一种：
                //【二等标准电阻-标称值（Ω）】=【被测电阻-标称值（Ω）】*100，条件是【被测电阻-标称值（Ω）】为0.0001,0.001,0.01,0.1;
                //第二种：
                //其余情况【二等标准电阻-标称值（Ω）】=【被测电阻-标称值（Ω）】
              //  TongDao.getCurTongDaoIdx(obj);
                // var arry = this.getWuChaLength(obj);
                var tr = $(obj).parents('tr');
                var beicebiaochenzhi = $(tr).children().eq(0).find('select').val();
                if ((beicebiaochenzhi == '0.0001' || beicebiaochenzhi == '0.001' || beicebiaochenzhi == '0.01' || beicebiaochenzhi == '0.1') && $(tr).children().eq(0).find('select').val() != "") {
                    $(tr).children().eq(1).find('input').val(parseFloat(beicebiaochenzhi) * 100);
                }
                else {
                    if (beicebiaochenzhi != "") {
                        $(tr).children().eq(1).find('input').val(parseFloat(beicebiaochenzhi));
                    }
                }

                this.shijizhi(obj);
                this.wucha(obj);
                this.jiandingdianliu(obj);
            },
            shijizhi: function (obj) {
                //【实际值((Ω)】计算方式如下：
                //第一种：
                //【实际值】=【被测电阻-标称值（Ω）】*10-6*(【测量平均值δx（×10-6）】+【二等标准电阻-δn(×10-6)】）+【被测电阻-标称值（Ω）】，条件是【被测电阻-标称值（Ω）】0.0001,0.001,0.01,0.1
                // 第二种：
                //其余情况【实际值】=【被测电阻-标称值（Ω）】*10-6*【测量平均值δx（×10-6）】+【被测电阻-标称值（Ω）】
                // 备注：【实际值】小数位数要求如下
                //【被测电阻-标称值（Ω）】对【实际值】的小数位数是：0.0001对9位,0.001对8位,0.01对7位,0.1对6位，1对5位,10对4位,100对3位,1000对2位,10000对1位，100000对0位

                var tr = $(obj).parents('tr');
                var arry = this.getbeiceLength(obj);
                var beicebiaozhunzhi = $(tr).children().eq(0).find('select').val();
                var celiangpingjunzhi = $(tr).children().eq(6).find('input').val();
                var erdengbiaozhundianzu = $(tr).children().eq(3).find('input').val();

                if ((beicebiaozhunzhi != "" && celiangpingjunzhi != "" && erdengbiaozhundianzu != "") && (beicebiaozhunzhi == "0.0001" || beicebiaozhunzhi == "0.001" || beicebiaozhunzhi != "0.01" || beicebiaozhunzhi != "0.1")) {
                    var shijizhi = fomatFloat(parseFloat(beicebiaozhunzhi) * Math.pow(10, -6) * (parseFloat(celiangpingjunzhi) + parseFloat(erdengbiaozhundianzu)) + parseFloat(beicebiaozhunzhi), arry[0].length)
                    $(tr).children().eq(7).find('input').val(shijizhi);
                }
                else {
                    if (celiangpingjunzhi != "") {
                        var shijizhi = fomatFloat(parseFloat(beicebiaozhunzhi) * Math.pow(10, -6) * parseFloat(celiangpingjunzhi) + parseFloat(beicebiaozhunzhi), arry[0].length)
                        $(tr).children().eq(7).find('input').val(shijizhi);
                    }

                }
                this.wucha(obj);
            },
            jiandingdianliu: function (obj) {
                //【被测电阻-标称值（Ω）】对【检定电流】是：0.0001对5,0.001对5,0.01对2,0.1对0.3，
                //1对0.1位,10对0.03,100对0.01,1000对0.003，10000对应0.0001,100000对应0.0001
                var tr = $(obj).parents('tr');
                var beicedianzubiaochenzhi = $(tr).children().eq(0).find('select').val();
                var jiandingdianliu = this.getjiandingdianliu(beicedianzubiaochenzhi);
                if (jiandingdianliu != "") {
                    $(tr).children().eq(10).find('select').val(jiandingdianliu);
                }

            },
            wucha: function (obj) {
                //【误差】=(【被测电阻-标称值（Ω）】-【实际值】)/【实际值】*100%，小数点后三位，四舍六入，逢五奇进偶不进
                var tr = $(obj).parents('tr');
                var beijiancedianzubiaochenzhi = $(tr).children().eq(0).find('select').val();
                var shijizhi = $(tr).children().eq(7).find('input').val();
                if (beijiancedianzubiaochenzhi != "" && shijizhi != "") {
                    var wucha = (parseFloat(beijiancedianzubiaochenzhi) - parseFloat(shijizhi)) / parseFloat(shijizhi) * 100;
                    $(tr).children().eq(8).find('input').val(fomatFloat(wucha, 3));
                }


            }, celiangpingjunzhi: function (obj) {
                //【测量平均值】=(正向测量+反向测量)/2,无小数，四舍六入，逢五奇进偶不进，表格备注中
                //公式
                var tr = $(obj).parents('tr');
                var zhengxiangceliang = $(tr).children().eq(4).find('input').val();
                var fanxiangceliang = $(tr).children().eq(5).find('input').val();
                if (zhengxiangceliang != "" && fanxiangceliang != "") {
                    $(tr).children().eq(6).find('input').val(fomatFloat((parseFloat(zhengxiangceliang) + parseFloat(fanxiangceliang)) / 2, 0));
                    this.shijizhi(obj);
                }
            }, getjiandingdianliu: function (value) {
                if (value != "") {
                    switch (value) {
                        case "0.0001":
                            return 5;
                            break;
                        case "0.001":
                            return 5;
                            break;
                        case "0.01":
                            return 2;
                            break;
                        case "0.1":
                            return 0.3;
                            break;
                        case "1":
                            return 0.1;
                            break;
                        case "10":
                            return 0.03;
                            break;
                        case "100":
                            return 0.01;
                            break;
                        case "1000":
                            return 0.003;
                            break;
                        case "10000":
                            return 0.0001;
                            break;
                        case "100000":
                            return 0.0001;
                            break;
                    }
                }

            },
            getbeiceLength: function (obj) {
                var tr = $(obj).parents('tr');
                var arry = [];
                var len = 5;
                var beicedianzubiaochenzhi = $(tr).children().eq(0).find('select').val();
                if (beicedianzubiaochenzhi != "") {

                    var datas = beicedianzubiaochenzhi.split('.');
                    if (datas.length > 1) {
                        arry.push({
                            length: 5 + datas[1].length
                        });
                    }
                    else {
                        arry.push({
                            length: 5 - datas[0].length + 1
                        })
                    }
                    return arry;
                }

            }
        }

    </script>


}
@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
            
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint"  name="txtPoint" value=""  class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            
        </table>
    </div>
    <!--/增加量程弹层-->
}


