@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "平衡负载时有功电能误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th colspan="4">
            <span>准确度等级:</span>
            <input name="zhidingwucha" id="zhidingwucha_t_1_1" type="text" class="my-textbox tc" value="" style="width:140px">
        </th>
        <th colspan="6">
        
        </th>
    </tr>
    <tr>
        <th  align="center">相线及测量模式</th>
        <th  align="center" colspan="2">量程(Un、Ib)</th>
        <th  align="center">功率因数cosφ</th>
        <th  align="center" >Ib(%)</th>
        <th  align="center">y1(%)</th>
        <th  align="center">y2(%)</th>
        <th  align="center">y平均(%)</th>
        <th  align="center">y化整(%)</th>
        <th align="center" >
            校准结果的不确定度<br>
            U(k =
            <select class="my-combobox" name="K" id="K_t_1_1">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="√3">√3</option>
            </select>
            )
        </th>
    </tr>
</thead>

<tbody id="tbody_moban">

    <!--表体 默认行-->
   <!--插入行的位置-->
</tbody>
<tr>
    <td colspan="11">
        <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
        <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加量程</a>
    </td>
</tr>
<tfoot tag="tag">
  
</tfoot>

@section JS {
    <script type="text/javascript" language="javascript">
    
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex) {

            $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);

        }
        //增加行
        function CreateRow() {


            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程

            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行
      
                //计算默认值
                if (rowidx == 0) {
                    //需要合并的列 
                    // 相线及测量模式
                    htmlString.push(SetTDHtml(txtPoint, "RANGE", lianChengID, rowidx, "", "", "", "", "XiangXianJiCeLiangMoShi"));
                    //量程(Un、Ib)
                    htmlString.push(SetTDHtml(txtPoint, "OUTPUTVALUE", lianChengID, rowidx, txtNumber, "", "", ""));
                    htmlString.push(SetTDHtml(txtPoint, "OUTPUTVAL1", lianChengID, rowidx));
                }
                //功率因数cosφ
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, "", "", "", "", "GongLvYinShu"));
                //Ib(%)
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, "", "", "", "", "Ib"));
                //y1(%)
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, "", "", "", "changeValue"));
                //y2(%)
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, "", "", "", "changeValue"));
                //y平均(%)
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, "", "", "", ""));
                //y化整(%)
                htmlString.push(SetTDHtml(rowspan, "BUQUEDINGDU", HangHaoID, rowidx, "", "", "", ""));
                //校准结果的不确定度U(k={0})
                htmlString.push(SetTDHtml(rowspan, "JISUANWUCHA", HangHaoID, rowidx, "", "", "", ""));

                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框

            $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
        //计算标准值
        function changeValue(obj) {

            jiSuanWuCha(obj, "RANGE", "OUTPUTVALUE", "READVALUE", "ACTUALVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR", "UNCERTAINTYDEGREE","BUQUEDINGDU");

        }
        //误差
        //obj 自身对象
        //T1 相线及测量模式
        //T2 量程(Un、Ib)
        //T3 功率因数cosφ
        //T4 Ib(%)
        //T5 y1(%)
        //T6 y2(%)
        //T7 y平均(%)
        //T8 y化整(%)
        //T9 校准结果的不确定度
        function jiSuanWuCha(obj, T1, T2, T3, T4, T5, T6, T7,T8,T9) {
            //重新计算当前行
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            var liangCheng = id.split('_')[2];
            T1 = T1 + "_" + tongdao + "_1";            //改动的地方，参与计算的列的name值
            T2 = T2 + "_" + tongdao + "_1";//改动的地方，参与计算的列的name值
            T3 = T3 + id;                            //改动的地方，误差的列的name值
            T4 = T4 + id;//有功分量 相对误差(%
            T5 = T5 + id;//改动的地方，参与计算的列的name值
            T6 = T6 + id;//无功分量 相对误差(%
            T7 = T7 + id; //T7 cosφ
            T8 = T8 + id; // y化整(%)
          //  var T1Data = $("#" + T1).val();//T1 相线及测量模式
         //   var T2Data = $("#" + T2).val();//T1 量程(Un、Ib)
     
         //   var T3Data = $(obj).parent().parent().find("#" + T3).val(); //T3 功率因数cosφ
          //  var T4Data = $(obj).parent().parent().find("#" + T4).val(); //T4 Ib(%)
            var T5Data = $(obj).parent().parent().find("#" + T5).val(); //T5 y1(%)
            var T6Data = $(obj).parent().parent().find("#" + T6).val(); //T6  y2(%)
           // var T7Data = $(obj).parent().parent().find("#" + T7).val(); //T7 y平均(%)
            var zhidingwuchaData = $("#zhidingwucha" + "_" + tongdao + "_1_1").val();//等级
            var txtPointLen = 4; //小数点位数zhidingwucha_1_1_1
            
            //【相线及测量模式】下拉选择：单相、三相三线、三相四线																																																								
            //【量程Un】单位：V,MV,KV,mV,μV																																																								
            //【量程Ib】单位：A,KA,mA,μA,nA,pA																																																								
            //【功率因数cosφ】下拉选择：1.0,0.5L,0.8C,0.5C,0.25L																																																								
            //【Ib(%)】下拉选择：100,50,20,10,5																																																								
            //y平均(%)=（y1(%)+y2(%)）/2,小数点后保留四位，四舍六入，逢五奇进偶不进。	
            if (T5Data != "" && T6Data != "") {
                T5Data = parseFloat(T5Data);
                T6Data = parseFloat(T6Data);
                var jianfa =accDiv(accAdd(T5Data,T6Data),2);
                var data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);
                $(obj).parent().parent().find("#" + T7).val(data);
            }
            var T7Data = $(obj).parent().parent().find("#" + T7).val(); //T7 y平均(%)
            //y化整(%)=Round(y平均/等级,1)*等级。																																																								
            if (T7Data != "" && zhidingwuchaData != "") {

                txtPointLen = zhidingwuchaData.split(".").length == 2 ? zhidingwuchaData.split(".")[1].length + 1 : 1;//【y化整(%)】的小数位数比准确度等级多一位
                T7Data = parseFloat(T7Data);
                zhidingwuchaData = parseFloat(zhidingwuchaData);
                var jianfa =accMul(accDiv(T7Data,zhidingwuchaData).toFixed(1) ,zhidingwuchaData);
                var data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);
                $(obj).parent().parent().find("#" + T8).val(data);
            }
            //【s化整】引用电能标准偏差估计值																																																								
            //【功率因数cosφ】、【Ib(%)】同一个相线、量程下上下相等着合并。																																																								
        }
    
    </script>

}

@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
            <tr>
                <td width="80" align="right">量程值：</td>
                <td><input type="text" id="txtNumber" name="txtNumber" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" name="txtPoint" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen" name="txtPointLen" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
        </table>
    </div>
    <!--/增加量程弹层-->
}

