@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "三相连接组别";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th width="80" align="center" colspan="2">组别</th>
        <th align="center">
            Y/y0
        </th>
        <th  align="center">
            Y/y6
        </th>
        <th align="center">
            D/d0
        </th>
        <th align="center">
            D/d6
        </th>
        <th align="center">
            Y/d5
        </th>
        <th align="center">
            Y/d11
        </th>
        <th align="center">
            D/y5
        </th>
        <th align="center">
            D/y11
        </th>
    </tr>
    <tr>
        <th width="80" align="center" colspan="2">变比值</th>
        <th align="center">
            <select class="my-combobox" name="BBZ1" id="BBZ1_t_1_1">
                <option value="10">10</option>
                <option value="10×√3">10×√3</option>
                <option value="10/√3">10/√3</option>
            </select>
        </th>
        <th align="center">
            <select class="my-combobox" name="BBZ2" id="BBZ2_t_1_1">
                <option value="10">10</option>
                <option value="10×√3">10×√3</option>
                <option value="10/√3">10/√3</option>
            </select>
        </th>
        <th align="center">
            <select class="my-combobox" name="BBZ3" id="BBZ3_t_1_1">
                <option value="10">10</option>
                <option value="10×√3">10×√3</option>
                <option value="10/√3">10/√3</option>
            </select>
        </th>
        <th align="center">
            <select class="my-combobox" name="BBZ4" id="BBZ4_t_1_1">
                <option value="10">10</option>
                <option value="10×√3">10×√3</option>
                <option value="10/√3">10/√3</option>
            </select>
        </th>
        <th align="center">
            <select class="my-combobox" name="BBZ5" id="BBZ5_t_1_1">
                <option value="10">10</option>
                <option value="10×√3">10×√3</option>
                <option value="10/√3">10/√3</option>
            </select>
        </th>
        <th align="center">
            <select class="my-combobox" name="BBZ6" id="BBZ6_t_1_1">
                <option value="10">10</option>
                <option value="10×√3">10×√3</option>
                <option value="10/√3">10/√3</option>
            </select>
          
        </th>
        <th align="center">
            <select class="my-combobox" name="BBZ7" id="BBZ7_t_1_1">
                <option value="10">10</option>
                <option value="10×√3">10×√3</option>
                <option value="10/√3">10/√3</option>
            </select>
        </th>
        <th align="center">
            <select class="my-combobox" name="BBZ8" id="BBZ8_t_1_1">
                <option value="10">10</option>
                <option value="10×√3">10×√3</option>
                <option value="10/√3">10/√3</option>
            </select>
        </th>
    </tr>
    <tr rowindex ="1">
        <td width="140" align="center" rowspan="6">
            显示值/误差(%)
        </td>
        <td width="140" align="center" rowspan="2">
            AB
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="AB1" id="AB1_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="AB2" id="AB2_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="AB3" id="AB3_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="AB4" id="AB4_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="AB5" id="AB5_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="AB6" id="AB6_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="AB7" id="AB7_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="AB8" id="AB8_t_1_1" onblur="blurValue(this)">
        </td>
    </tr>
    <tr rowindex ="2">
        
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RAB1" id="RAB1_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RAB2" id="RAB2_t_1_1">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RAB3" id="RAB3_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RAB4" id="RAB4_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RAB5" id="RAB5_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RAB6" id="RAB6_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RAB7" id="RAB7_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RAB8" id="RAB8_t_1_1" >
        </td>
    </tr>
    <tr rowindex ="3">
        <td width="140" align="center" rowspan="2">
            BC
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="BC1" id="BC1_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="BC2" id="BC2_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="BC3" id="BC3_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="BC4" id="BC4_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="BC5" id="BC5_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="BC6" id="BC6_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="BC7" id="BC7_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="BC8" id="BC8_t_1_1" onblur="blurValue(this)">
        </td>
    </tr>
    <tr rowindex ="4">

        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RBC1" id="RBC1_t_1_1">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RBC2" id="RBC2_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RBC3" id="RBC3_t_1_1">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RBC4" id="RBC4_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RBC5" id="RBC5_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RBC6" id="RBC6_t_1_1">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RBC7" id="RBC7_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RBC8" id="RBC8_t_1_1">
        </td>
    </tr>
    <tr rowindex ="5">
        <td width="140" align="center" rowspan="2">
           CA
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="CA1" id="CA1_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="CA2" id="CA2_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="CA3" id="CA3_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="CA4" id="CA4_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="CA5" id="CA5_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="CA6" id="CA6_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="CA7" id="CA7_t_1_1" onblur="blurValue(this)">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="CA8" id="CA8_t_1_1" onblur="blurValue(this)">
        </td>
    </tr>
    <tr rowindex ="6">

        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RCA1" id="RCA1_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RCA2" id="RCA2_t_1_1">
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RCA3" id="RCA3_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RCA4" id="RCA4_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RCA5" id="RCA5_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RCA6" id="RCA6_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RCA7" id="RCA7_t_1_1" >
        </td>
        <td width="140" align="center">
            <input class="my-textbox input-width" value="" type="text" name="RCA8" id="RCA8_t_1_1" >
        </td>
    </tr>
</thead>

<tbody id="tbody_moban">

    <!--表体-->
    <!--插入行的位置-->
</tbody>

@section JS {
    <script type="text/javascript" language="javascript">
        //离开事件，用于计算
        function blurValue(obj) {
            biaoZhunPianCha(obj, "BBZ");
        }
        //误差
        //obj 自身对象
        //second 变比值
        function biaoZhunPianCha(obj,  second) {


            //重新计算当前行
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            var num=name.charAt(name.length - 1);
            first = name + "_" + tongdao + "_1_1";;//改动的地方，参与计算的列的name值
            second = second+num+ "_" + tongdao + "_1_1";;//改动的地方，参与计算的列的name值
            gold = "R"+name + "_" + tongdao + "_1_1";//改动的地方，误差的列的name值
            var firstData = $("#" + first).val();
            var secondData = $("#" + second).val();
            if (firstData != "undefined" && secondData != "undefined"&& firstData != "" && secondData != "") {
                if(secondData=="10×√3")
                {
                secondData=accMul(10,Math.sqrt(3));
                }
                if(secondData=="10/√3")
                {
                secondData=accDiv( 10,Math.sqrt(3));
                }
                var jianfa =accDiv(accSub( firstData,secondData),secondData) ;
              
                $("#" + gold).val(percentages(fomatFloat(jianfa, 4), 2));
             
            }


        }
      
    </script>
<script>
    //方向键控制页面控件焦点移动
    function keyDown(event) {
        var rowspan = 2;
        var rowspan1 = 1;
        var colunmIdx = "";
        var inputs = $(".my-textbox")                              //通过class属性值获取控件组合
        var focus = document.activeElement;                 //得到处于激活状态的控件
        if (!document.getElementById("tongdao").contains(focus)) return;     //判断是否包含激活控件在指定的Table下
        //if (!$(".tbl").contains(focus)) return;
        var event = window.event || event;                              //获取事件
        var key = event.keyCode;                                        //得到按下的键盘Ascii码
        var flag = -1;

        //得到激活控件在组合中的具体位置
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i] === focus) {
                // alert(i);
                break;
            }
        }

        switch (key) {

            case 37: //向左键
                if (i > 0) inputs[i - 1].focus();
                break;
            case 38:                //向上键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                var tr_up = $(inputs[i]).parents("tr").prev();      //当前所在的行数的上一行
                if ($(inputs[i]).parents("tr").prev().length >= 1) {   //判断上一行是否还有行
                    var tr_up = $("[rowindex=" + ($(tr).attr("rowindex") - 1) + "]", $(inputs[i]).parents("table")[0])[0];      //当前所在的行数的上一行

                    if ($(tr_up).attr("rowindex") == 1)  //如果是第一行
                        $(tr_up).find("td").eq(td + rowspan).find('input').focus();    //此模板没有有rowspan合并行等,所以如果向上到第一行,td不增减;
                    else {
                        if ($(tr).find("td").length < $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td + rowspan1).find('input').focus();
                        if ($(tr).find("td").length == $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td - rowspan1).find('input').focus();
                    }
                }
                else {
                    //没有则找上一个table
                    var prevtable = $(inputs[i]).parents("table").prev()[0];

                    var tr_up = $(prevtable).find("tr:eq(" + ($('tr', $(prevtable)).length - 2) + ")");
                    if ($(tr_up).attr("rowindex") == 1)
                        $(tr_up).find('td').eq(td + rowspan).find('input').focus();
                    else
                        $(tr_up).find('td').eq(td).find('input').focus();
                }
                break;
            case 39: //向右键
                if (i < inputs.length - 1) inputs[i + 1].focus();
                break;
            case 40: //向下键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                if ($(inputs[i]).parents("tr").next().length >= 1) {
                    var tr_down = $(inputs[i]).parents("tr").next();      //当前所在的行数的下一行
                    if ($(tr).attr("rowindex") != 1) {
                        if ($(tr).find("td").length < $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td + rowspan1).find('input').focus();
                        if ($(tr).find("td").length == $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td - rowspan1).find('input').focus();
                    }
                    else
                        $(tr_down).find("td").eq(td - rowspan).find('input').focus();//第一列没有合并行，td数量不变
                }
                else {
                    var table = $(inputs[i]).parents("table").next();
                    var tr = $('[rowindex]', table).eq(0);
                    if ($(tr).attr("rowindex") != 1)
                        $(tr).find('td').eq(td).find('input').focus();
                    else
                        $(tr).find('td').eq(td + rowspan).find('input').focus();
                }
                break;
            case 13:                //回车键
                event.returnValue = false;                          //阻止自动提交
                var j = i + 1;
                var flag = false;
                if (inputs.get(j).disabled == false) {
                    flag = true;
                } else {
                    for (j = i + 4; j <= inputs.length - 1; j = j + 2) {
                        if (inputs.get(j).disabled == false) {
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
        }
    }
</script>

}

@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->
}

