@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "双桥-其他量程-相对误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="6">
            <span>基本误差:</span>
            <select class="my-combobox" name="statestandard" id="statestandard_t_1_1" onchange="changeValue(this)">
                <option value="合格" selected="selected">合格</option>
                <option value="不合格">不合格</option>
            </select>

        </td>
    </tr>
    <tr>
        <td >
            其他量程
        </td>
        <td colspan="5">
            <span>准确度等级:</span>
            <input name="zhidingwucha" id="zhidingwucha_t_1_1" type="text" class="my-textbox tc" value="" style="width:140px">
        </td>
</tr>

    <tr>
        <th width="120" align="center">量程</th>
        <th width="160" align="center">测量盘示值(Ω)</th>
        <th width="110" align="center">
            标称值(Ω)
        </th>
        <th width="110" align="center">实际值(Ω)</th>
        <th width="110" align="center">误差(%)</th>
        <th align="center">允许误差(%)</th>
    </tr>

</thead>
<tbody id="tbody_moban">
    <!--默认0行 -->
    <!--/默认0行 -->

</tbody>
<tfoot>
    <tr>
        <td colspan="6" style="background:#F7F7F7">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加行数</a>
        </td>
    </tr>
</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        //tbodyIndex通道
        //thi 当前位置
        function set(tbodyIndex, thi) {
           // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框
            $("#hideDangQianTongDao").val(tbodyIndex);
            CreateRow();

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var rowspanIdx = $("#txtPoint").val();     //检测点数
            txtPointLen = $("#txtPointLen").val(); //小数点位数
            var standardValue = "";
            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程
            for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var txtVal = "";//(文本框值)，如果有值并且行号为null直接赋值，否则走自动计算


                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行
                if (rowidx == 0) {
                    //需要合并的列

                }
                //需要合并的列

                //量程
                //htmlString.push(SetTDHtml(rowspan, "OUTPUTVALUE", HangHaoID, rowidx, (rowLength).toString(), "classstyle120", ""));
                var yanShiPanId = "OUTPUTVALUE_" + HangHaoID;
                var stateId = "state_UNIT_" + HangHaoID;
                var strTd = "<select class=\"my-combobox\" name=\"state\" id='" + stateId + "'>" +
                                "<option value=\"×\" selected>×</option>" +
                            "</select> <input name=\"OUTPUTVALUE\" id='" + yanShiPanId + "' type=\"text\" class=\"my-textbox\" value=\"\" style=\"width:50px\" onblur=\"changeValue(this)\" />"
                htmlString.push("<td align='center' >" + strTd + "</td>");
                //测量盘示值(Ω)
                var yanShiPanId = "YanShiPan_" + HangHaoID;
                var yanShiPanId2 = "YanShiPan1_" + HangHaoID;
                var state1Id = "state1_UNIT_" + HangHaoID;
                var strTd = "<input name=\"YanShiPan\" id='" + yanShiPanId + "' type=\"text\" class=\"my-textbox\" value=\"\" style=\"width:50px\"  />" +
                            "<select class=\"my-combobox\" name=\"state1\" id='" + state1Id + "'>" +
                                "<option value=\"+\" selected>+</option>" +
                            "</select> <input name=\"YanShiPan1\" id='" + yanShiPanId2 + "' type=\"text\" class=\"my-textbox\" value=\"\" style=\"width:50px\" onblur=\"changeValue(this)\" />"
                htmlString.push("<td align='center' >" + strTd + "</td>");
                //标称值(Ω)
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, txtVal, "classstyle100", '', 'changeValue'));
                //实际值(Ω)
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, txtVal, "classstyle100", '', 'changeValue'));
                //误差(%)
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, txtVal, "classstyle100"));
                var id = "select_" + HangHaoID;
                //允许误差(%)
                // htmlString.push("<td align='center' >±</td>");
                htmlString.push("<td align='center' >±<select class=\"my-combobox\" name=\"select\" id='" + id + "'  onblur=\"changeValue(this);\">  <option value=\"2\">2</option><option value=\"1\">1</option><option value=\"0.5\">0.5</option><option value=\"0.2\">0.2</option><option value=\"0.1\">0.1</option></select></td>");
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

        function changeValue(obj) {

            jiSuanWuCha(obj, "OUTPUTVALUE", "YanShiPan", "YanShiPan1", "ACTUALVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR", "select");
       																																																						

        }
        //误差
        //obj 自身对象
        //T1 量程
        //T2 标准值(A)
        //T3 显示值(A)
        //T4 最大基本误差(%)
        //T5 引用误差(%)
        //T6 校准结果的不确定度U(k={0})
        function jiSuanWuCha(obj, T1, T2, T3, T4, T5, T6,T7) {
            //重新计算当前行
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            var liangCheng = id.split('_')[2];
            T1 = T1 + id;//有功分量 相对误差(%
            T2 = T2 + id;//有功分量 相对误差(%
            T3 = T3 + id;//改动的地方，误差的列的name值
            T4 = T4 + id;//有功分量 相对误差(%
            T5 = T5 + id;//改动的地方，参与计算的列的name值
            T6 = T6 + id;//改动的地方，参与计算的列的name值
            T7 = T7 + id;//改动的地方，参与计算的列的name值																		

            var T1Data = $(obj).parent().parent().find("#" + T1).val(); //T2 量程
            var T2Data = $(obj).parent().parent().find("#" + T2).val(); //T2 测量盘示值(Ω)	
            var T3Data = $(obj).parent().parent().find("#" + T3).val(); //T3 	测量盘示值(Ω)	
           // var T4Data = $(obj).parent().parent().find("#" + T4).val(); //T3 		标称值(Ω)							
            var T5Data = $(obj).parent().parent().find("#" + T5).val(); //T5 	实际值(Ω)								
            // var T6Data = $(obj).parent().parent().find("#" + T6).val(); //T5 	误差(%)	
            var T7Data = $(obj).parent().parent().find("#" + T7).val(); //T7 	允许误差(%)	
            var txtPointLen = $("#mywuchaxiaoshuweishu").val(); //小数点位数
            txtPointLen = parseFloat(txtPointLen);


            // 【标称值】=【量程】*【测量盘示值(Ω)】，四舍六入，逢五奇进偶不进。标称值为1,0.1时，小数点位数5位。标称值0.01时，小数位数6位，标称值0.001时，小数位数7位																																																								
            		
            if (T1Data != "" && T2Data != "" && T3Data != "") {
                T3Data = parseFloat(T3Data);
                T2Data = parseFloat(T2Data);
                T1Data = parseFloat(T1Data);
                var jianfa = accMul(T1Data, accAdd(T2Data, T3Data));
                if (jianfa == 1 || jianfa == 0.1)
                {
                    txtPointLen = 5;
                } else if ( jianfa == 0.01)
                {
                    txtPointLen = 6;
                } else if (jianfa == 0.001) {
                    txtPointLen = 7;
                }
                var data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);
                $(obj).parent().parent().find("#" + T4).val(data);
            }
            var T4Data = $(obj).parent().parent().find("#" + T4).val(); //T3 		标称值(Ω)	
            var r1;
            try { r1 = T7Data.toString().split(".")[1].length+1 } catch (e) { r1 =1 }
            //【误差】=(【实际值】-【标称值】)/【标称值】*100%，小数位数比允许误差多一位，四舍六入，逢五奇进偶不进
            if (T5Data != "" && T4Data != "") {
                T5Data = parseFloat(T5Data);
                T4Data = parseFloat(T4Data);
                var jianfa1 = accDiv(accSub(T5Data, T4Data), T4Data);
                var jianfa = accMul(jianfa1, 100);
                //var txtPointLen = $("#mywuchaxiaoshuweishu").val(); //小数点位数
                //txtPointLen = parseFloat(txtPointLen);
                //txtPointLen = 1 + txtPointLen;
                var data =zeroFloat( fomatFloat(jianfa, r1),r1);
                $(obj).parent().parent().find("#" + T6).val(data);
            }
        }
        //function blurValue1(obj) {
        //    $("#tongdao_1 tbody:eq(0) tr").each(function () {

        //        //测量盘
        //        var celiangpan = parseFloat($(this).children().eq(1).find('input').eq(0).val() == "" ? 0 : $(this).children().eq(1).find('input').eq(0).val()) + parseFloat($(this).children().eq(1).find('input').eq(1).val() == "" ? 0 : $(this).children().eq(1).find('input').eq(1).val());
        //        //获取量程
        //        var liangcheng = $("#ddlliangCheng").val();
        //        //计算第一个误差
        //        if (celiangpan != "" && liangcheng != "") {
        //            $(this).children().eq(2).find('input').val(fomatFloat(parseFloat(celiangpan) * parseFloat(liangcheng), 5))
        //        }

        //    });
        //}
        ///重新计算页面上标准输出值




    </script>
<script>
    //方向键控制页面控件焦点移动
    function keyDown(event) {
        var colunmIdx = "";
        var inputs = $(".my-textbox")                              //通过class属性值获取控件组合
        var focus = document.activeElement;                 //得到处于激活状态的控件
        if (!document.getElementById("tongdao").contains(focus)) return;     //判断是否包含激活控件在指定的Table下
        //if (!$(".tbl").contains(focus)) return;
        var event = window.event || event;                              //获取事件
        var key = event.keyCode;                                        //得到按下的键盘Ascii码
        var flag = -1;

        //得到激活控件在组合中的具体位置
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i] === focus) {
                // alert(i);
                break;
            }
        }

        switch (key) {

            case 37: //向左键
                if (i > 0) inputs[i - 1].focus();
                break;
            case 38:                //向上键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                var tr_up = $(inputs[i]).parents("tr").prev();      //当前所在的行数的上一行
                if ($(inputs[i]).parents("tr").prev().length >= 1) {   //判断上一行是否还有行
                    var tr_up = $("[rowindex=" + ($(tr).attr("rowindex") - 1) + "]", $(inputs[i]).parents("table")[0])[0];      //当前所在的行数的上一行

                    if ($(tr_up).attr("rowindex") == 1)  //如果是第一行
                        $(tr_up).find("td").eq(td).find('input').focus();    //此模板没有有rowspan合并行等,所以如果向上到第一行,td不增减;
                    else {
                        if ($(tr).find("td").length < $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length == $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td).find('input').focus();
                    }
                }
                else {
                    //没有则找上一个table
                    var prevtable = $(inputs[i]).parents("table").prev()[0];

                    var tr_up = $(prevtable).find("tr:eq(" + ($('tr', $(prevtable)).length - 2) + ")");
                    if ($(tr_up).attr("rowindex") == 1)
                        $(tr_up).find('td').eq(td).find('input').focus();
                    else
                        $(tr_up).find('td').eq(td).find('input').focus();
                }
                break;
            case 39: //向右键
                if (i < inputs.length - 1) inputs[i + 1].focus();
                break;
            case 40: //向下键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                if ($(inputs[i]).parents("tr").next().length >= 1) {
                    var tr_down = $(inputs[i]).parents("tr").next();      //当前所在的行数的下一行
                    if ($(tr).attr("rowindex") != 1) {
                        if ($(tr).find("td").length < $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td + 1).find('input').focus();
                        if ($(tr).find("td").length == $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td).find('input').focus();
                    }
                    else
                        $(tr_down).find("td").eq(td).find('input').focus();//第一列没有合并行，td数量不变
                }
                else {
                    var table = $(inputs[i]).parents("table").next();
                    var tr = $('[rowindex]', table).eq(0);
                    if ($(tr).attr("rowindex") != 1)
                        $(tr).find('td').eq(td - 1).find('input').focus();
                    else
                        $(tr).find('td').eq(td + 1).find('input').focus();
                }
                break;
            case 13:                //回车键
                event.returnValue = false;                          //阻止自动提交
                var j = i + 2;
                var flag = false;
                if (inputs.get(j).disabled == false) {
                    flag = true;
                } else {
                    for (j = i + 4; j <= inputs.length - 1; j = j + 2) {
                        if (inputs.get(j).disabled == false) {
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
        }
    }
</script>
}
@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>

            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" name="txtPoint" value="1" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>

        </table>
    </div>
    <!--/增加量程弹层-->
}

