@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "探头";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th align="center" width="240" colspan="2">量程</th>
        <th align="center" width="100">标准电流值(A)</th>
        <th align="center" width="100"> 电流表显示值(A)</th>
        <th align="center" width="100"> 标准电压值(V) </th>
        <th align="center" width="100">电压表显示值(V)</th>
        <th align="center" width="100">电流值(A) </th>
        <th align="center" width="100"> 计算后实际电流值(A)</th>
        <th align="center" width="100">  最大基本误差(%) </th>
        <th align="center" width="100"> 引用误差(%) </th>
        <th align="center">
            校准结果的不确定度U(k=<select class="my-combobox" name="K" id="K_t_1_1">
                <option value="2">2 </option>
                <option value="3">3</option>
                <option value="√3">√3</option>
            </select>)
        </th>
    </tr>
</thead>
<tbody id="tbody_moban">
    <!--表体-->

</tbody>
<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="11">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加量程</a>
        </td>
    </tr>
</tfoot>


@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        //tbodyIndex通道
        //thi 当前位置
        function set(tbodyIndex, thi) {
             $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框
             $("#hideDangQianTongDao").val(tbodyIndex);
             //CreateRow();
        }
        var i = 0;
        //增加行
        function CreateRow() {
            i++;
            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var rowspanIdx = $("#txtPoint").val();     //检测点数
            var lcval = $("#txtlc").val();     //检测点数
            txtPointLen = $("#txtPointLen").val(); //小数点位数
            var standardValue = "";
            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程
            for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "' data-value='" + i + "'>");

                var rowspan = 1; //合并单元格行数

                var txtVal = "";//(文本框值)，如果有值并且行号为null直接赋值，否则走自动计算
                var unit = "";//在输入框后面的单位


                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行
                if (rowidx == 0) {
                    //需要合并的列
                    htmlString.push(SetTDHtml(rowspanIdx, "TDA", lianChengID, rowidx, lcval, "", 'A', 'blurYinYongWuCha'));
                    //二次输入标准值
                    htmlString.push(SetTDHtml(rowspanIdx, "TDB", lianChengID, rowidx, '', "", 'mv/A', 'blurDianliu'));
                }
                //需要合并的列

                //测量点
                htmlString.push(SetTDHtml(rowspan, "AOUTPUTVALUE", HangHaoID, rowidx, '', "", '', 'blurDianliu'));
                //二次输入标准值
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, '', "", '', 'blurDianliu'));
                //标准输出值
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, '', "",''));
                //实际输出值
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, '', "", '', 'blurDianliu'));
                //引用误差
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, '', "",'','blurYinYongWuCha'));
                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "AUNCERTAINTYDEGREE", HangHaoID, rowidx, '', ""));
                htmlString.push(SetTDHtml(rowspan, "BUQUEDINGDU", HangHaoID, rowidx, '', ""));
                htmlString.push(SetTDHtml(rowspan, "JISUANWUCHA", HangHaoID, rowidx, '', ""));
                htmlString.push(SetTDHtml(rowspan, "YINYONGXIANGDUI", HangHaoID, rowidx, '', ""));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
        //离开事件，用于计算 计算后实际电流值(A)
        function blurDianliu(obj) {
            //注意多通道
            var sjdlval = GetDianliu(obj, "AOUTPUTVALUE", "READVALUE", "SHIJISHUCHUZHI", "TDB", "AUNCERTAINTYDEGREE");//谁知电流值

            wuCha(obj,"AUNCERTAINTYDEGREE", "RELATIVEERROR", "TDA", "JISUANWUCHA")

            GetAbs(obj);//得到最大绝对值
            var k = $(obj).parent().parent().attr("data-value");//代表第几次


            $("#tbody_" + GetMyTongDao(obj) + " tr").each(function () {
                var trval = $(this).attr("data-value");

                    $(this).find("td").find(':input[name="BUQUEDINGDU"]').val(oldValue)//引用误差
            })
        }
        //离开事件，用于计算 计算【引用误差】=(计算后实际电流值-电流值)/量程*100，小数点后两位，四舍六入，逢五奇进偶不进
        function blurYinYongWuCha(obj) {
            //注意多通道
            wuCha(obj, "AUNCERTAINTYDEGREE", "RELATIVEERROR", "TDA", "JISUANWUCHA")

            GetAbs(obj);//得到最大绝对值
            //获取最大误差值
            var k = $(obj).parent().parent().attr("data-value");//代表第几次
            //获取最大误差值
            $("#tbody_" + GetMyTongDao(obj) + " tr").each(function () {
                var trval = $(this).attr("data-value");

                    $(this).find("td").find(':input[name="BUQUEDINGDU"]').val(oldValue)//引用误差
            })
        }


        function blurValue(obj){

        }

        ///保留绝对值默认为0
        var oldValue = 0;
        function GetAbs(obj) {
            oldValue = 0;
           // GetAbs(obj);//得到最大绝对值
            //获取最大误差值
            var k = $(obj).parent().parent().attr("data-value");//代表第几次
            $("#tbody_" + GetMyTongDao(obj) + " tr").each(function () {  //引用误差
                var trval = $(this).attr("data-value");
                    var newValue = Math.abs($(this).find("td").find(':input[name="JISUANWUCHA"]').val());
                    var newabs = Math.abs($(this).find("td").find(':input[name="JISUANWUCHA"]').val());
                    var oldabs = Math.abs(oldValue);
                    if (newabs > oldabs) {
                        oldValue = newValue;
                    }

              });
           return oldValue;
        }




        ///【计算后实际电流值(A)】
        ///obj 对象本身，first=标准电流值(A)，second=电流表显示值(A)，third=电压表显示值(V)，fourth=mv/A，gold=赋值对象
        function GetDianliu(obj, first, second, third, fourth,  gold) {
            //重新计算当前行
            var data = 0.0;
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            first = first + id;//改动的地方，参与计算的列的name值
            second = second + id;//改动的地方，参与计算的列的name值
            third = third + id;//改动的地方，参与计算的列的name值
            fourth = fourth + "_" + tongdao + "_1_1";
            gold = gold + id;//改动的地方，误差的列的name值
            var firstData = $("#" + first).val();
            var secondData = $("#" + second).val();
            var thirdData = $("#" + third).val();
            var fourthData = $("#" + fourth).val();
            if (firstData != "undefined" && secondData != "undefined" && thirdData != "undefined" && fourthData != "undefined"
                && firstData != "" && secondData != "" && thirdData != "" && fourthData != "") {
                var txtPointLen = $("#mywuchaxiaoshuweishu").val(); //小数点位数

                // 【计算后实际电流值(A)】=【电压表显示值(V)】/【mv/A/】1000/【电流表显示值(A)】*【标准电流值(A)】，小数点后一位，四舍六入，逢五奇进偶不进
                var jianfa = thirdData/fourthData/1000*firstData /secondData  ;
                data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);
                $(obj).parent().parent().find("#" + gold).val(data);
            }
            return data;

        }
        function GetMyTongDao(obj) {
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));
            var tongdao = id.split('_')[1];
            return tongdao;
            //return $("#hideDangQianTongDao").val();//当前操作第几通道
        }



    </script>

}
@section TanKuang {
    <!--弹框的位置-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>

            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" value="" name="txtPoint" class="easyui-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">量程设定：</td>
                <td><input type="text" id="txtlc" value="" name="txtlc" class="easyui-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen" value="" name="txtPointLen" class="easyui-textbox  required digits" value="2" style="width:200px" /></td>
            </tr>
        </table>
    </div>
}

