@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "误差测试";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="9">
            <div style="width:150px">比差值ƒ的倍率因数：%</div>
            <div style="width:150px;margin-top:10px">相位差δ的倍率因数:ˊ</div>
        </td>
    </tr>
    <tr>
        <th align="center" width="80" rowspan="2">量限</th>
        <th align="center" width="80" rowspan="2"> 测试方法</th>
        <th align="center" width="120" rowspan="2"> 误差</th>
        <th align="center" width="100" colspan="4">
            额定电流百分比<br>
        </th>
        <th align="center" width="100" colspan="2">
            二次负荷
        </th>
    </tr>
    <tr>
        <th align="center" width="100">
            5%<br>
        </th>
        <th align="center" width="100">
            20%<br>
        </th>
        <th align="center" width="100">
            100%<br>
        </th>
        <th align="center" width="100">
            120%<br>
        </th>
        <th align="center" width="100">
            VA<br>
        </th>
        <th align="center" width="100">
            cosφ<br>
        </th>
    </tr>



</thead>

<tbody id="tbody_moban">
    <tr rowindex ="1">
        <td rowspan="95" align="center" width="230">
            <input class="my-textbox input-width" value="" id="shurukang1_t_1_1" name="shurukang1" onblur="" type="text">/
            <input class="my-textbox input-width" value="" id="shurukang2_t_1_1" name="shurukang2" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            CT分析测试仪<input style="display:none" value="CT分析测试仪" id="ceshifangfa_t_1_1" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="3" align="center" width="100">
            <input style="display:none" value="ƒ" id="wuchaa_t_1_1" name="wuchaa" onblur="" type="text">ƒ
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_1" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_1" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_1" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_1" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="6" align="center">
            <select class="my-combobox" name="mAV" id="mAV_t_1_1">
                <option value="10">10</option>
                <option value="5">5</option>
                <option value="2.5">2.5</option>
            </select>
        </td>
        <td rowspan="12" align="center" width="100">
            <select class="my-combobox" name="mBV" id="mBV_t_1_1">
                <option value="0.8">0.8</option>
            </select>
        </td>
    </tr>
    <tr rowindex ="2">
        <td rowspan="1" align="center" width="100">
            常规差流法<input style="display:none" value="常规差流法" id="ceshifangfa_t_1_2" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_2" name="RANGE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_2" name="OUTPUTVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_2" name="READVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_2" name="ACTUALVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
    </tr>
    <tr rowindex ="3">
        <td rowspan="1" align="center" width="100">
            测量比对结果<input style="display:none" value="测量比对结果" id="ceshifangfa_t_1_3" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_3" name="RANGE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_3" name="OUTPUTVALUE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_3" name="READVALUE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_3" name="ACTUALVALUE" type="text">
        </td>
    </tr>

    <tr rowindex ="4">
        <td rowspan="1" align="center" width="100">
            CT分析测试仪<input style="display:none" value="CT分析测试仪" id="ceshifangfa_t_1_4" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="3" align="center" width="100">
            <input style="display:none" value="δ" id="wuchaa_t_1_4" name="wuchaa" onblur="" type="text">δ
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_4" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_4" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_4" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_4" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
    </tr>
    <tr  rowindex ="5">
        <td rowspan="1" align="center" width="100">
            常规差流法<input style="display:none" value="常规差流法" id="ceshifangfa_t_1_5" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_5" name="RANGE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_5" name="OUTPUTVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_5" name="READVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_5" name="ACTUALVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
    </tr>
    <tr rowindex ="6">
        <td rowspan="1" align="center" width="100">
            测量比对结果<input style="display:none" value="测量比对结果" id="ceshifangfa_t_1_6" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_6" name="RANGE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_6" name="OUTPUTVALUE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_6" name="READVALUE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_6" name="ACTUALVALUE" type="text">
        </td>
    </tr>

    <tr rowindex ="7">
        <td rowspan="1" align="center" width="100">
            CT分析测试仪<input style="display:none" value="CT分析测试仪" id="ceshifangfa_t_1_7" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="3" align="center" width="100">
            <input style="display:none" value="ƒ" id="wuchaa_t_1_7" name="wuchaa" onblur="" type="text">ƒ
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_7" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_7" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_7" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_7" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="6" align="center">
            <select class="my-combobox" name="mAV" id="mAV_t_1_2">
                <option value="10">10</option>
                <option value="5">5</option>
                <option value="2.5">2.5</option>
            </select>
        </td>
    </tr>
    <tr rowindex ="8">
        <td rowspan="1" align="center" width="100">
            常规差流法<input style="display:none" value="常规差流法" id="ceshifangfa_t_1_8" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_8" name="RANGE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_8" name="OUTPUTVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_8" name="READVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_8" name="ACTUALVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
    </tr>
    <tr rowindex ="9">
        <td rowspan="1" align="center" width="100">
            测量比对结果<input style="display:none" value="测量比对结果" id="ceshifangfa_t_1_9" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_9" name="RANGE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_9" name="OUTPUTVALUE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_9" name="READVALUE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_9" name="ACTUALVALUE" type="text">
        </td>
    </tr>

    <tr rowindex ="10">
        <td rowspan="1" align="center" width="100">
            CT分析测试仪<input style="display:none" value="CT分析测试仪" id="ceshifangfa_t_1_10" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="3" align="center" width="100">
            <input style="display:none" value="δ" id="wuchaa_t_1_10" name="wuchaa" onblur="" type="text">δ
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_10" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_10" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_10" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_10" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
    </tr>
    <tr rowindex ="11">
        <td rowspan="1" align="center" width="100">
            常规差流法<input style="display:none" value="常规差流法" id="ceshifangfa_t_1_11" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_11" name="RANGE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_11" name="OUTPUTVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_11" name="READVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_11" name="ACTUALVALUE" onblur="blurXianShiZhi2(this)" type="text">
        </td>
    </tr>
    <tr rowindex ="12">
        <td rowspan="1" align="center" width="100">
            测量比对结果<input style="display:none" value="测量比对结果" id="ceshifangfa_t_1_12" name="ceshifangfa" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_12" name="RANGE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_12" name="OUTPUTVALUE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_12" name="READVALUE" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_12" name="ACTUALVALUE" type="text">
        </td>
    </tr>
    <!--表体-->
    <!--插入行的位置-->
</tbody>

@*<tfoot>
        <!--表尾-->
        <tr>
            <td colspan="7">
                <input type="hidden" id="hideLiangChengShuLiang" value="1" /> <!--默认量程是0-->
                <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

            </td>
        </tr>
    </tfoot>*@
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        var t = true;//标志位
        function set(tbodyIndex, thi) {
            $("#hideDangQianTongDao").val(tbodyIndex);

            CreateRow(thi);
            // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;

            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号


            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程



            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值

                if (rowidx == 0) {
                    //需要合并的列 //量程


                }

                //需要合并的列
                if (rowLength) {
                    if (1 == rowLength % 3) {
                        htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  CT分析测试仪");
                        if (t) {
                            htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + 3 + "' align='center' >  ƒ ");
                            t = false;
                        } else {
                            htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + 3 + "' align='center' >  δ ");
                            t = true;
                        }
                    }
                    if (2 == rowLength % 3) {
                        htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  常规差流法");
                        //htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  ƒ ");
                    }
                    if (0 == rowLength % 3) {
                        htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  测量比对结果");
                        //htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  ƒ ");
                    }
                }


                //工作电流
                //需要下拉框   RANGE_t_1_1

                htmlString.push(SetTDHtml(rowspan, "RANGE", HangHaoID, rowidx, '', '', ''));
                //标准值
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, '', '', '', 'resetXianShiZhi'));
                //显示值
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, '', '', '', 'resetXianShiZhi'));


                //误差(%)
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx));

                //需要合并的列
                //if (rowLength ) {
                //    if(1==rowLength%12){
                //        htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + 12 + "' align='center' > 0.8 ");
                //    }
                //}

                //允许限值(%)

                //htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, '', "classstyle100"));


                //校准结果的不确定度 U(K =
                //htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, '', "classstyle"));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

        //计算显示值
        function resetXianShiZhi(obj) {
            //重新计算当前行
            xiangDuiWuCha(obj, "READVALUE", "ACTUALVALUE", "UNCERTAINTYDEGREE");
        }


        //离开事件，用于计算
        function blurValue(obj) {

            //   LianDongShiJiZhi(obj);
        }

        function blurXianShiZhi(obj) {
            //debugger;

            var id = $(obj).attr("id");
            var arr = id.split('_');
            var lastIndexOf = id.substring(0, id.lastIndexOf('_') + 1);
            var num = arr[arr.length - 1];



            var val1 = $(obj).val();
            var val2 = $("#" + lastIndexOf + accAdd(num, 1)).val();
            if (val1 == null || val1 == '' || val2 == null || val2 == '') {
                return ''
            }
            var val3 = accSub(val1, val2)

            $("#" + lastIndexOf + accAdd(num, 2)).val(val3);



        }
        function blurXianShiZhi2(obj) {
            //debugger;

            var id = $(obj).attr("id");
            var arr = id.split('_');
            var lastIndexOf = id.substring(0, id.lastIndexOf('_') + 1);
            var num = arr[arr.length - 1];



            var val1 = $("#" + lastIndexOf + accSub(num, 1)).val();
            var val2 = $(obj).val();
            if (val1 == null || val1 == ''||val2 == null || val2 == '') {
                return ''
            }
            var val3 = accSub(val1, val2)

            $("#" + lastIndexOf + accAdd(num, 1)).val(val3);


        }



    </script>
<script>
    //方向键控制页面控件焦点移动
    function keyDown(event) {
        var rowspan =3;
        var colunmIdx = "";
        var inputs = $(".my-textbox")                              //通过class属性值获取控件组合
        var focus = document.activeElement;                 //得到处于激活状态的控件
        if (!document.getElementById("tongdao").contains(focus)) return;     //判断是否包含激活控件在指定的Table下
        //if (!$(".tbl").contains(focus)) return;
        var event = window.event || event;                              //获取事件
        var key = event.keyCode;                                        //得到按下的键盘Ascii码
        var flag = -1;

        //得到激活控件在组合中的具体位置
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i] === focus) {
                // alert(i);
                break;
            }
        }

        switch (key) {

            case 37: //向左键
                if (i > 0) inputs[i - 1].focus();
                break;
            case 38:                //向上键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                var tr_up = $(inputs[i]).parents("tr").prev();      //当前所在的行数的上一行
                if ($(inputs[i]).parents("tr").prev().length >= 1) {   //判断上一行是否还有行
                    var tr_up = $("[rowindex=" + ($(tr).attr("rowindex") - 1) + "]", $(inputs[i]).parents("table")[0])[0];      //当前所在的行数的上一行

                    if ($(tr_up).attr("rowindex") == 1)  //如果是第一行
                        $(tr_up).find("td").eq(td + 2).find('input').focus();    //此模板没有有rowspan合并行等,所以如果向上到第一行,td不增减;
                    else {
                        if ($(tr).find("td").length < $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td + 1).find('input').focus();
                        if ($(tr).find("td").length == $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_up).find("td").length)
                            $(tr_up).find("td").eq(td - 1).find('input').focus();
                    }
                }
                else {
                    //没有则找上一个table
                    var prevtable = $(inputs[i]).parents("table").prev()[0];

                    var tr_up = $(prevtable).find("tr:eq(" + ($('tr', $(prevtable)).length - 2) + ")");
                    if ($(tr_up).attr("rowindex") == 1)
                        $(tr_up).find('td').eq(td + rowspan).find('input').focus();
                    else
                        $(tr_up).find('td').eq(td).find('input').focus();
                }
                break;
            case 39: //向右键
                if (i < inputs.length - 1) inputs[i + 1].focus();
                break;
            case 40: //向下键
                var td = $(inputs[i]).parents("td").index();      //当前所在的列数
                var tr = $(inputs[i]).parents("tr");
                if ($(inputs[i]).parents("tr").next().length >= 1) {
                    var tr_down = $(inputs[i]).parents("tr").next();      //当前所在的行数的下一行
                    if ($(tr).attr("rowindex") != 1) {
                        if ($(tr).find("td").length < $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td + 1).find('input').focus();
                        if ($(tr).find("td").length == $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td).find('input').focus();
                        if ($(tr).find("td").length > $(tr_down).find("td").length)
                            $(tr_down).find("td").eq(td - 1).find('input').focus();
                    }
                    else
                        $(tr_down).find("td").eq(td - 2).find('input').focus();//第一列没有合并行，td数量不变
                }
                else {
                    var table = $(inputs[i]).parents("table").next();
                    var tr = $('[rowindex]', table).eq(0);
                    if ($(tr).attr("rowindex") != 1)
                        $(tr).find('td').eq(td).find('input').focus();
                    else
                        $(tr).find('td').eq(td + rowspan).find('input').focus();
                }
                break;
            case 13:                //回车键
                event.returnValue = false;                          //阻止自动提交
                var j = i + 1;
                var flag = false;
                if (inputs.get(j).disabled == false) {
                    flag = true;
                } else {
                    for (j = i + 4; j <= inputs.length - 1; j = j + 2) {
                        if (inputs.get(j).disabled == false) {
                            flag = true;
                            break;
                        }
                    }
                }
                if (flag) {
                    inputs[j].focus();
                }
                break;
        }
    }
</script>

}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->

}


