@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "误差测试";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="9">
            <div style="width:150px">比差值ƒ的倍率因数：%</div>
            <div style="width:150px;margin-top:10px">相位差δ的倍率因数:ˊ</div>
        </td>
    </tr>      
    <tr>
        <th align="center" width="80" rowspan="2" >量限</th>
        <th align="center" width="80" rowspan="2" > 测试方法</th>
        <th align="center" width="120" rowspan="2" > 误差</th>
        <th align="center" width="100" colspan="4">
            额定电流百分比<br>
        </th>
        <th align="center" width="100" colspan="2">
            二次负荷          
        </th>        
    </tr>
    <tr>
        <th align="center" width="100">
            5%<br>
        </th>
        <th align="center" width="100">
            20%<br>
        </th><th align="center" width="100" >
            100%<br>
        </th>
        <th align="center" width="100" >
            120%<br>
        </th>
        <th align="center" width="100" >
            VA<br>
        </th>
        <th align="center" width="100" >
            cosφ<br>
        </th>
    </tr>


    <tr>
        <td rowspan="95" align="center" width="230">
            <input class="my-textbox input-width" value="" id="shurukang1_t_1_1" name="shurukang1" onblur="" type="text">/
            <input class="my-textbox input-width" value="" id="shurukang2_t_1_1" name="shurukang2" onblur="" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
             CT分析测试仪
        </td>
        <td rowspan="3" align="center" width="100"  >
             ƒ
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_1" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_1" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_1" name="READVALUE" onblur="blurBiaoZhunZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_1" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="6" align="center">
            <select class="my-combobox" name="mAV" id="mAV_t_1_1">
                    <option value="10">10</option>
                    <option value="5">5</option>
                    <option value="2.5">2.5</option>
                </select>
        </td>
        <td rowspan="12" align="center" width="100">
           <select class="my-combobox" name="mBV" id="mBV_t_1_1">
                    <option value="0.8">0.8</option>                    
                </select>
        </td>       
    </tr>
    <tr>        
        <td rowspan="1" align="center" width="100">
             常规差流法
        </td>        
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_2" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_2" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_2" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_2" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>
    <tr>        
        <td rowspan="1" align="center" width="100" >
             测量比对结果
        </td>        
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_3" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_3" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_3" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_3" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>

    <tr>        
        <td rowspan="1" align="center" width="100">
             CT分析测试仪
        </td>
        <td rowspan="3" align="center" width="100"  >
             δ
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_4" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_4" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_4" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_4" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>
    <tr>        
        <td rowspan="1" align="center" width="100">
             常规差流法
        </td>        
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_5" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_5" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_5" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_5" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>
    <tr>        
        <td rowspan="1" align="center" width="100">
             测量比对结果
        </td>        
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_6" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_6" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_6" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_6" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>

    <tr>        
        <td rowspan="1" align="center" width="100">
             CT分析测试仪
        </td>
        <td rowspan="3" align="center" width="100"  >
             ƒ
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_7" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_7" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_7" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_7" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="6" align="center">
            <select class="my-combobox" name="mAV" id="mAV_t_1_2">
                    <option value="10">10</option>
                    <option value="5">5</option>
                    <option value="2.5">2.5</option>
                </select>
        </td>              
    </tr>
    <tr>        
        <td rowspan="1" align="center" width="100">
             常规差流法
        </td>        
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_8" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_8" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_8" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_8" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>
    <tr>        
        <td rowspan="1" align="center" width="100">
             测量比对结果
        </td>        
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_9" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_9" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_9" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_9" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>

    <tr>        
        <td rowspan="1" align="center" width="100">
             CT分析测试仪
        </td>
        <td rowspan="3" align="center" width="100"  >
             δ
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_10" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_10" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_10" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_10" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>
    <tr>        
        <td rowspan="1" align="center" width="100">
             常规差流法
        </td>        
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_11" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_11" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_11" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_11" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>
    <tr>        
        <td rowspan="1" align="center" width="100">
             测量比对结果
        </td>        
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="RANGE_t_1_12" name="RANGE" onblur="blurXianShiZhi(this)" type="text">
        </td>
         <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_12" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="READVALUE_t_1_12" name="READVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>
        <td rowspan="1" align="center" width="100">
            <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_12" name="ACTUALVALUE" onblur="blurXianShiZhi(this)" type="text">
        </td>             
    </tr>
</thead>

<tbody id="tbody_moban">
    <!--表体-->
    
    <!--插入行的位置-->
</tbody>

@*<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="7">
            <input type="hidden" id="hideLiangChengShuLiang" value="1" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

        </td>
    </tr>
</tfoot>*@
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        var t=true;//标志位
        function set(tbodyIndex, thi) {
            $("#hideDangQianTongDao").val(tbodyIndex);

            CreateRow(thi);
            // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            
            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号
           

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程



            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值

                if (rowidx == 0) {
                    //需要合并的列 //量程


                }

                //需要合并的列
                if (rowLength ) {
                    if(1==rowLength%3){
                        htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  CT分析测试仪");
                        if (t) {
                            htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + 3 + "' align='center' >  ƒ ");
                            t = false;
                        } else {
                             htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + 3 + "' align='center' >  δ ");
                              t = true;
                        }                  
                    }
                     if(2==rowLength%3){
                        htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  常规差流法");
                        //htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  ƒ ");
                     }
                     if(0==rowLength%3){
                        htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  测量比对结果");
                        //htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + rowspan + "' align='center' >  ƒ ");
                    }
                }
                

                //工作电流
                //需要下拉框   RANGE_t_1_1

                htmlString.push(SetTDHtml(rowspan, "RANGE", HangHaoID, rowidx, '', '', ''));
                //标准值
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, '', '', '', 'resetXianShiZhi'));
                //显示值
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, '', '', '', 'resetXianShiZhi'));

              
                //误差(%)
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx));

                     //需要合并的列
                //if (rowLength ) {
                //    if(1==rowLength%12){
                //        htmlString.push("<td class='" + 'classstyle' + "' rowspan='" + 12 + "' align='center' > 0.8 ");
                //    }
                //}
                               
                //允许限值(%)

                //htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, '', "classstyle100"));


                //校准结果的不确定度 U(K =
                //htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, '', "classstyle"));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

        //计算显示值
        function resetXianShiZhi(obj) {
            //重新计算当前行
            xiangDuiWuCha(obj, "READVALUE", "ACTUALVALUE", "UNCERTAINTYDEGREE");
        }
        

        //离开事件，用于计算
        function blurValue(obj) {

            //   LianDongShiJiZhi(obj);
        }

        function blurXianShiZhi(obj){
            //console.info(obj.value);
            //console.info($(obj).attr("id").split('_')); //true 
            //var id = $(obj).attr("id");
            //var arr = id.split('_');
            //console.info(id);
            $(obj).each(function () {
                console.info(this);
                //console.info($(this).attr("id")); //false 
                //console.info($(this).attr("id")-1); //false 

                //console.info($(this).attr("id").split('_')); //true 
                var id = $(this).attr("id");
                var arr = id.split('_');
                //console.info(id);
                //if (2 == Number(arr[arr.length - 1]) % 3) {
                //    arr[arr.length - 1] = (Number(arr[arr.length - 1])-1).toString();
                //    var val3 =  Number($("#" + arr.join("_")).val())-Number($(this).val());
                //    arr[arr.length - 1] = (Number(arr[arr.length - 1])+2).toString();
                    
                //    $("#" + arr.join("_")).val(val3);
                //    //console.info(arr.join("_"));
                //}

                if (2 == parseFloat(arr[arr.length - 1]) % 3) {
                    arr[arr.length - 1] = (parseFloat(arr[arr.length - 1]) - 1).toString();
                    var val1 = parseFloat($("#" + arr.join("_")).val());                    
                    var len1 = ($("#" + arr.join("_")).val()).split('.').length==1?0:($("#" + arr.join("_")).val()).split('.')[1].length;//($("#" + arr.join("_")).val()).split('.')[1].length;
                    var val2 = parseFloat($(this).val());
                    var len2 = ($(this).val()).split('.').length == 1 ? 0 : ($(this).val()).split('.')[1].length;
                    var m=Math.pow(10,Math.max(len1,len2)); 
                    var len = len1 > len2 ? len1 : len2;
                    var val3 = len == 0 ? (val1 - val2) : ((val1*m - val2*m)/m).toFixed(len);
                    console.info(val3);
                    //var len = len1 > len2 ? len1 : len2;
                    //levellength: $(".clone #DengJi_" + $("#hideDangQianTongDao").val() + "_1_1").val().split('.')[1].length
                    // return ((parseFloat(ShijiShuChu) - parseFloat(BiaoZhunShuChu) / (datas.outputMaxValue - datas.outputMinValue) * 100 * parseFloat(level)) / parseFloat(level)).toFixed(length + 1);
                    //var val3 =  ;
                    arr[arr.length - 1] = (parseFloat(arr[arr.length - 1])+2).toString();
                    //console.info(val1-val2);
                    $("#" + arr.join("_")).val(val3);
                    //console.info(arr.join("_"));
                }

            })


        }



    </script>


}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->

}


