@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "有功功率输出（测量）-引用误差";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <td colspan="9">

            <input name="ahzkhz" id="ahzkhz_t_1_1" type="text" class="my-textbox tc" value="50" style="width:50px">
            <select class="my-combobox" name="hzkhz" id="hzkhz_t_1_1">
                <option value="Hz">Hz</option>
                <option value="kHz">kHz</option>
                <option value="MHz">MHz</option>
                <option value="GHz">GHz</option>

            </select>
        </td>
    </tr>

    <tr>
        <th align="center" width="100">额定条件</th>
        <th align="center" width="100"> 功率因数</th>
        <th align="center" width="100"> 显示值(W)</th>
        <th align="center" width="100">标准值(W)</th>
        <th align="center" width="100">  引用误差%    </th>
        <th align="center">
            校准结果的不确定度<br>
            U(k =
            <select class="my-combobox" name="K" id="K_t_1_1">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="√3">√3</option>
            </select>
            )
        </th>
    </tr>

</thead>

<tbody>
    <!--表体-->
    <tr>
        <td align="center" width="230">
            <input name="fhzkhz" id="fhzkhz_t_1_1" type="text" class="my-textbox tc" value="57.7" style="width:50px">
            <select class="my-combobox" name="bhzkhz" id="bhzkhz_t_1_1">
                <option value="V">V</option>
                <option value="MV">MV</option>
                <option value="kV">kV</option>
                <option value="mV">mV</option>
                <option value="μV">μV</option>
            </select> / <input name="chzkhz" id="chzkhz_t_1_1" type="text" class="my-textbox tc" value="5" style="width:50px">
            <select class="my-combobox" name="dhzkhz" id="dhzkhz_t_1_1">
                <option value="A">A</option>
                <option value="kA">kA</option>
                <option value="mA">mA</option>
                <option value="μA">μA</option>
                <option value="nA">nA</option>
                <option value="pA">pA</option>
            </select>
        </td>
        <td id="tbody_moban" colspan="7" style="padding:0">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_1">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td rowspan="95" width="100" align="center">
                            <input type="text" class="my-textbox tr ZHONGJIANZHI" value="1.0" style="width:44px" name="ZHONGJIANZHI" id="ZHONGJIANZHI_t_1_1">
                        </td>
                        <td rowspan="1" align="center" width="100">
                            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_1" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
                        </td>


                        <td rowspan="1" align="center" width="100">
                            <input class="my-textbox input-width" value="" id="READVALUE_t_1_1" name="READVALUE" onblur="blurBiaoZhunZhi(this)" type="text">
                        </td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_1" name="ACTUALVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_1" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text">
                            <input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_1" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_1" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_1&amp;BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_1^BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_1^SHIJISHUCHUZHI_t_1_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=SHIJISHUCHUZHI_t_1_1&amp;RuleID=780-1992_3_1_1');">计算</a>
                        </td>
                    </tr>
                    <tr rowindex="2">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_2" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_2" name="READVALUE" onblur="blurBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_2" name="ACTUALVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_2" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text">
                        
                            <input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_2" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_2" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_2&amp;BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_2^BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_2^SHIJISHUCHUZHI_t_1_2', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=SHIJISHUCHUZHI_t_1_2&amp;RuleID=780-1992_3_1_1');">计算</a>
                        </td>
                    </tr>
                    <tr rowindex="3">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_3" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_3" name="READVALUE" onblur="blurBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_3" name="ACTUALVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_3" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text">
                            <input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_3" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_3" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_3&amp;BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_3^BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_3^SHIJISHUCHUZHI_t_1_3', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=SHIJISHUCHUZHI_t_1_3&amp;RuleID=780-1992_3_1_1');">计算</a>
                        </td>
                    </tr>
                    <tr rowindex="4">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_4" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_4" name="READVALUE" onblur="blurBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_4" name="ACTUALVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_4" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text">
                            <input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_4" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_4" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_4&amp;BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_4^BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_4^SHIJISHUCHUZHI_t_1_4', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=SHIJISHUCHUZHI_t_1_4&amp;RuleID=780-1992_3_1_1');">计算</a>
                        </td>
                    </tr>
                    <tr rowindex="5">
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_1_5" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="READVALUE_t_1_5" name="READVALUE" onblur="blurBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_1_5" name="ACTUALVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_1_5" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text">
                        
                            <input type="hidden" name="BuQueDingDuZhi" id="BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_5" value="">
                            <input type="hidden" name="BuQueDingDuLuJing" id="BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_5" value="">
                            <a href="#" name="btnBuQueDing" class="my-linkbutton" onclick="showModal('BuQueDingDuZhi_SHIJISHUCHUZHI_t_1_5&amp;BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_5^BuQueDingDuLuJing_SHIJISHUCHUZHI_t_1_5^SHIJISHUCHUZHI_t_1_5', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=SHIJISHUCHUZHI_t_1_5&amp;RuleID=780-1992_3_1_1');">计算</a>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="7">
                            <input type="hidden" id="hideLiangChengShuLiang" value="1" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_2">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td rowspan="95" width="100" align="center">
                            <input type="text" class="my-textbox tr ZHONGJIANZHI" value="0.5L" style="width:44px" name="ZHONGJIANZHI" id="ZHONGJIANZHI_t_2_1">

                        </td>
                        <td rowspan="1" align="center" width="100">
                            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_2_1" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
                        </td>


                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="READVALUE_t_2_1" name="READVALUE" onblur="blurBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_2_1" name="ACTUALVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_2_1" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text">
                            <input id="BuQueDingDuZhi_SHIJISHUCHUZHI_t_2_1" name="BuQueDingDuZhi" value="" type="hidden">
                            <input id="BuQueDingDuLuJing_SHIJISHUCHUZHI_t_2_1" name="BuQueDingDuLuJing" value="" type="hidden">
                            <a class="my-linkbutton" href="#" name="btnBuQueDing" onclick="showModal('BuQueDingDuZhi_SHIJISHUCHUZHI_t_2_1&BuQueDingDuLuJing_SHIJISHUCHUZHI_t_2_1^BuQueDingDuLuJing_SHIJISHUCHUZHI_t_2_1^SHIJISHUCHUZHI_t_2_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=SHIJISHUCHUZHI_t_2_1&RuleID=780-1992_3_1_1');">计算</a>
                        </td>
                    </tr>


                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="7">
                            <input type="hidden" id="hideLiangChengShuLiang" value="2" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="subtbl">
                <tbody class="myliangcheng_3">
                    <!--插入行的位置-->
                    <tr rowindex="1">
                        <td rowspan="95" width="100" align="center">
                            <input type="text" class="my-textbox tr ZHONGJIANZHI" value="0.5C" style="width:44px" name="ZHONGJIANZHI" id="ZHONGJIANZHI_t_3_1">

                        </td>

                        <td rowspan="1" align="center" width="100">
                            <input class="my-textbox input-width" value="" id="OUTPUTVALUE_t_3_1" name="OUTPUTVALUE" onblur="blurXianShiZhi(this)" type="text">
                        </td>

                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="READVALUE_t_3_1" name="READVALUE" onblur="blurBiaoZhunZhi(this)" type="text"></td>
                        <td rowspan="1" align="center" width="100"> <input class="my-textbox input-width" value="" id="ACTUALVALUE_t_3_1" name="ACTUALVALUE" onblur="blurValue(this)" type="text"></td>
                        <td rowspan="1" align="center"> <input class="my-textbox input-width" value="" id="SHIJISHUCHUZHI_t_3_1" name="SHIJISHUCHUZHI" onblur="blurValue(this)" type="text">
                            <input id="BuQueDingDuZhi_SHIJISHUCHUZHI_t_3_1" name="BuQueDingDuZhi" value="" type="hidden">
                            <input id="BuQueDingDuLuJing_SHIJISHUCHUZHI_t_3_1" name="BuQueDingDuLuJing" value="" type="hidden">
                            <a class="my-linkbutton" href="#" name="btnBuQueDing" onclick="showModal('BuQueDingDuZhi_SHIJISHUCHUZHI_t_3_1&BuQueDingDuLuJing_SHIJISHUCHUZHI_t_3_1^BuQueDingDuLuJing_SHIJISHUCHUZHI_t_3_1^SHIJISHUCHUZHI_t_3_1', '/PROJECTTEMPLET/JiSuanBuQueDingDu?ID=SHIJISHUCHUZHI_t_3_1&RuleID=780-1992_3_1_1');">计算</a>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <!--表尾-->
                    <tr>
                        <td colspan="7">
                            <input type="hidden" id="hideLiangChengShuLiang" value="3" /> <!--默认量程是0-->
                            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加空行</a>

                        </td>
                    </tr>
                </tfoot>
            </table>
        </td>
    </tr>

</tbody>

@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex, thi) {
            $("#hideDangQianTongDao").val(tbodyIndex);

            CreateRow(thi);
            // $('#dlg').dialog('open');//一个量程的需要注释这一行，打开弹出框

        }
        //增加行
        function CreateRow(thi) {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $(thi).prev().val();//$("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            //LiangChengShuLiang++;
            var rowspanIdx = $("#txtPoint").val();     //检测点数
            txtPointLen = $("#txtPointLen").val(); //小数点位数
            var standardValue = "";
            var htmlString = [];
            var rowLength =
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find(".myliangcheng_" + LiangChengShuLiang + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程
            for (var rowidx = 0; rowidx < rowspanIdx; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数


                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行
                if (rowidx == 0) {
                    //需要合并的列
                }
                //需要合并的列

                //显示值 需要下拉框
                htmlString.push(SetTDHtml(rowspan, "OUTPUTVALUE", HangHaoID, rowidx, '', '', '', 'blurXianShiZhi'));
                //标准值
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, '', '', '', 'blurBiaoZhunZhi'));
                //引用误差
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx));
                //校准结果的不确定度
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx));

                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find(".myliangcheng_" + LiangChengShuLiang).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            //$('#dlg').window('close');//一个量程的需要注释这一行，关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).find(".myliangcheng_" + LiangChengShuLiang).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }
        //离开事件，用于计算 输入范围最小
        function blurXianShiZhi(obj) {
            //注意多通道
            //
            //固定值fhzkhz_1_1_1 tongdao_1

            var dianliu = $(obj).parent().parent().parent().parent().parent().parent().find("input[name='fhzkhz']").val();
            var dianya = $(obj).parent().parent().parent().parent().parent().parent().find("input[name='chzkhz']").val();
            if (dianliu == null || dianliu == "") {
                return;
            }
            if (dianya == null || dianya == "") {
                return;
            }
            var guding=@((ViewBag.canshu== "三相四线")?3:System.Math.Sqrt(3));
            var gudingzhi = (guding * dianliu * dianya).toFixed(0);
            //重新计算当前行
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));

            var newid = "READVALUE" + id;//改动的地方，参与计算的列的name值

            var biaoZhunData = $(obj).parent().parent().find("#" + newid).val();
            var showData = $(obj).val();
            if (showData != "" && biaoZhunData != "" && biaoZhunData != "0") {
                //获取文本框的值

                var txtPointLen = $("#mywuchaxiaoshuweishu").val(); //小数点位数
                var jianfa = (accSub(showData , biaoZhunData) / gudingzhi * 100);
                var data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);

                $(obj).parent().parent().find("#ACTUALVALUE" + id).val(data);


            }
        }
        //离开事件，用于计算 输入范围最小
        function blurBiaoZhunZhi(obj) {
            //注意多通道

            var dianliu = $(obj).parent().parent().parent().parent().parent().parent().find("input[name='fhzkhz']").val();
            var dianya = $(obj).parent().parent().parent().parent().parent().parent().find("input[name='chzkhz']").val();
            if (dianliu == null || dianliu == "") {
                return;
            }
            if (dianya == null || dianya == "") {
                return;
            }
            var gudingzhi = (3 * dianliu * dianya).toFixed(0);
            //重新计算当前行
            var name = $(obj).attr("name");
            var id = $(obj).attr("id");
            id = id.substring(id.indexOf('_'));

            var newid = "OUTPUTVALUE" + id;//改动的地方，参与计算的列的name值

            var showData = $(obj).parent().parent().find("#" + newid).val();
            var biaoZhunData = $(obj).val();
            if (showData != "" && biaoZhunData != "" && biaoZhunData != "0") {

                var txtPointLen = $("#mywuchaxiaoshuweishu").val(); //小数点位数
                var jianfa = (accSub(showData , biaoZhunData) / gudingzhi * 100);
                var data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);

                $(obj).parent().parent().find("#ACTUALVALUE" + id).val(data);


            }

        }
        //离开事件，用于计算
        function blurValue(obj) {
            //  LianDongShiJiZhi(obj);
        }



    </script>


}
@section TanKuang {
    <!--弹框的位置-->
    <input type="hidden" id="txtPoint" value="1" /><!--检测点数值，就是加几行-->
    <input type="hidden" id="txtPointLen" value="1" /><!--小数点位数-->

}


