@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "直流电压（电流）测量-正负极性-相对误差（多通道）";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th rowspan="2" align="center" width="140">量程</th>
        <th rowspan="2" align="center" width="140">标准值</th>
        <th colspan="2" align="center" width="140">
            显示值
            @if ((ViewBag.canshu == "相对误差"))
            {
                <select class="my-combobox" name="sssss" id="sssss_t_1_1" style="width:100px;">
                    <option value=""></option>
                    <option value="CH1">CH1</option>
                    <option value="CH2">CH2</option>
                    <option value="CH3">CH3</option>
                    <option value="CH4">CH4</option>
                </select>
            }
        </th>
        <th colspan="2" align="center">相对误差%</th>
        <th align="center">
            校准结果的不确定度

        </th>
    </tr>
    <tr>
        <th align="center" class="f14"><b>+</b></th>
        <th align="center" class="f14"><b>—</b></th>
        <th align="center" class="f14"><b>+</b></th>
        <th align="center" class="f14"><b>—</b></th>
        <th align="center">
            U(K = <select class="my-combobox" name="K" id="K_1_1_1">
                <option value="2">2 </option>
                <option value="3">3</option>
                <option value="√3">√3</option>
            </select>)
        </th>
    </tr>
</thead>

<tbody id="tbody_moban">
    <!--表体-->
    <!--插入行的位置-->
</tbody>

<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="7">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加量程</a>

        </td>
    </tr>
</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex) {

            $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);

        }
        //增加行
        function CreateRow() {

            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程



            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值

                if (rowidx == 0) {
                    //需要合并的列 //量程

                    htmlString.push(SetTDHtml(txtPoint, "RANGE", HangHaoID, rowidx, txtNumber, ""));

                }

                //需要合并的列


                //标准值 增加下拉框单位A


                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, '', "", '', "@((ViewBag.canshu == "相对误差") ? "resetBiaoZhunZhi" : "jueDuiWuChaBiaoZhunZhi")"));

                //显示值
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx, '', "", '', "@((ViewBag.canshu == "相对误差") ? "resetXianShiZhi" : "jueDuiWuChaXianShiZhi")"));

                //显示值 负
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHIFU", HangHaoID, rowidx, '', "", '', "@((ViewBag.canshu == "相对误差") ? "resetXianShiZhiFu" : "jueDuiWuChaXianShiZhiFu")"));

                //相对误差
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, '', ""));

                //相对误差 负
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERRORFU", HangHaoID, rowidx, '', ""));

                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, '', ""));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");
            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框
            $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

        //计算标准值 绝对误差
        function jueDuiWuChaBiaoZhunZhi(obj) {

            jueDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR");
            jueDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHIFU", "RELATIVEERRORFU");
        }
        //计算显示值  绝对误差
        function jueDuiWuChaXianShiZhi(obj) {

            jueDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR");
        }

        //计算显示值  绝对误差
        function jueDuiWuChaXianShiZhiFu(obj) {

            jueDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHIFU", "RELATIVEERRORFU");

        }


        //计算标准值
        function resetBiaoZhunZhi(obj) {

            xiangDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR");
            xiangDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHIFU", "RELATIVEERRORFU");
        }
        //计算显示值
        function resetXianShiZhi(obj) {

            xiangDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHI", "RELATIVEERROR");
        }

        //计算显示值
        function resetXianShiZhiFu(obj) {

            xiangDuiWuCha(obj, "READVALUE", "SHIJISHUCHUZHIFU", "RELATIVEERRORFU");

        }


        //离开事件，用于计算
        function blurValue(obj) {

            //   LianDongShiJiZhi(obj);
        }


    </script>


}
@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
            <tr>
                <td width="80" align="right">量程值：</td>
                <td><input type="text" id="txtNumber" name="txtNumber" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" name="txtPoint" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen" name="txtPointLen" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
        </table>
    </div>
    <!--/增加量程弹层-->
}


