@model Langben.DAL.PROJECTTEMPLET
@{
    Layout = "~/Views/Shared/TempleOnly.cshtml";
    ViewBag.title = "指针式辅助电阻影响";
}
@using Common
@using Models
<thead>
    <!--表头-->
    <tr>
        <th colspan="6">
            <span>辅助电阻影响：</span>
            <select class="my-combobox" name="hege" id="hege_t_1_1">
                <option value="1000" selected="selected">合格</option>
                <option value="100">不合格</option>
            </select>
        </th>
        <th colspan="1">
            <input name="zhidingwucha"  id="zhidingwucha_t_1_1" type="text" class="my-textbox tc" value="" style="width:140px">
        </th>
    </tr>
    <tr>
        <th width="120" align="center">量程(Ω)</th>
        <th width="110" align="center">辅助电阻(Ω)</th>
        <th width="110" align="center">示值</th>
        <th width="110" align="center">实际值(Ω)</th>
        <th width="110" align="center">误差(%)</th>
        <th width="110" align="center">500Ω显示值(Ω)</th>
        <th align="center">改变量(%)</th>
    </tr>


</thead>

<tbody id="tbody_moban">
    <!--表体-->
    <!--插入行的位置-->

</tbody>

<tfoot>
    <!--表尾-->
    <tr>
        <td colspan="7">
            <input type="hidden" id="hideLiangChengShuLiang" value="0" /> <!--默认量程是0-->
            <a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" id="btnAddLiangCheng">增加量程</a>

        </td>
    </tr>
</tfoot>
@section JS {
    <script type="text/javascript" language="javascript">
        //一个量程的需要这个方法
        //重写set方法，只准对增加空白行
        function set(tbodyIndex) {

            $('#dlg').dialog('open');//打开弹出框

            $("#hideDangQianTongDao").val(tbodyIndex);

        }
        //增加行
        function CreateRow() {


            var hideDangQianTongDao = $("#hideDangQianTongDao").val();//当前操作第几通道
            var LiangChengShuLiang = $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val();//某个通道量程数量
            LiangChengShuLiang++;
            var txtNumber = $("#txtNumber").val();     //量程值
            var txtPoint = $("#txtPoint").val();     //检测点数
            var txtPointLen = $("#txtPointLen").val(); //小数点位数

            var htmlString = [];
            var rowLength = $("#tbody_" + hideDangQianTongDao + " tr").length;//行号

            var lianChengID = hideDangQianTongDao + "_" + LiangChengShuLiang;//例如：第几个通道_第几个量程



            for (var rowidx = 0; rowidx < txtPoint; rowidx++) {
                rowLength++;
                htmlString.push("<tr rowindex='" + rowLength + "'>");

                var rowspan = 1; //合并单元格行数

                var HangHaoID = lianChengID + "_" + rowLength;//量程ID_第几行

                //计算默认值

                if (rowidx == 0) {
                    //需要合并的列 //量程

                    htmlString.push(SetTDHtml(txtPoint, "RANGE", lianChengID, rowidx, txtNumber, ""));
                    //选用电阻阻值   （Ω）
                 

                }

                htmlString.push(SetTDHtml(rowspan, "OUTPUTVALUE", HangHaoID, rowidx, '', ""));
                //输出示值 增加下拉框单位A
                htmlString.push(SetTDHtml(rowspan, "READVALUE", HangHaoID, rowidx, '', "", '', "resetBiaoZhunZhi"));

                //读数值 增加下拉框单位V
                htmlString.push(SetTDHtml(rowspan, "ACTUALVALUE", HangHaoID, rowidx, '', "", '', "resetBiaoZhunZhi"));

                //误差(%)
                htmlString.push(SetTDHtml(rowspan, "SHIJISHUCHUZHI", HangHaoID, rowidx));

                //相对误差
                htmlString.push(SetTDHtml(rowspan, "RELATIVEERROR", HangHaoID, rowidx, '', ""));


                //校准结果的不确定度 U(K =
                htmlString.push(SetTDHtml(rowspan, "UNCERTAINTYDEGREE", HangHaoID, rowidx, '', ""));
                htmlString.push("</tr>");
            }
            htmlString = htmlString.join("");

            var tagRow = $("#tongdao_" + hideDangQianTongDao).find("#tbody_" + hideDangQianTongDao).append(htmlString);
            $.parser.parse(tagRow);//渲染easyui组建
            $('#dlg').window('close');//关闭弹出框

            $("#tongdao_" + hideDangQianTongDao).find("#hideLiangChengShuLiang").val(LiangChengShuLiang);
        }

        //计算标准值 绝对误差
        //【误差】=（示值-实际值/量程）/10*100，不同的准确度等级小数位数不同，四舍六入，逢五奇进偶不进
        function resetBiaoZhunZhi(obj) {
            var first = "READVALUE", second = "ACTUALVALUE", third = "RANGE", gold = "SHIJISHUCHUZHI";
                //重新计算当前行
                var name = $(obj).attr("name");
                var id = $(obj).attr("id");
                id = id.substring(id.indexOf('_'));
                var tongdao = id.split('_')[1];
                third = third + "_" + tongdao + "_1_1";
                first = first + id;//改动的地方，参与计算的列的name值
                second = second + id;//改动的地方，参与计算的列的name值
               
                gold = gold + id;//改动的地方，误差的列的name值

                var firstData = $(obj).parent().parent().find("#" + first).val();
                var secondData = $(obj).parent().parent().find("#" + second).val();
                var thirdData = $("#" + second).val();
                if (firstData != "undefined" && secondData != "undefined" && firstData != "" && thirdData != "undefined" && thirdData != "" && secondData != "" && thirdData != "0") {
                    var txtPointLen = $("#mywuchaxiaoshuweishu").val(); //小数点位数
                    var jianfa = (accSub(firstData, (secondData / thirdData))/10 * 100);
                    var data = zeroFloat(fomatFloat(jianfa, txtPointLen), txtPointLen);


                    $(obj).parent().parent().find("#" + gold).val(data);
                }
             

        }
 
        //离开事件，用于计算
        function blurValue(obj) {

            //   LianDongShiJiZhi(obj);
        }



    </script>


}
@section TanKuang {
    <!--弹框的位置-->
    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
            <tr>
                <td width="80" align="right">量程值：</td>
                <td><input type="text" id="txtNumber" name="txtNumber" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtPoint" name="txtPoint" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtPointLen" name="txtPointLen" value="" class="my-textbox  required digits" style="width:200px" /></td>
            </tr>
        </table>
    </div>
    <!--/增加量程弹层-->
}


