
@{
    Layout = "~/Views/Shared/Edit.cshtml";
}
@using (Html.BeginForm("", "api/PREPARE_SCHEMEApi/Put"))
{
    <table width="100%">
        <tr>
            <td width="50%" valign="top"><iframe id="yuanshi" width="100%" frameborder="0" height="500" src=""></iframe></td>
            <td width="50%" valign="top"><iframe id="zhenshu" width="100%" frameborder="0" height="500" src=""></iframe></td>
        </tr>
    </table>
    <fieldset>
        <div>
           
            <div class="input_search">
                <div class="input_search-label">
                    结论：
                </div>
                <div class="input_search-field">
                    <label id="jielu"></label>
                </div>
            </div><br />
        </div>
        <div>
            <div class="input_search">
                <div class="input_search-label">
                    填写审批意见：
                </div>
                <div class="input_search-field">
                    <textarea name="APPROVAL" style="width:200px;height:80px;">这里写内容</textarea>
                </div>
            </div><br />
            <input type="hidden" name="ID" value="@ViewBag.Id" />
            <input type="hidden" name="ISAGGREY" value="" id="ISAGGREY" />
            <input type="submit" value="同意" onclick="patongyi(this)" />
            <input type="submit" value="不同意" onclick="patongyi(this)" />
        </div>
    </fieldset>
}
<script type="text/javascript">
    $(function () {
        $.ajax({
            url: "/api/FILE_UPLOADERApi/Get/" + "@ViewBag.Id",
            type: "Get",
            // async: false,
            success: function (res) {
                if (res != null) {
                    $("#yuanshi").arrt("src", "/VSHENPi/BaoGao/?id=" + res.FULLPATH2 + "");
                    $("#zhenshu").arrt("src", "/VSHENPi/BaoGao/?id=" + res.FULLPATH + "");
                    $("#jielu").html(res.CONCLUSION);
                }
            }
        })
    })
    function patongyi(arr) {
        var zhi = $(arr).val();
        if (zhi == "同意") {
            $("#ISAGGREY").val("同意");
        }
        else if (zhi=="不同意") {
            $("#ISAGGREY").val("不同意");
        }
    }
</script>