<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <!--正式平台的连接字符串-->
  <!--<connectionStrings>
    <add name="SysEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=118.190.11.213:1521/SHIYANSHI;PASSWORD=tengfei;PERSIST SECURITY INFO=True;USER ID=TENGFEI&quot;" providerName="System.Data.EntityClient" />
   </connectionStrings>-->
  <!--开发平台的连接字符串-->
    <connectionStrings>
  <add name="SysEntities"  connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=39.107.14.251:1521/SHIYANS;PASSWORD=tengfei;PERSIST SECURITY INFO=True;USER ID=tengfei&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!--<connectionStrings>
    <add name="SysEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=192.168.2.102:1521/orcl;PASSWORD=tengfei;PERSIST SECURITY INFO=True;USER ID=TENGFEI&quot;" providerName="System.Data.EntityClient" />
   </connectionStrings>-->
  <!--测试平台的连接字符串-->
 <!-- <connectionStrings>
    <add name="SysEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=localhost:1521/SHIYANSHI;PASSWORD=tengfei;PERSIST SECURITY INFO=True;USER ID=TENGFEI&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <appSettings>
    <!--是否记录操作日志（true:是,false:否）-->
    <add key="LogEnabled" value="true" />
    <!--是否记录错误日志（true:是,false:否）-->
    <add key="ExceptionEnabled" value="true" />
    <!--异常处理页面URL-->
    <add key="ExceptionUrl" value="/Exception/Index" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!---原始记录模板配置文件路径-->
    <add key="TableTemplateXmlPath" value="~/Xml/TableTemplate.xml" />
    <!---检定报告模板配置文件路径-->
    <add key="TableTemplate_JianDingXmlPath" value="~/Xml/TableTemplate_JianDing.xml" />
    <!---校准报告模板配置文件路径-->
    <add key="TableTemplate_JiaoZhunXmlPath" value="~/Xml/TableTemplate_JiaoZhun.xml" />
    <!---特殊字符配置文件路径-->
    <add key="SpecialCharacterXmlPath" value="~/Xml/SpecialCharacter.xml" />
    <!---原始记录校准模板文件路径-->
    <add key="YuanShiJiLuXiaoZhunPath" value="~/Template/原始记录-校准.xls" />
    <!---原始记录检定模板文件路径-->
    <add key="YuanShiJiLuJianDingPath" value="~/Template/原始记录-检定.xls" />
    <!---检定证书模板文件路径-->
    <add key="BaoGaoJianDingPath" value="~/Template/检定证书.xls" />
    <!---校准证书模板文件路径-->
    <add key="BaoGaoXiaoZhunPath" value="~/Template/校准证书.xls" />
    <!---校准CNAS证书模板文件路径-->
    <add key="BaoGaoXiaoZhunCNASPath" value="~/Template/校准证书-CNAS.xls" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="PageOffice, Version=4.0.0.1, Culture=neutral, PublicKeyToken=1D75EE5788809228"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.1" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
     <provider invariantName="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.EntityFramework.EFOracleProviderServices, Oracle.ManagedDataAccess.EntityFramework, Version=6.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
<system.webServer>
  <modules>
    <remove name="WebDAVModule" />
  </modules>
  <handlers>
    <remove name="WebDAV" />
    <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
<oracle.manageddataaccess.client>
<version number="*">
<dataSources>
<dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
</dataSources>
  <implicitRefCursor>
    <!-- 
 8                     注意：方案名称和存储过程的名称是大小写敏感的。
 9                     如果要保留方案名称和存储过程名称中的小写字母，则添加&quot;。
10                     例如<storedProcedure schema="&quot;SchemaName&quot;" name="&quot;StoredProcedureName&quot;">
11                     否则，EF框架会默认把这些名称转换为大写形式。
12                 -->
    <storedProcedure schema="TENGFEI" name="SHIYANSHIGONGZUO">
      <!-- 游标参数的名称是大小写敏感的。 -->
      <refCursor name="RET">
        <bindInfo mode="Output" />
        <!-- 参数的序数从0开始 -->
        <metadata columnName="ID" columnOrdinal="0" columnSize="20" nativeDataType="Varchar2" providerType="Varchar2" providerDBType="String" dataType="System.String" />
        <metadata columnName="WEITUODAN" columnOrdinal="1" columnSize="25" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="JIANDINGWANCHENG" columnOrdinal="2" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="SHEBEIGUZHANG" columnOrdinal="3" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="PIZHUNTONGGUO" columnOrdinal="4" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="HEGE" columnOrdinal="5" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="BUHEGE" columnOrdinal="6" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="CHAOQI" columnOrdinal="7" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />

      </refCursor>

    </storedProcedure>
    <storedProcedure schema="TENGFEI" name="ZHENGSHUHAOLEIBIE">
      <!-- 游标参数的名称是大小写敏感的。 -->
      <refCursor name="RET">
        <bindInfo mode="Output" />
        <!-- 参数的序数从0开始 -->
        <metadata columnName="ID" columnOrdinal="0" columnSize="20" nativeDataType="Varchar2" providerType="Varchar2" providerDBType="String" dataType="System.String" />
        <metadata columnName="WEITUODAN" columnOrdinal="1" columnSize="25" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="JIANDINGWANCHENG" columnOrdinal="2" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="SHEBEIGUZHANG" columnOrdinal="3" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="PIZHUNTONGGUO" columnOrdinal="4" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="HEGE" columnOrdinal="5" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="BUHEGE" columnOrdinal="6" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="CHAOQI" columnOrdinal="7" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />

      </refCursor>

    </storedProcedure>
    <storedProcedure schema="TENGFEI" name="RENYUANGONGZUOLIANG">
      <!-- 游标参数的名称是大小写敏感的。 -->
      <refCursor name="RET">
        <bindInfo mode="Output" />
        <!-- 参数的序数从0开始 -->
        <metadata columnName="ID" columnOrdinal="0" columnSize="20" nativeDataType="Varchar2" providerType="Varchar2" providerDBType="String" dataType="System.String" />
        <metadata columnName="WEITUODAN" columnOrdinal="1" columnSize="25" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="JIANDINGWANCHENG" columnOrdinal="2" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="SHEBEIGUZHANG" columnOrdinal="3" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
       <metadata columnName="PIZHUNTONGGUO" columnOrdinal="4" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="PIZHUNBUTONGGUO" columnOrdinal="5" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="SHENHEBUTONGGUO" columnOrdinal="6" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="HEGE" columnOrdinal="7" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="BUHEGE" columnOrdinal="8" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="CHAOQI" columnOrdinal="9" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />

      </refCursor>

    </storedProcedure>
    <storedProcedure schema="TENGFEI" name="SUOSHUDANWEI">
      <!-- 游标参数的名称是大小写敏感的。 -->
      <refCursor name="RET">
        <bindInfo mode="Output" />
        <!-- 参数的序数从0开始 -->
        <metadata columnName="SUOSHUDANWEI" columnOrdinal="0" columnSize="20" nativeDataType="Varchar2" providerType="Varchar2" providerDBType="String" dataType="System.String" />
        <metadata columnName="BIAOBIAO" columnOrdinal="1" columnSize="25" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="DIANBIAO" columnOrdinal="2" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="NENGZHI" columnOrdinal="3" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="SHUBIAO" columnOrdinal="4" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
         <metadata columnName="ZHILIUYIQI" columnOrdinal="5" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="ZHISHIYIQI" columnOrdinal="6" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="HUGANQI" columnOrdinal="7" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />
        <metadata columnName="QITA" columnOrdinal="8" columnSize="30" nativeDataType="Number" providerType="Decimal" providerDBType="Decimal" dataType="System.Decimal" />

      </refCursor>

    </storedProcedure>
  </implicitRefCursor>

</version>
</oracle.manageddataaccess.client>
</configuration>