
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>方案模板管理</title>
    <link id="easyuiTheme" href="/Res/easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="/Res/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="/Res/easyui/themes/icon.css" rel="stylesheet" />
    <link href="/Content/default.css" rel="stylesheet" />
    <link href="/Content/StyleSheet.css" rel="stylesheet" />


    <script src="/Scripts/jquery.min.js"></script>
    <script src="/Scripts/JScriptCommon.js"></script>

    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="/Res/easyui/jquery.easyui.min.js"></script>
    <script src="/Res/easyui/locale/easyui-lang-zh_CN.js"></script>
    <script src="/Res/My97DatePicker/WdatePicker.js"></script>
    <script>
    $(document).ready(function () {
        $("#DataGrid").datagrid({
            url: "1.json",
            method: "GET",
            title: '',
            nowrap: false,    // false：单元格自动换行
            fit: true,
            fitColumns: false,//是否自适应列宽
            rownumbers: true, //是否加行号
            pagination: true, //是否显式分页
            pageSize: 20, //页容量，必须和pageList对应起来，否则会报错
            pageNumber: 1, //默认显示第几页
            pageList: [10, 20, 50],//分页中下拉选项的数值
            singleSelect: false, //允许选择多行
            //selectOnCheck: true,//true勾选会选择行，false勾选不选择行, 1.3以后有此选项
            //checkOnSelect: true, //true选择行勾选，false选择行不勾选, 1.3以后有此选项


        });
    });



    </script>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" style="height: 50px; overflow:hidden; padding:5px;">
        <div class="easyui-panel" title="" data-options="iconcls:'icon-search',fit:true"    style="padding:5px; overflow:hidden;">
            <table>
                <tr>
                    <td> 报告类别：</td>
                    <td><select class="easyui-combobox" name="state" style="height:26px">

                            <option selected="" value="数表">数表</option>
                            <option value="标源 ">标源 </option>
                            <option value="继保 ">继保 </option>
                            <option value="变送 ">变送 </option>
                            <option value="交采 ">交采 </option>
                            <option value="仪置 ">仪置 </option>
</select></td>
                    <td> 证书类别：</td>
                    <td>
                        <select class="easyui-combobox" name="state" style="height:26px">

                            <option value="-请选择-">-请选择-</option>
                            <option selected="" value="校准">校准</option>
                            <option value="检定">检定</option>

                        </select>
                    </td>
                    <td> 方案模板名称：</td>
                   <td><input type="text" id="txtName" class="easyui-textbox" style="" />
</td>
                    <td>
                       <a href="javascript:search()" class="easyui-linkbutton" style=" margin-left: 10px; margin-right:10px">查询新建模板方案</a>
                       <a href="javascript:search()" class="easyui-linkbutton" style=" margin-left: 10px; margin-right:10px">方案模板发布</a>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div data-options="region:'center',title:'',iconCls:'icon-ok',border:false"         style="padding:3px;">
        <div class="easyui-layout" data-options="fit:true">

            <div data-options="region:'west',collapsible:false,split:false" title="树选择" style="width: 300px;">
                <ul id="tt" class="easyui-tree" data-options="url:'/Res/tree_data1.js',method:'get',animate:true,checkbox:true"></ul>
            </div>


            <div data-options="region:'center',split:false" title=" 右侧" style="position:relative" >

                <iframe id="mainframe" name="mainframe" frameborder="0" src="test"></iframe>
            </div>

        </div>
</div>
</body>
</html>
