
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>方案模板管理</title>
    <link id="easyuiTheme" href="/Res/easyui/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="/Res/easyui/themes/default/easyui.css" rel="stylesheet" />
    <link href="/Res/easyui/themes/icon.css" rel="stylesheet" />
    <link href="/Content/default.css" rel="stylesheet" />
    <link href="/Content/StyleSheet.css" rel="stylesheet" />


    <script src="/Scripts/jquery.min.js"></script>   
    <script src="/Scripts/JScriptCommon.js"></script>
   <script src="/Res/easyui/jquery.easyui.min.js"></script>
    <script src="/Res/easyui/locale/easyui-lang-zh_CN.js"></script>       
  

  
    
</head>
<body class="easyui-layout">
    <input type="hidden" id="rowindex" />
    <div data-options="region:'north',border:false" style="height: 50px; overflow:hidden; padding:5px;">
        <div class="easyui-panel" title="" data-options="iconcls:'icon-search',fit:true" style="padding:5px; overflow:hidden;">
            <table>
                <tr>

                    <td>
                        <a href="javascript:;" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick="CreateTable()">增加通道</a>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div data-options="region:'center',title:'',iconCls:'icon-ok',border:false" style="padding:3px;">
        <div class="mt10" id="tongdao">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tbl" id="tongdao_0">
                <thead>
                    <tr>
                        <th rowspan="2" align="center" width="120">量程</th>
                        <th rowspan="2" align="center" width="120">标准值</th>
                        <th colspan="2" align="center">
                            <select class="easyui-combobox" name="state" style="width:100px;">
                                <option value="AL">&nbsp;&nbsp; </option>
                                <option value="AK">CH1</option>
                                <option value="AZ">CH2</option>
                                <option value="AR">CH3</option>
                                <option value="CA">CH4</option>


                            </select>
                        </th>
                        <th colspan="2" align="center">相对误差</th>
                        <th align="center">校准结果的不确定度</th>
                    </tr>
                    <tr>
                        <th align="center">+</th>
                        <th align="center">-</th>
                        <th align="center">+</th>
                        <th align="center">-</th>
                        <th align="center">
                            U(K=<select class="easyui-combobox" name="state" style="width:30px;">
                                <option value="AL">2 </option>
                                <option value="AK">3</option>
                                <option value="AZ">4</option>


                            </select>)
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody_0"></tbody>
                <tfoot>
                    <tr>
                        <td colspan="7"><a href="javascript:void(0)" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'" onclick=" $('#dlg').dialog('open'); set(' + i + ')">增加量程</a></td>

                    </tr>
                </tfoot>
            </table>



        </div>




    </div>

    <!--增加量程弹层-->
    <div id="dlg" class="easyui-dialog" title="设置检测点" closed="true" data-options="buttons: [{
					text:'确定',
					iconCls:'icon-ok',
					handler:function(){
					  return CreateRow()
					}
				},{
					text:'取消',
					handler:function(){
                    $('#dlg').window('close');
         }
         }]" style="width:400px;height:200px;padding:10px">
        <table>
            <tr>
                <td width="80" align="right">量程值：</td>
                <td><input type="text" id="txtName" class="easyui-textbox" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">检测点数：</td>
                <td><input type="text" id="txtName" class="easyui-textbox" style="width:200px" /></td>
            </tr>
            <tr>
                <td align="right">小数点位数：</td>
                <td><input type="text" id="txtName" class="easyui-textbox" style="width:200px" /></td>
            </tr>
        </table>
    </div>
    <!--/增加量程弹层-->

    <script type="text/javascript" language="javascript">
        //共有的通道数量
        var i = 1;
        //创建通道
        function CreateTable() {
            var tfoot = " <tfoot>"
                + "<tr><td width='40'>注：</td><td colspan='6'><input class='easyui-textbox' name='' data-options='multiline:true' style='height:30px; width:95%'></td>"
                + "<tr><td width='40'>结论：</td><td colspan='6'><input class='easyui-textbox' name='' data-options='multiline:true' style='height:30px; width:95%'></td>"
                + "<tr><td colspan='7'><a href='javascript:void(0)' class='easyui-linkbutton' data-options=\"plain:true,iconCls:'icon-add'\" onclick=\"$('#dlg').dialog('open');set(" + i + ")\">增加量程</a></td></tr> </tfoot>";
            var table = "<table width='100%' border='0' cellspacing='0' cellpadding='0' class='tbl mt10' id='tongdao_" + i + "'>"
                + "<thead><tr><th rowspan='2' align='center' width='120'>量程</th><th rowspan='2' align='center' width='120'>标准值</th> <th colspan='2' align='center'><select class='easyui-combobox' name='state' style='width:100px;'><option value='AL'>&nbsp;&nbsp; </option><option value='AK'>CH1</option><option value='AZ'>CH2</option><option value='AR'>CH3</option><option value='CA'>CH4</option></select></th><th colspan='2' align='center'>相对误差</th><th align='center'>校准结果的不确定度</th></tr><tr><th align='center'>+</th><th align='center'>-</th><th align='center'>+</th><th align='center'>-</th><th align='center'>U(K=<select class='easyui-combobox' name='state' style='width:30px;'><option value='AL'>2 </option><option value='AK'>3</option><option value='AZ'>4</option></select>)</th></tr></thead>"
                + "<tbody id='tbody_" + i + "'></tbody>"
                + tfoot
                + "</table>";

            var tagobj = $(table).appendTo($('#tongdao'));
            $.parser.parse(tagobj);
            i++;

        };
        function set(idx) {
            $("#rowindex").val(idx);
            // alert($("#rowindex").val());
        }
        function CreateRow() {
            var idx = $("#rowindex").val();
            
            var tr = '<tr><td rowspan="3" align="right"><input   class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input id="txtName3" class="easyui-textbox" style="width:50px" /></td><td align="right"><input id="txtName6" class="easyui-textbox" style="width:50px" /></td><td><input id="txtName9" class="easyui-textbox" style="width:50px" /></td></tr><tr><td align="right"><input class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input class="easyui-textbox" style="width:50px" /></td><td align="right"><input class="easyui-textbox" style="width:50px" /></td><td><input id="txtName10" class="easyui-textbox" style="width:50px" /></td></tr><tr><td align="right"><input class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input id="txtName2" class="easyui-textbox" style="width:50px" /><select class="easyui-combobox" name="state" style="width:50px; height:25px"><option value="">MV</option><option value="">KV</option><option value="">V</option><option value="">mV</option><option value="">μv</option></select></td><td align="right"><input id="txtName5" class="easyui-textbox" style="width:50px" /></td><td align="right"><input id="txtName8" class="easyui-textbox" style="width:50px" /></td><td><input id="txtName11" class="easyui-textbox" style="width:50px" /></td></tr>';
            var tagRow = $("#tbody_" + idx).append(tr);

             $.parser.parse(tagRow);
        }
    </script>
</body>

</html>
