@model Langben.DAL.SCHEME

@{
    Layout = "~/Views/Shared/Create.cshtml";
}
@using Common
@using Models
@section CurentPlace {

    创建

}

    <div data-options="region:'north',border:false" style="height: 50px; overflow:hidden; padding:5px;">
        <input type="hidden" id="hideID" value="" />
        @if (@ViewBag.UNDERTAKE_LABORATORYID != null)
        {
            <input type="hidden" id="hideUNDERTAKE_LABORATORYID" value="@ViewBag.UNDERTAKE_LABORATORYID" />
        }
        else
        {
            <input type="hidden" id="hideUNDERTAKE_LABORATORYID" value=""/>
        }
        <div class="easyui-panel" title="" data-options="iconcls:'icon-search',fit:true" style="padding:5px; overflow:hidden;">
            <table>
                <tr>
                    <td> 实验室：</td>
                    <td>
                        <select name="UNDERTAKE_LABORATORYID" id="UNDERTAKE_LABORATORYID" style="width:200px;" >
                            <option value="电能" selected="selected">电能</option>
                            <option value="数表三相">数表三相</option>
                            <option value="数表单相">数表单相</option>
                            <option value="指示仪表">指示仪表</option>
                            <option value="直流仪器">直流仪器</option>
                            <option value="互感器">互感器</option>
                        </select>
                    </td>


                    <td> 方案模板名称：</td>
                    <td>
                        <input type="text" id="NAME" class="easyui-textbox" style="" />
                    </td>
                    <td>
                        <a href="javascript:Save()" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-save'" style=" margin-left 10px; margin-right:10px">提交方案模板</a>
                        <a href="../SCHEME/Index" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-back'" style=" margin-left 10px; margin-right:10px">返回</a>

                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div data-options="region:'center',title:'',iconCls:'icon-ok',border:false" style="padding:3px;">
        <div class="easyui-layout" data-options="fit:true">

            <div data-options="region:'west',collapsible:false,split:false" title="树选择" style="width: 300px;">
                <ul id="tt" class="easyui-tree" data-options="url:'',method:'get',animate:true,checkbox:true"></ul>
            </div>


            <div data-options="region:'center',split:false" title=" 右侧" style="position:relative">

                <iframe id="mainframe" name="mainframe" frameborder="0" src=""></iframe>
            </div>

        </div>
    </div>




<script type="text/javascript">

    $(function () {

    });
    $(document).ready(function () {       
        bindShiyanshi("#UNDERTAKE_LABORATORYID");
        if ($("#hideUNDERTAKE_LABORATORYID").val() != "") {
            $("#UNDERTAKE_LABORATORYID").val($("#hideUNDERTAKE_LABORATORYID").val()).change();
            ChangeTree($("#hideUNDERTAKE_LABORATORYID").val());
        }
        $('#UNDERTAKE_LABORATORYID').combobox({
            onChange: function (n, o) {
                ChangeTree(n);
            }
        });
        $('#tt').tree({
            onClick: function (node) {
                debugger;
                var ID = $("#hideID").val();
                if ($('#tt').tree('isLeaf', node.target)) {                              
                    if (node.attributes != null && node.attributes.url != null && node.attributes.url.trim() != "") {                        
                        if ($('#tt').tree('isLeaf', node.target))
                        {
                            if (node.checked == false) {

                                $.messager.alert('操作提示', '未勾选【'+node.text+'】检测项无法设置具体内容！', 'warning');
                            }
                            else if(ID.trim()=="")
                            {
                                $.messager.alert('操作提示', '请先提交方案模板', 'warning');
                            }
                            else {
                                $('#mainframe').attr('src', node.attributes.url + "&SCHEMEID=" + ID);
                            }
                        }
                    }                  
                   
                }

            }
        });

    });
    //实验室调整变更树内容
    function ChangeTree(UNDERTAKE_LABORATORYID)
    {       
        var url = "/Res/tree_data1.js";
        //var url = "";
        if (UNDERTAKE_LABORATORYID == "数表三相")
        {
            url = "/Res/tree_data_SBSX.js";
        }
        //$('#tt').tree({
        //    url: url,
        //    loadFilter: function (data) {
        //        return data;
        //    }
        //});
        $('#tt').tree({
            url: url
        });
        
    }

    //数据验证
    function CheckData()
    {
        
        var NAME = $("#NAME").val();//方案名称   
        if ($.trim(NAME) == "") {
            $.messager.alert('操作提示', '请填写方案名称!', 'warning');
            return false;
        }
        var nodes = $('#tt').tree('getChecked');//检测项是否选择
        var IsHaveData = false;
        if (nodes.length > 0)
        {
            for (var i = 0; i < nodes.length; i++) {
                //if (nodes[i].children == undefined) { //是否是最末节点
                if ($('#tt').tree('isLeaf', nodes[i].target))
                {                   
                    IsHaveData = true;
                    break;

                }
            }
        }
        if (!IsHaveData)
        {
            $.messager.alert('操作提示', '请选择检测项!', 'warning');
            return false;
        }      
        
        return true;

    }
    //保存
    function Save()
    {
        if (!CheckData())
        {
            return;
        }
        
        var UNDERTAKE_LABORATORYID = $("#UNDERTAKE_LABORATORYID").val();//实验室
        var NAME = $("#NAME").val();//方案名称           
        var nodes = $('#tt').tree('getChecked');
        var RULEIDs = '';
        for (var i = 0; i < nodes.length; i++) {
            var node=nodes[i];            
            if ($('#tt').tree('isLeaf', node.target))
            {
                if (RULEIDs != '') RULEIDs += ',';
                RULEIDs += node.id;
            }
        }        
        var ID = $("#hideID").val();
        var url='/SCHEME/CreateSave';
        var data='NAME=' + NAME + "&UNDERTAKE_LABORATORYID=" + UNDERTAKE_LABORATORYID + "&RULEIDs=" + RULEIDs;        
        if(ID.trim()!="")
        {
            url = "/SCHEME/UpdateSave";
            data = 'ID=' + ID + '&NAME=' + NAME + "&UNDERTAKE_LABORATORYID=" + UNDERTAKE_LABORATORYID + "&RULEIDs=" + RULEIDs;
        }
        //获取空对象用于保存添加的信息
        $.ajax({
            type: 'post', //使用post方法访问后台
            dataType: "json", //返回json格式的数据
            //url: '/SCHEME/CreateSave', //要访问的后台地址
            url:url,
            contentType: 'application/x-www-form-urlencoded; charset=utf-8', //指定编码方式
            //data: 'NAME=' + NAME + "&UNDERTAKE_LABORATORYID=" + UNDERTAKE_LABORATORYID + "&RULEIDs=" + RULEIDs, //要发送的数据
            data:data,
            beforeSend: function () {
                //InitAlertJS();
            },
            complete: function () {
            }, //AJAX请求完成时隐藏loading提示

            success: function (res) {//msg为返回的数据，在这里做数据绑定               
                if (res.Code == 1) {
                    if ($("#hideID").val().trim() == "") {
                        $("#hideID").val(res.Message);
                    }                   
                    $.messager.alert('操作提示', "操作成功！", 'info');
                }
                else {
                    $.messager.alert('操作提示', res.Message, 'info');
                }
                if ($("#hideID").val()!="")
                {
                    $("#UNDERTAKE_LABORATORYID").attr("disabled", "disabled");                   
                }
               
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                $.messager.alert('操作提示', '操作失败!' + errorThrown.messager, 'warning');
            }
        });  
    }
</script>


